# 01 Homework
© Copyright: 2024, Selma Hadzic, all rights reserved.
#### Number of points: 20 (weights 20% in the final grade)

1. Pull from the `ESMT_2024_DataScraping_Lectures` repository: you should get this `01_Homework` file
2. Launch VS Code and open your working-folder
3. Create a `Session_01` folder, in which you create another folder called `data`
4. Copy paste the notebook `01_Homework` from the lectures repo to the working-folder. Copy the csv file `world_population.csv` into the `working-folder/Session_01/data` directory.
5. Do the exercises on 01_Homework in your working-folder. Keep all cells outputs/results in the notebook to be visible directly.
6. Once you are finished, create a branch named **LASTNAME_firstname** (please use capital letters for the lastname - replace with your own name) in the `ESMT_2024_DataScraping_Students` repository
7. Copy-Paste the notebook into `ESMT_2024_DataScraping_Students` folder in your computer
8. Commit and push your homework in your branch before the deadline. **Push only the notebook, not the csv file!**

#### Deadline: October 18th 08:59 am CET
#### Any missed deadline without justification to the Administration will result in 0 points for this homework.
#### If the Github branch is not correctly named using the indicated format **LASTNAME_firstname**, then a penalty of -5 points will be applied







## World Population

The World Bank Open Data provides the population of the world per country and per year.

**1. Import the pandas package**

In [1]:
import pandas as pd

**2. Load the data as a DataFrame and assign it to a variable called `df`**

In [2]:
df = pd.read_csv('./data/world_population.csv')

**3. Display the first 5 rows**

In [8]:
# To get the first 5 rows
print(df.head(5))

   Rank CCA3 Country/Territory           Capital Continent  2022 Population  \
0    36  AFG       Afghanistan             Kabul      Asia         41128771
1   138  ALB           Albania            Tirana    Europe          2842321
2    34  DZA           Algeria           Algiers    Africa         44903225
3   213  ASM    American Samoa         Pago Pago   Oceania            44273
4   203  AND           Andorra  Andorra la Vella    Europe            79824

   2020 Population  2015 Population  2010 Population  2000 Population  \
0         38972230         33753499         28189672         19542982
1          2866849          2882481          2913399          3182021
2         43451666         39543154         35856344         30774621
3            46189            51368            54849            58230
4            77700            71746            71519            66097

   1990 Population  1980 Population  1970 Population  Area (km²)  \
0         10694796         12486631         10752971      652230
1          3295066          2941651          2324731       28748
2         25518074         18739378         13795915     2381741
3            47818            32886            27075         199
4            53569            35611            19860         468

   Density (per km²)  Growth Rate  World Population Percentage
0            63.0587       1.0257                         0.52
1            98.8702       0.9957                         0.04
2            18.8531       1.0164                         0.56
3           222.4774       0.9831                         0.00
4           170.5641       1.0100                         0.00

**4 Display the last 5 rows**

In [9]:
# To get the last 5 rows
print(df.tail(5))

     Rank CCA3  Country/Territory   Capital Continent  2022 Population  \
229   226  WLF  Wallis and Futuna  Mata-Utu   Oceania            11572
230   172  ESH     Western Sahara  El Aaiún    Africa           575986
231    46  YEM              Yemen     Sanaa      Asia         33696614
232    63  ZMB             Zambia    Lusaka    Africa         20017675
233    74  ZWE           Zimbabwe    Harare    Africa         16320537

     2020 Population  2015 Population  2010 Population  2000 Population  \
229            11655            12182            13142            14723
230           556048           491824           413296           270375
231         32284046         28516545         24743946         18628700
232         18927715         16248230         13792086          9891136
233         15669666         14154937         12839771         11834676

     1990 Population  1980 Population  1970 Population  Area (km²)  \
229            13454            11315             9377         142
230           178529           116775            76371      266000
231         13375121          9204938          6843607      527968
232          7686401          5720438          4281671      752612
233         10113893          7049926          5202918      390757

     Density (per km²)  Growth Rate  World Population Percentage
229            81.4930       0.9953                         0.00
230             2.1654       1.0184                         0.01
231            63.8232       1.0217                         0.42
232            26.5976       1.0280                         0.25
233            41.7665       1.0204                         0.20

**5 Display the number of rows and columns**

In [11]:
# Computing number of rows
rows = len(df.axes[0])
 
# Computing number of columns
cols = len(df.axes[1])
 
print("Number of Rows: ", rows)
print("Number of Columns: ", cols)

Number of Rows:  234
Number of Columns:  17

**6 Show the columns names**

In [14]:
print(df.columns)

Index(['Rank', 'CCA3', 'Country/Territory', 'Capital', 'Continent',
       '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population', 'Area (km²)', 'Density (per km²)',
       'Growth Rate', 'World Population Percentage'],
      dtype='object')

**7 Select only the following columns: 'Continent', 'Country/Territory', 'Capital' and 'World Population Percentage'**

**Assign this new DataFrame to the variable called `df_col`**

In [16]:
# Select specific columns and assign to a new DataFrame
df_col = df[['Continent', 'Country/Territory', 'Capital', 'World Population Percentage']]
print(df_col)

    Continent  Country/Territory           Capital  \
0        Asia        Afghanistan             Kabul
1      Europe            Albania            Tirana
2      Africa            Algeria           Algiers
3     Oceania     American Samoa         Pago Pago
4      Europe            Andorra  Andorra la Vella
..        ...                ...               ...
229   Oceania  Wallis and Futuna          Mata-Utu
230    Africa     Western Sahara          El Aaiún
231      Asia              Yemen             Sanaa
232    Africa             Zambia            Lusaka
233    Africa           Zimbabwe            Harare

     World Population Percentage
0                           0.52
1                           0.04
2                           0.56
3                           0.00
4                           0.00
..                           ...
229                         0.00
230                         0.01
231                         0.42
232                         0.25
233                         0.20

[234 rows x 4 columns]

**8 Filter the DataFrame `df_col` created at the previous step to show only `Germany`**

In [17]:
# Filter the DataFrame to show only Germany
germany_df = df_col[df_col['Country/Territory'] == 'Germany']
print(germany_df)

   Continent Country/Territory Capital  World Population Percentage
74    Europe           Germany  Berlin                         1.05

**9 Filter the DataFrame `df_col` created at step 7 to show only `Albania`, `Kiribati` and `Taiwan`**

_Tip: research `.isin()`_

In [18]:
# Filter the DataFrame to show only Albania, Kiribati, and Taiwan
new_df = df_col[df_col['Country/Territory'].isin(['Albania', 'Kiribati', 'Taiwan'])]
print(new_df)

    Continent Country/Territory Capital  World Population Percentage
1      Europe           Albania  Tirana                         0.04
107   Oceania          Kiribati  Tarawa                         0.00
203      Asia            Taiwan  Taipei                         0.30

**10 Using `df_col` from step 7, display the rows in the DataFrame where the `World Population Percentage is strictly bigger than 17`**

In [19]:
# Filter the DataFrame for World Population Percentage greater than 17
filtered_population = df_col[df_col['World Population Percentage'] > 17]
print(filtered_population)

   Continent Country/Territory    Capital  World Population Percentage
41      Asia             China    Beijing                        17.88
92      Asia             India  New Delhi                        17.77

**10 Using `df_col` from step 7, select all rows where the `World Population Percentage` is strictly lower than 0.05 and the countries are located in `Africa`**

*Tip: use a boolean mask*

In [20]:
# Filter the DataFrame for countries in Africa with World Population Percentage lower than 0.05
africa_population = df_col[(df_col['World Population Percentage'] < 0.05) & (df_col['Continent'] == 'Africa')]

# Display the result
print(africa_population)

    Continent      Country/Territory      Capital  World Population Percentage
26     Africa               Botswana     Gaborone                         0.03
36     Africa             Cape Verde        Praia                         0.01
43     Africa                Comoros       Moroni                         0.01
52     Africa               Djibouti     Djibouti                         0.01
59     Africa      Equatorial Guinea       Malabo                         0.02
62     Africa               Eswatini      Mbabane                         0.02
71     Africa                  Gabon   Libreville                         0.03
72     Africa                 Gambia       Banjul                         0.03
85     Africa          Guinea-Bissau       Bissau                         0.03
113    Africa                Lesotho       Maseru                         0.03
129    Africa              Mauritius   Port Louis                         0.02
130    Africa                Mayotte    Mamoudzou                         0.00
141    Africa                Namibia     Windhoek                         0.03
169    Africa                Reunion  Saint-Denis                         0.01
181    Africa  Sao Tome and Principe     São Tomé                         0.00
185    Africa             Seychelles     Victoria                         0.00
230    Africa         Western Sahara     El Aaiún                         0.01

**11 Filter the `df_col` DataFrame to show only the countries whose name start with the letter `B`**

In [21]:
B = df_col[df_col['Country/Territory'].str.startswith('B')]
print(B)

        Continent       Country/Territory              Capital  \
14  North America                 Bahamas               Nassau
15           Asia                 Bahrain               Manama
16           Asia              Bangladesh                Dhaka
17  North America                Barbados           Bridgetown
18         Europe                 Belarus                Minsk
19         Europe                 Belgium             Brussels
20  North America                  Belize             Belmopan
21         Africa                   Benin           Porto-Novo
22  North America                 Bermuda             Hamilton
23           Asia                  Bhutan              Thimphu
24  South America                 Bolivia                Sucre
25         Europe  Bosnia and Herzegovina             Sarajevo
26         Africa                Botswana             Gaborone
27  South America                  Brazil             Brasilia
28  North America  British Virgin Islands            Road Town
29           Asia                  Brunei  Bandar Seri Begawan
30         Europe                Bulgaria                Sofia
31         Africa            Burkina Faso          Ouagadougou
32         Africa                 Burundi            Bujumbura

    World Population Percentage
14                         0.01
15                         0.02
16                         2.15
17                         0.00
18                         0.12
19                         0.15
20                         0.01
21                         0.17
22                         0.00
23                         0.01
24                         0.15
25                         0.04
26                         0.03
27                         2.70
28                         0.00
29                         0.01
30                         0.09
31                         0.28
32                         0.16

**12 Filter the `df_col` DataFrame to show all the countries whose `World Population Percentage` are between 1 and 3**

*Tip: use `.between()`*

In [22]:
# Filter the DataFrame for World Population Percentage between 1 and 3
country_population = df_col[df_col['World Population Percentage'].between(1, 3)]
print(country_population)

         Continent Country/Territory      Capital  World Population Percentage
16            Asia        Bangladesh        Dhaka                         2.15
27   South America            Brazil     Brasilia                         2.70
55          Africa          DR Congo     Kinshasa                         1.24
57          Africa             Egypt        Cairo                         1.39
63          Africa          Ethiopia  Addis Ababa                         1.55
74          Europe           Germany       Berlin                         1.05
94            Asia              Iran       Tehran                         1.11
102           Asia             Japan        Tokyo                         1.55
131  North America            Mexico  Mexico City                         1.60
149         Africa           Nigeria        Abuja                         2.74
156           Asia          Pakistan    Islamabad                         2.96
163           Asia       Philippines       Manila                         1.45
171         Europe            Russia       Moscow                         1.81
213           Asia            Turkey       Ankara                         1.07
228           Asia           Vietnam        Hanoi                         1.23

**13 Show the unique list of `Continents`**

*Tip: use `.unique()`*

In [23]:
# Get the unique list of continents
unique_continents = df_col['Continent'].unique()
print(unique_continents)

['Asia' 'Europe' 'Africa' 'Oceania' 'North America' 'South America']

**14 Count the number of unique countries**

*Tip: use `.nunique()`*

In [26]:
# Count the number of unique countries
unique_country_count = df['Country/Territory'].nunique()
print(unique_country_count)

234

**15 Using iloc and slicing, show the first 3 rows of the original DataFrame `df`**

In [24]:
# Getting first 3 rows from df 
df_first_3 = df.iloc[:3] 
print(df_first_3)

   Rank CCA3 Country/Territory  Capital Continent  2022 Population  \
0    36  AFG       Afghanistan    Kabul      Asia         41128771
1   138  ALB           Albania   Tirana    Europe          2842321
2    34  DZA           Algeria  Algiers    Africa         44903225

   2020 Population  2015 Population  2010 Population  2000 Population  \
0         38972230         33753499         28189672         19542982
1          2866849          2882481          2913399          3182021
2         43451666         39543154         35856344         30774621

   1990 Population  1980 Population  1970 Population  Area (km²)  \
0         10694796         12486631         10752971      652230
1          3295066          2941651          2324731       28748
2         25518074         18739378         13795915     2381741

   Density (per km²)  Growth Rate  World Population Percentage
0            63.0587       1.0257                         0.52
1            98.8702       0.9957                         0.04
2            18.8531       1.0164                         0.56

**16 Starting from the original DataFrame `df`, create a new DataFrame called `europe` that contains only the countries from Europe**

In [25]:
# Filter the DataFrame to show only Europe
europe = df[df['Continent'] == 'Europe']
print(europe)

     Rank CCA3       Country/Territory           Capital Continent  \
1     138  ALB                 Albania            Tirana    Europe
4     203  AND                 Andorra  Andorra la Vella    Europe
12     99  AUT                 Austria            Vienna    Europe
18     96  BLR                 Belarus             Minsk    Europe
19     81  BEL                 Belgium          Brussels    Europe
25    137  BIH  Bosnia and Herzegovina          Sarajevo    Europe
30    108  BGR                Bulgaria             Sofia    Europe
46    130  HRV                 Croatia            Zagreb    Europe
49    158  CYP                  Cyprus           Nicosia    Europe
50     88  CZE          Czech Republic            Prague    Europe
51    115  DNK                 Denmark        Copenhagen    Europe
61    156  EST                 Estonia           Tallinn    Europe
65    209  FRO           Faroe Islands          Tórshavn    Europe
67    118  FIN                 Finland          Helsinki    Europe
68     23  FRA                  France             Paris    Europe
74     19  DEU                 Germany            Berlin    Europe
76    219  GIB               Gibraltar         Gibraltar    Europe
77     90  GRC                  Greece            Athens    Europe
83    207  GGY                Guernsey  Saint Peter Port    Europe
90     94  HUN                 Hungary          Budapest    Europe
91    179  ISL                 Iceland         Reykjavík    Europe
96    125  IRL                 Ireland            Dublin    Europe
97    202  IMN             Isle of Man           Douglas    Europe
99     25  ITA                   Italy              Rome    Europe
103   195  JEY                  Jersey      Saint Helier    Europe
111   151  LVA                  Latvia              Riga    Europe
116   216  LIE           Liechtenstein             Vaduz    Europe
117   141  LTU               Lithuania           Vilnius    Europe
118   168  LUX              Luxembourg        Luxembourg    Europe
125   173  MLT                   Malta          Valletta    Europe
133   135  MDA                 Moldova          Chisinau    Europe
134   217  MCO                  Monaco            Monaco    Europe
136   169  MNE              Montenegro         Podgorica    Europe
144    71  NLD             Netherlands         Amsterdam    Europe
152   150  MKD         North Macedonia            Skopje    Europe
154   120  NOR                  Norway              Oslo    Europe
164    37  POL                  Poland            Warsaw    Europe
165    92  PRT                Portugal            Lisbon    Europe
170    64  ROU                 Romania         Bucharest    Europe
171     9  RUS                  Russia            Moscow    Europe
180   218  SMR              San Marino        San Marino    Europe
184   105  SRB                  Serbia          Belgrade    Europe
189   116  SVK                Slovakia        Bratislava    Europe
190   148  SVN                Slovenia         Ljubljana    Europe
196    30  ESP                   Spain            Madrid    Europe
200    87  SWE                  Sweden         Stockholm    Europe
201   101  CHE             Switzerland              Bern    Europe
218    38  UKR                 Ukraine              Kiev    Europe
220    21  GBR          United Kingdom            London    Europe
226   234  VAT            Vatican City      Vatican City    Europe

     2022 Population  2020 Population  2015 Population  2010 Population  \
1            2842321          2866849          2882481          2913399
4              79824            77700            71746            71519
12           8939617          8907777          8642421          8362829
18           9534954          9633740          9700609          9731427
19          11655930         11561717         11248303         10877947
25           3233526          3318407          3524324          3811088
30           6781953          6979175          7309253          7592273
46           4030358          4096868          4254815          4368682
49           1251488          1237537          1187280          1129686
50          10493986         10530953         10523798         10464749
51           5882261          5825641          5677796          5550849
61           1326062          1329444          1314657          1331535
65             53090            52415            48816            48410
67           5540745          5529468          5479461          5363271
68          64626628         64480053         63809769         62444567
74          83369843         83328988         82073226         81325090
76             32649            32709            32520            31262
77          10384971         10512232         10806641         11033783
83             63301            62794            61629            60782
90           9967308          9750573          9844246          9986825
91            372899           366669           331060           318333
96           5023109          4946119          4665760          4524585
97             84519            84046            83593            83828
99          59037474         59500579         60232906         59822450
103           110778           108319           100561            96151
111          1850651          1897052          1991955          2101530
116            39327            38756            37355            35926
117          2750055          2820267          2963765          3139019
118           647599           630399           569408           507070
125           533286           515357           456579           418755
133          3272996          3084847          3277388          3678186
134            36469            36922            36760            33178
136           627082           629048           633966           631044
144         17564014         17434557         17041107         16617116
152          2093599          2111072          2107962          2093828
154          5434319          5379839          5190356          4889741
164         39857145         38428366         38553146         38597353
165         10270865         10298192         10365435         10588401
170         19659267         19442038         19906079         20335211
171        144713314        145617329        144668389        143242599
180            33660            34007            33570            31608
184          7221365          7358005          7519496          7653748
189          5643453          5456681          5424444          5396424
190          2119844          2117641          2080862          2057286
196         47558630         47363807         46431342         46572772
200         10549347         10368969          9849349          9381729
201          8740472          8638613          8281732          7822435
218         39701739         43909666         44982564         45683020
220         67508936         67059474         65224364         62760039
226              510              520              564              596

     2000 Population  1990 Population  1980 Population  1970 Population  \
1            3182021          3295066          2941651          2324731
4              66097            53569            35611            19860
12           8010428          7678729          7547561          7465301
18          10256483         10428525          9817257          9170786
19          10264343          9959560          9828986          9629376
25           4179350          4494310          4199820          3815561
30           8097691          8767778          8980606          8582950
46           4548434          4873707          4680144          4492638
49            948237           788500           679327           640804
50          10234710         10301192         10270060          9795744
51           5340655          5144623          5125392          4922963
61           1396877          1570674          1476983          1361999
65             45660            47479            43054            38416
67           5176209          4986545          4779418          4606621
68          58665453         56412897         53713830         50523586
74          81551677         79370196         77786703         78294583
76             27741            27317            28734            26685
77          11038109         10302255          9307148          8544873
83             59114            57727            52860            52656
90          10202055         10375989         10698679         10315366
91            281462           255019           228263           204468
96           3768950          3485374          3391387          2937637
97             75562            68865            64022            55298
99          56966397         56756561         56329482         53324036
103            86192            82874            75124            68347
111          2392530          2689391          2572037          2397414
116            33026            28765            25003            21089
117          3599637          3785847          3521206          3210147
118           435628           381267           363741           339342
125           399212           365392           333587           315414
133          4251573          4480199          4103240          3711140
134            32465            30329            27076            24270
136           633324           621442           589324           530268
144         15899135         14944548         14130387         13037686
152          2037936          2044174          1907023          1656783
154          4491202          4241636          4085776          3875546
164         38504431         38064255         35521429         32482943
165         10300626         10007346          9785252          8683631
170         21919876         22836234         22125224         19922618
171        146844839        148005704        138257420        130093010
180            26823            23132            21346            18169
184          7935022          7987529          7777010          7193533
189          5376690          5261305          4973883          4522867
190          1984339          1986024          1901570          1741286
196         40741651         38889889         37491666         33792617
200          8871043          8548406          8311763          8027702
201          7182059          6711693          6319113          6181227
218         48879755         51589817         49973920         47279086
220         58850043         57210442         56326328         55650166
226              651              700              733              752

     Area (km²)  Density (per km²)  Growth Rate  World Population Percentage
1         28748            98.8702       0.9957                         0.04
4           468           170.5641       1.0100                         0.00
12        83871           106.5877       1.0020                         0.11
18       207600            45.9295       0.9955                         0.12
19        30528           381.8111       1.0038                         0.15
25        51209            63.1437       0.9886                         0.04
30       110879            61.1654       0.9849                         0.09
46        56594            71.2153       0.9927                         0.05
49         9251           135.2814       1.0059                         0.02
50        78865           133.0627       0.9984                         0.13
51        43094           136.4984       1.0048                         0.07
61        45227            29.3201       0.9980                         0.02
65         1393            38.1120       1.0038                         0.00
67       338424            16.3722       1.0009                         0.07
68       551695           117.1419       1.0015                         0.81
74       357114           233.4544       0.9995                         1.05
76            6          5441.5000       0.9994                         0.00
77       131990            78.6800       0.9942                         0.13
83           78           811.5513       1.0037                         0.00
90        93028           107.1431       1.0265                         0.12
91       103000             3.6204       1.0069                         0.00
96        70273            71.4799       1.0073                         0.06
97          572           147.7605       1.0030                         0.00
99       301336           195.9191       0.9966                         0.74
103         116           954.9828       1.0106                         0.00
111       64559            28.6660       0.9876                         0.02
116         160           245.7937       1.0074                         0.00
117       65300            42.1142       0.9869                         0.03
118        2586           250.4250       1.0129                         0.01
125         316          1687.6139       1.0124                         0.01
133       33846            96.7026       1.0691                         0.04
134           2         18234.5000       0.9941                         0.00
136       13812            45.4012       0.9988                         0.01
144       41850           419.6897       1.0036                         0.22
152       25713            81.4218       0.9954                         0.03
154      323802            16.7828       1.0058                         0.07
164      312679           127.4698       1.0404                         0.50
165       92090           111.5307       0.9981                         0.13
170      238391            82.4665       1.0171                         0.25
171    17098242             8.4636       0.9973                         1.81
180          61           551.8033       0.9975                         0.00
184       88361            81.7257       0.9897                         0.09
189       49037           115.0856       1.0359                         0.07
190       20273           104.5649       1.0002                         0.03
196      505992            93.9909       1.0015                         0.60
200      450295            23.4276       1.0079                         0.13
201       41284           211.7157       1.0056                         0.11
218      603500            65.7858       0.9120                         0.50
220      242900           277.9289       1.0034                         0.85
226           1           510.0000       0.9980                         0.00

**17 How many countries in Europe have a 2022 Population strictly smaller than in 1990?**

*Tip: one line of code should suffice*

In [33]:
# Filter the DataFrame for countries in Europe with a 2022 population less than the 1990 population
num_countries = len(europe[europe['2022 Population'] < europe['1990 Population']])
print(num_countries)

15

**18 Based on the provided data, what does `Rank` mean?**

In [34]:
# Give your answer using a comment and add some code to explain why
# The "Rank" column generally indicates the position of a country based on a specific metric, such as population size.
# For example, a Rank of 1 would mean the country has the largest population, Rank 2 the second largest, and so on.
# To demonstrate this, we can sort the DataFrame by population and display the ranks.

# Sort the DataFrame by the '2022 Population' in descending order and reset the index
ranked_countries = df.sort_values(by='2022 Population', ascending=False).reset_index(drop=True)

# Add a Rank column based on the sorted order
ranked_countries['Rank'] = ranked_countries.index + 1

# Display the top countries with their ranks and populations
print(ranked_countries[['Country/Territory', '2022 Population', 'Rank']].head())

  Country/Territory  2022 Population  Rank
0             China       1425887337     1
1             India       1417173173     2
2     United States        338289857     3
3         Indonesia        275501339     4
4          Pakistan        235824862     5

**19 Which has the smallest World Population in 2022?**

*Tip: one line of code should suffice*

In [29]:
# Find the index of the country with the smallest population in 2022 and retrieve the country name and its population
smallest_population_country = df.loc[df['2022 Population'].idxmin(), ['Country/Territory', '2022 Population']]
print(smallest_population_country)

Country/Territory    Vatican City
2022 Population               510
Name: 226, dtype: object

**20 Save the europe DataFrame into a new csv file named `europe_population.csv` in your data folder**

*Tip: make sure to set the index to False*

In [30]:
# Filter the DataFrame for countries in Europe
europe_df = df[df['Continent'] == 'Europe']

In [31]:
# Save the Europe DataFrame to a CSV file without the index
europe_df.to_csv('data/europe_population.csv', index=False)