# 01 Homework
© Copyright: 2024, Selma Hadzic, all rights reserved.
#### Number of points: 20 (weights 20% in the final grade)

1. Pull from the `ESMT_2024_DataScraping_Lectures` repository: you should get this `01_Homework` file
2. Launch VS Code and open your working-folder
3. Create a `Session_01` folder, in which you create another folder called `data`
4. Copy paste the notebook `01_Homework` from the lectures repo to the working-folder. Copy the csv file `world_population.csv` into the `working-folder/Session_01/data` directory.
5. Do the exercises on 01_Homework in your working-folder. Keep all cells outputs/results in the notebook to be visible directly.
6. Once you are finished, create a branch named **LASTNAME_firstname** (please use capital letters for the lastname - replace with your own name) in the `ESMT_2024_DataScraping_Students` repository
7. Copy-Paste the notebook into `ESMT_2024_DataScraping_Students` folder in your computer
8. Commit and push your homework in your branch before the deadline. **Push only the notebook, not the csv file!**

#### Deadline: October 18th 08:59 am CET
#### Any missed deadline without justification to the Administration will result in 0 points for this homework.
#### If the Github branch is not correctly named using the indicated format **LASTNAME_firstname**, then a penalty of -5 points will be applied







## World Population

The World Bank Open Data provides the population of the world per country and per year.

**1. Import the pandas package**

In [74]:
# or directly within the notebook:
!pip install pandas

Requirement already satisfied: pandas in /Users/elizavetaiakovleva/opt/anaconda3/envs/datascraping/lib/python3.9/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /Users/elizavetaiakovleva/opt/anaconda3/envs/datascraping/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/elizavetaiakovleva/opt/anaconda3/envs/datascraping/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/elizavetaiakovleva/opt/anaconda3/envs/datascraping/lib/python3.9/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/elizavetaiakovleva/opt/anaconda3/envs/datascraping/lib/python3.9/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/elizavetaiakovleva/opt/anaconda3/envs/datascraping/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [75]:
import pandas as pd

**2. Load the data as a DataFrame and assign it to a variable called `df`**

In [76]:
df = pd.read_csv('./data/world_population.csv')

**3. Display the first 5 rows**

In [77]:
df.head(5)

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

**4 Display the last 5 rows**

In [78]:
df.tail(5)

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

**5 Display the number of rows and columns**

In [79]:
df.shape

(234, 17)

**6 Show the columns names**

In [80]:
df.columns

Index(['Rank', 'CCA3', 'Country/Territory', 'Capital', 'Continent',
       '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population', 'Area (km²)', 'Density (per km²)',
       'Growth Rate', 'World Population Percentage'],
      dtype='object')

**7 Select only the following columns: 'Continent', 'Country/Territory', 'Capital' and 'World Population Percentage'**

**Assign this new DataFrame to the variable called `df_col`**

In [81]:
df_col = df[['Continent', 'Country/Territory', 'Capital', 'World Population Percentage']]

**8 Filter the DataFrame `df_col` created at the previous step to show only `Germany`**

In [82]:
df_germany = df_col.loc[df_col['Country/Territory'] == 'Germany']
df_germany

   Continent Country/Territory Capital  World Population Percentage
74    Europe           Germany  Berlin                         1.05

**9 Filter the DataFrame `df_col` created at step 7 to show only `Albania`, `Kiribati` and `Taiwan`**

_Tip: research `.isin()`_

In [83]:
countries = ['Albania', 'Kiribati', 'Taiwan']
filtered_df = df[df['Country/Territory'].isin(countries)]
filtered_df

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
107,192,KIR,Kiribati,Tarawa,Oceania,131232,126463,116707,107995,88826,75124,60813,57437,811,161.8150,1.0183,0.00
203,57,TWN,Taiwan,Taipei,Asia,23893394,23821464,23512136,23083083,22194731,20586174,18100281,14957870,36193,660.1662,1.0014,0.30

**10 Using `df_col` from step 7, display the rows in the DataFrame where the `World Population Percentage is strictly bigger than 17`**

In [84]:
df_col_filtered = df_col[df_col['World Population Percentage'] > 17]
df_col_filtered

   Continent Country/Territory    Capital  World Population Percentage
41      Asia             China    Beijing                        17.88
92      Asia             India  New Delhi                        17.77

**10 Using `df_col` from step 7, select all rows where the `World Population Percentage` is strictly lower than 0.05 and the countries are located in `Africa`**

*Tip: use a boolean mask*

In [85]:
df_col_filtered = df_col[(df_col['World Population Percentage'] < 0.05) & (df_col['Continent'] == 'Africa')]
df_col_filtered

    Continent      Country/Territory      Capital  World Population Percentage
26     Africa               Botswana     Gaborone                         0.03
36     Africa             Cape Verde        Praia                         0.01
43     Africa                Comoros       Moroni                         0.01
52     Africa               Djibouti     Djibouti                         0.01
59     Africa      Equatorial Guinea       Malabo                         0.02
62     Africa               Eswatini      Mbabane                         0.02
71     Africa                  Gabon   Libreville                         0.03
72     Africa                 Gambia       Banjul                         0.03
85     Africa          Guinea-Bissau       Bissau                         0.03
113    Africa                Lesotho       Maseru                         0.03
129    Africa              Mauritius   Port Louis                         0.02
130    Africa                Mayotte    Mamoudzou                         0.00
141    Africa                Namibia     Windhoek                         0.03
169    Africa                Reunion  Saint-Denis                         0.01
181    Africa  Sao Tome and Principe     São Tomé                         0.00
185    Africa             Seychelles     Victoria                         0.00
230    Africa         Western Sahara     El Aaiún                         0.01

**11 Filter the `df_col` DataFrame to show only the countries whose name start with the letter `B`**

In [86]:
df_col_filtered = df_col[df_col['Country/Territory'].str.startswith('B')]
df_col_filtered

,Continent,Country/Territory,Capital,World Population Percentage
14,North America,Bahamas,Nassau,0.01
15,Asia,Bahrain,Manama,0.02
16,Asia,Bangladesh,Dhaka,2.15
17,North America,Barbados,Bridgetown,0.00
18,Europe,Belarus,Minsk,0.12
19,Europe,Belgium,Brussels,0.15
20,North America,Belize,Belmopan,0.01
21,Africa,Benin,Porto-Novo,0.17
22,North America,Bermuda,Hamilton,0.00
23,Asia,Bhutan,Thimphu,0.01
24,South America,Bolivia,Sucre,0.15
25,Europe,Bosnia and Herzegovina,Sarajevo,0.04
26,Africa,Botswana,Gaborone,0.03
27,South America,Brazil,Brasilia,2.70
28,North America,British Virgin Islands,Road Town,0.00
29,Asia,Brunei,Bandar Seri Begawan,0.01
30,Europe,Bulgaria,Sofia,0.09
31,Africa,Burkina Faso,Ouagadougou,0.28
32,Africa,Burundi,Bujumbura,0.16

**12 Filter the `df_col` DataFrame to show all the countries whose `World Population Percentage` are between 1 and 3**

*Tip: use `.between()`*

In [87]:
df_col_filtered = df_col[df_col['World Population Percentage'].between(1, 3)]
df_col_filtered

         Continent Country/Territory      Capital  World Population Percentage
16            Asia        Bangladesh        Dhaka                         2.15
27   South America            Brazil     Brasilia                         2.70
55          Africa          DR Congo     Kinshasa                         1.24
57          Africa             Egypt        Cairo                         1.39
63          Africa          Ethiopia  Addis Ababa                         1.55
74          Europe           Germany       Berlin                         1.05
94            Asia              Iran       Tehran                         1.11
102           Asia             Japan        Tokyo                         1.55
131  North America            Mexico  Mexico City                         1.60
149         Africa           Nigeria        Abuja                         2.74
156           Asia          Pakistan    Islamabad                         2.96
163           Asia       Philippines       Manila                         1.45
171         Europe            Russia       Moscow                         1.81
213           Asia            Turkey       Ankara                         1.07
228           Asia           Vietnam        Hanoi                         1.23

**13 Show the unique list of `Continents`**

*Tip: use `.unique()`*

In [88]:
df_col_filtered = df_col['Continent'].unique()
print(df_col_filtered)

['Asia' 'Europe' 'Africa' 'Oceania' 'North America' 'South America']

**14 Count the number of unique countries**

*Tip: use `.nunique()`*

In [89]:
df_col_filtered = df_col['Continent'].nunique()
print(df_col_filtered)

6

**15 Using iloc and slicing, show the first 3 rows of the original DataFrame `df`**

In [90]:
first_three_rows = df.iloc[:3]
first_three_rows

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56

**16 Starting from the original DataFrame `df`, create a new DataFrame called `europe` that contains only the countries from Europe**

In [91]:
europe = df[df['Continent'] == 'Europe']

**17 How many countries in Europe have a 2022 Population strictly smaller than in 1990?**

*Tip: one line of code should suffice*

In [92]:
europe_population_smaller = europe[europe['2022 Population'] < europe['1990 Population']]
europe_population_smaller #.shape[0]

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
18,96,BLR,Belarus,Minsk,Europe,9534954,9633740,9700609,9731427,10256483,10428525,9817257,9170786,207600,45.9295,0.9955,0.12
25,137,BIH,Bosnia and Herzegovina,Sarajevo,Europe,3233526,3318407,3524324,3811088,4179350,4494310,4199820,3815561,51209,63.1437,0.9886,0.04
30,108,BGR,Bulgaria,Sofia,Europe,6781953,6979175,7309253,7592273,8097691,8767778,8980606,8582950,110879,61.1654,0.9849,0.09
46,130,HRV,Croatia,Zagreb,Europe,4030358,4096868,4254815,4368682,4548434,4873707,4680144,4492638,56594,71.2153,0.9927,0.05
61,156,EST,Estonia,Tallinn,Europe,1326062,1329444,1314657,1331535,1396877,1570674,1476983,1361999,45227,29.3201,0.9980,0.02
90,94,HUN,Hungary,Budapest,Europe,9967308,9750573,9844246,9986825,10202055,10375989,10698679,10315366,93028,107.1431,1.0265,0.12
111,151,LVA,Latvia,Riga,Europe,1850651,1897052,1991955,2101530,2392530,2689391,2572037,2397414,64559,28.6660,0.9876,0.02
117,141,LTU,Lithuania,Vilnius,Europe,2750055,2820267,2963765,3139019,3599637,3785847,3521206,3210147,65300,42.1142,0.9869,0.03
133,135,MDA,Moldova,Chisinau,Europe,3272996,3084847,3277388,3678186,4251573,4480199,4103240,3711140,33846,96.7026,1.0691,0.04
170,64,ROU,Romania,Bucharest,Europe,19659267,19442038,19906079,20335211,21919876,22836234,22125224,19922618,238391,82.4665,1.0171,0.25
171,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
184,105,SRB,Serbia,Belgrade,Europe,7221365,7358005,7519496,7653748,7935022,7987529,7777010,7193533,88361,81.7257,0.9897,0.09
218,38,UKR,Ukraine,Kiev,Europe,39701739,43909666,44982564,45683020,48879755,51589817,49973920,47279086,603500,65.7858,0.9120,0.50
226,234,VAT,Vatican City,Vatican City,Europe,510,520,564,596,651,700,733,752,1,510.0000,0.9980,0.00

**18 Based on the provided data, what does `Rank` mean?**

In [93]:
#Rank is the population ranking in the world. 
first_nine_populations = df.sort_values(by='2022 Population', ascending=False).head(9)
first_nine_populations

#here we can see that Russia is number 9, which equals to the previous table. which is the evidence that rank is showing the population ranking in 2022

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
93,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
156,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
149,6,NGA,Nigeria,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74
27,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
16,8,BGD,Bangladesh,Dhaka,Asia,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570,1160.0350,1.0108,2.15
171,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81

**19 Which has the smallest World Population in 2022?**

*Tip: one line of code should suffice*

In [94]:
last_populations = df.sort_values(by='2022 Population', ascending=False).tail(235)
last_populations

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
93,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
156,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,230,MSR,Montserrat,Brades,North America,4390,4500,5059,4938,5138,10805,11452,11402,102,43.0392,0.9939,0.00
64,231,FLK,Falkland Islands,Stanley,South America,3780,3747,3408,3187,3080,2332,2240,2274,12173,0.3105,1.0043,0.00
150,232,NIU,Niue,Alofi,Oceania,1934,1942,1847,1812,2074,2533,3637,5185,260,7.4385,0.9985,0.00
209,233,TKL,Tokelau,Nukunonu,Oceania,1871,1827,1454,1367,1666,1669,1647,1714,12,155.9167,1.0119,0.00
226,234,VAT,Vatican City,Vatican City,Europe,510,520,564,596,651,700,733,752,1,510.0000,0.9980,0.00

**20 Save the europe DataFrame into a new csv file named `europe_population.csv` in your data folder**

*Tip: make sure to set the index to False*

In [95]:
europe.to_csv('europe_population.csv', index=False)