# 01 Homework
© Copyright: 2024, Selma Hadzic, all rights reserved.
#### Number of points: 20 (weights 20% in the final grade)

1. Pull from the `ESMT_2024_DataScraping_Lectures` repository: you should get this `01_Homework` file
2. Launch VS Code and open your working-folder
3. Create a `Session_01` folder, in which you create another folder called `data`
4. Copy paste the notebook `01_Homework` from the lectures repo to the working-folder. Copy the csv file `world_population.csv` into the `working-folder/Session_01/data` directory.
5. Do the exercises on 01_Homework in your working-folder. Keep all cells outputs/results in the notebook to be visible directly.
6. Once you are finished, create a branch named **LASTNAME_firstname** (please use capital letters for the lastname - replace with your own name) in the `ESMT_2024_DataScraping_Students` repository
7. Copy-Paste the notebook into `ESMT_2024_DataScraping_Students` folder in your computer
8. Commit and push your homework in your branch before the deadline. **Push only the notebook, not the csv file!**

#### Deadline: October 18th 08:59 am CET
#### Any missed deadline without justification to the Administration will result in 0 points for this homework.
#### If the Github branch is not correctly named using the indicated format **LASTNAME_firstname**, then a penalty of -5 points will be applied







## World Population

The World Bank Open Data provides the population of the world per country and per year.

**1. Import the pandas package**

In [2]:
import pandas as pd

**2. Load the data as a DataFrame and assign it to a variable called `df`**

In [3]:
df = pd.read_csv('./data/world_population.csv')

**3. Display the first 5 rows**

In [4]:
df.head(5)

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

**4 Display the last 5 rows**

In [5]:
df.tail(5)

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

**5 Display the number of rows and columns**

In [6]:
df.shape

(234, 17)

**6 Show the columns names**

In [12]:
df.columns

Index(['Rank', 'CCA3', 'Country/Territory', 'Capital', 'Continent',
       '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population', 'Area (km²)', 'Density (per km²)',
       'Growth Rate', 'World Population Percentage'],
      dtype='object')

**7 Select only the following columns: 'Continent', 'Country/Territory', 'Capital' and 'World Population Percentage'**

**Assign this new DataFrame to the variable called `df_col`**

In [15]:
df_col = df[['Continent', 'Country/Territory', 'Capital','World Population Percentage']]

df_col

# Single Bracket ([]): Select a Single Column -> returns a Series
# Double Brackets ([[]]): Select Multiple Columns -> returns a DataFrame

,Continent,Country/Territory,Capital,World Population Percentage
0,Asia,Afghanistan,Kabul,0.52
1,Europe,Albania,Tirana,0.04
2,Africa,Algeria,Algiers,0.56
3,Oceania,American Samoa,Pago Pago,0.00
4,Europe,Andorra,Andorra la Vella,0.00
...,...,...,...,...
229,Oceania,Wallis and Futuna,Mata-Utu,0.00
230,Africa,Western Sahara,El Aaiún,0.01
231,Asia,Yemen,Sanaa,0.42
232,Africa,Zambia,Lusaka,0.25
233,Africa,Zimbabwe,Harare,0.20

**8 Filter the DataFrame `df_col` created at the previous step to show only `Germany`**

In [16]:
germany = df_col[df_col["Country/Territory"] == "Germany"]

germany

   Continent Country/Territory Capital  World Population Percentage
74    Europe           Germany  Berlin                         1.05

**9 Filter the DataFrame `df_col` created at step 7 to show only `Albania`, `Kiribati` and `Taiwan`**

_Tip: research `.isin()`_

In [17]:
df_col[df_col["Country/Territory"].isin(["Albania", "Kiribati", "Taiwan"])]

    Continent Country/Territory Capital  World Population Percentage
1      Europe           Albania  Tirana                         0.04
107   Oceania          Kiribati  Tarawa                         0.00
203      Asia            Taiwan  Taipei                         0.30

**10 Using `df_col` from step 7, display the rows in the DataFrame where the `World Population Percentage is strictly bigger than 17`**

In [18]:
df[df["World Population Percentage"] > 17]

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77

**10 Using `df_col` from step 7, select all rows where the `World Population Percentage` is strictly lower than 0.05 and the countries are located in `Africa`**

*Tip: use a boolean mask*

In [20]:
df[(df["World Population Percentage"] < 0.05) & (df_col["Continent"] == "Africa")]

# https://jakevdp.github.io/PythonDataScienceHandbook/02.06-boolean-arrays-and-masks.html
# e.g. x[x > 5] -> masking operation

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
26,144,BWA,Botswana,Gaborone,Africa,2630296,2546402,2305171,2091664,1726985,1341474,938578,592244,582000,4.5194,1.0162,0.03
36,171,CPV,Cape Verde,Praia,Africa,593149,582640,552166,521212,458251,364563,317234,287262,4033,147.0739,1.0089,0.01
43,163,COM,Comoros,Moroni,Africa,836774,806166,730216,656024,536758,431119,328328,242351,1862,449.3953,1.0184,0.01
52,160,DJI,Djibouti,Djibouti,Africa,1120849,1090156,1006259,919199,742033,577173,324121,144379,23200,48.3125,1.0138,0.01
59,152,GNQ,Equatorial Guinea,Malabo,Africa,1674908,1596049,1346973,1094524,684977,465549,282509,316955,28051,59.7094,1.0247,0.02
62,159,SWZ,Eswatini,Mbabane,Africa,1201670,1180655,1133936,1099920,1030496,854011,598564,442865,17364,69.2047,1.0079,0.02
71,146,GAB,Gabon,Libreville,Africa,2388992,2292573,2028517,1711105,1272935,983028,749078,597192,267668,8.9252,1.0204,0.03
72,142,GMB,Gambia,Banjul,Africa,2705992,2573995,2253133,1937275,1437539,1040616,718586,528731,10689,253.1567,1.0250,0.03
85,149,GNB,Guinea-Bissau,Bissau,Africa,2105566,2015828,1788919,1567220,1230849,973551,831462,591663,36125,58.2856,1.0218,0.03
113,147,LSO,Lesotho,Maseru,Africa,2305825,2254100,2118521,2022747,1998630,1798997,1407672,1023481,30355,75.9620,1.0107,0.03
129,157,MUS,Mauritius,Port Louis,Africa,1299469,1297828,1293153,1283330,1215930,1090290,954865,830115,2040,636.9946,1.0004,0.02
130,182,MYT,Mayotte,Mamoudzou,Africa,326101,305587,249545,211786,159215,92659,52233,35383,374,871.9278,1.0319,0.00
141,145,NAM,Namibia,Windhoek,Africa,2567012,2489098,2282704,2099271,1819141,1369011,975994,754467,825615,3.1092,1.0146,0.03
169,161,REU,Reunion,Saint-Denis,Africa,974052,957822,922495,890130,785424,658992,551674,473925,2511,387.9140,1.0082,0.01
181,187,STP,Sao Tome and Principe,São Tomé,Africa,227380,218641,201124,182138,143714,120343,97210,77583,964,235.8714,1.0192,0.00
185,196,SYC,Seychelles,Victoria,Africa,107118,105530,99240,92409,80060,71057,65290,54379,452,236.9867,1.0061,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01

**11 Filter the `df_col` DataFrame to show only the countries whose name start with the letter `B`**

In [21]:
df_col[df_col["Country/Territory"].str.startswith("B")]

,Continent,Country/Territory,Capital,World Population Percentage
14,North America,Bahamas,Nassau,0.01
15,Asia,Bahrain,Manama,0.02
16,Asia,Bangladesh,Dhaka,2.15
17,North America,Barbados,Bridgetown,0.00
18,Europe,Belarus,Minsk,0.12
19,Europe,Belgium,Brussels,0.15
20,North America,Belize,Belmopan,0.01
21,Africa,Benin,Porto-Novo,0.17
22,North America,Bermuda,Hamilton,0.00
23,Asia,Bhutan,Thimphu,0.01
24,South America,Bolivia,Sucre,0.15
25,Europe,Bosnia and Herzegovina,Sarajevo,0.04
26,Africa,Botswana,Gaborone,0.03
27,South America,Brazil,Brasilia,2.70
28,North America,British Virgin Islands,Road Town,0.00
29,Asia,Brunei,Bandar Seri Begawan,0.01
30,Europe,Bulgaria,Sofia,0.09
31,Africa,Burkina Faso,Ouagadougou,0.28
32,Africa,Burundi,Bujumbura,0.16

**12 Filter the `df_col` DataFrame to show all the countries whose `World Population Percentage` are between 1 and 3**

*Tip: use `.between()`*

In [23]:
df_col[df_col["World Population Percentage"].between(1, 3)]

         Continent Country/Territory      Capital  World Population Percentage
16            Asia        Bangladesh        Dhaka                         2.15
27   South America            Brazil     Brasilia                         2.70
55          Africa          DR Congo     Kinshasa                         1.24
57          Africa             Egypt        Cairo                         1.39
63          Africa          Ethiopia  Addis Ababa                         1.55
74          Europe           Germany       Berlin                         1.05
94            Asia              Iran       Tehran                         1.11
102           Asia             Japan        Tokyo                         1.55
131  North America            Mexico  Mexico City                         1.60
149         Africa           Nigeria        Abuja                         2.74
156           Asia          Pakistan    Islamabad                         2.96
163           Asia       Philippines       Manila                         1.45
171         Europe            Russia       Moscow                         1.81
213           Asia            Turkey       Ankara                         1.07
228           Asia           Vietnam        Hanoi                         1.23

**13 Show the unique list of `Continents`**

*Tip: use `.unique()`*

In [33]:
print(df_col["Continent"].unique())

# df_col["Continent"].unique() -> shows array
# print(df_col["Continent"].unique()) -> shows list

['Asia' 'Europe' 'Africa' 'Oceania' 'North America' 'South America']

**14 Count the number of unique countries**

*Tip: use `.nunique()`*

In [34]:
df_col["Country/Territory"].nunique()

234

**15 Using iloc and slicing, show the first 3 rows of the original DataFrame `df`**

In [35]:
df.iloc[:3]

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56

**16 Starting from the original DataFrame `df`, create a new DataFrame called `europe` that contains only the countries from Europe**

In [36]:
europe = df[df["Continent"] == "Europe"]

europe

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
12,99,AUT,Austria,Vienna,Europe,8939617,8907777,8642421,8362829,8010428,7678729,7547561,7465301,83871,106.5877,1.0020,0.11
18,96,BLR,Belarus,Minsk,Europe,9534954,9633740,9700609,9731427,10256483,10428525,9817257,9170786,207600,45.9295,0.9955,0.12
19,81,BEL,Belgium,Brussels,Europe,11655930,11561717,11248303,10877947,10264343,9959560,9828986,9629376,30528,381.8111,1.0038,0.15
25,137,BIH,Bosnia and Herzegovina,Sarajevo,Europe,3233526,3318407,3524324,3811088,4179350,4494310,4199820,3815561,51209,63.1437,0.9886,0.04
30,108,BGR,Bulgaria,Sofia,Europe,6781953,6979175,7309253,7592273,8097691,8767778,8980606,8582950,110879,61.1654,0.9849,0.09
46,130,HRV,Croatia,Zagreb,Europe,4030358,4096868,4254815,4368682,4548434,4873707,4680144,4492638,56594,71.2153,0.9927,0.05
49,158,CYP,Cyprus,Nicosia,Europe,1251488,1237537,1187280,1129686,948237,788500,679327,640804,9251,135.2814,1.0059,0.02
50,88,CZE,Czech Republic,Prague,Europe,10493986,10530953,10523798,10464749,10234710,10301192,10270060,9795744,78865,133.0627,0.9984,0.13
51,115,DNK,Denmark,Copenhagen,Europe,5882261,5825641,5677796,5550849,5340655,5144623,5125392,4922963,43094,136.4984,1.0048,0.07
61,156,EST,Estonia,Tallinn,Europe,1326062,1329444,1314657,1331535,1396877,1570674,1476983,1361999,45227,29.3201,0.9980,0.02
65,209,FRO,Faroe Islands,Tórshavn,Europe,53090,52415,48816,48410,45660,47479,43054,38416,1393,38.1120,1.0038,0.00
67,118,FIN,Finland,Helsinki,Europe,5540745,5529468,5479461,5363271,5176209,4986545,4779418,4606621,338424,16.3722,1.0009,0.07
68,23,FRA,France,Paris,Europe,64626628,64480053,63809769,62444567,58665453,56412897,53713830,50523586,551695,117.1419,1.0015,0.81
74,19,DEU,Germany,Berlin,Europe,83369843,83328988,82073226,81325090,81551677,79370196,77786703,78294583,357114,233.4544,0.9995,1.05
76,219,GIB,Gibraltar,Gibraltar,Europe,32649,32709,32520,31262,27741,27317,28734,26685,6,5441.5000,0.9994,0.00
77,90,GRC,Greece,Athens,Europe,10384971,10512232,10806641,11033783,11038109,10302255,9307148,8544873,131990,78.6800,0.9942,0.13
83,207,GGY,Guernsey,Saint Peter Port,Europe,63301,62794,61629,60782,59114,57727,52860,52656,78,811.5513,1.0037,0.00
90,94,HUN,Hungary,Budapest,Europe,9967308,9750573,9844246,9986825,10202055,10375989,10698679,10315366,93028,107.1431,1.0265,0.12
91,179,ISL,Iceland,Reykjavík,Europe,372899,366669,331060,318333,281462,255019,228263,204468,103000,3.6204,1.0069,0.00
96,125,IRL,Ireland,Dublin,Europe,5023109,4946119,4665760,4524585,3768950,3485374,3391387,2937637,70273,71.4799,1.0073,0.06
97,202,IMN,Isle of Man,Douglas,Europe,84519,84046,83593,83828,75562,68865,64022,55298,572,147.7605,1.0030,0.00
99,25,ITA,Italy,Rome,Europe,59037474,59500579,60232906,59822450,56966397,56756561,56329482,53324036,301336,195.9191,0.9966,0.74
103,195,JEY,Jersey,Saint Helier,Europe,110778,108319,100561,96151,86192,82874,75124,68347,116,954.9828,1.0106,0.00
111,151,LVA,Latvia,Riga,Europe,1850651,1897052,1991955,2101530,2392530,2689391,2572037,2397414,64559,28.6660,0.9876,0.02
116,216,LIE,Liechtenstein,Vaduz,Europe,39327,38756,37355,35926,33026,28765,25003,21089,160,245.7937,1.0074,0.00
117,141,LTU,Lithuania,Vilnius,Europe,2750055,2820267,2963765,3139019,3599637,3785847,3521206,3210147,65300,42.1142,0.9869,0.03
118,168,LUX,Luxembourg,Luxembourg,Europe,647599,630399,569408,507070,435628,381267,363741,339342,2586,250.4250,1.0129,0.01
125,173,MLT,Malta,Valletta,Europe,533286,515357,456579,418755,399212,365392,333587,315414,316,1687.6139,1.0124,0.01
133,135,MDA,Moldova,Chisinau,Europe,3272996,3084847,3277388,3678186,4251573,4480199,4103240,3711140,33846,96.7026,1.0691,0.04
134,217,MCO,Monaco,Monaco,Europe,36469,36922,36760,33178,32465,30329,27076,24270,2,18234.5000,0.9941,0.00
136,169,MNE,Montenegro,Podgorica,Europe,627082,629048,633966,631044,633324,621442,589324,530268,13812,45.4012,0.9988,0.01
144,71,NLD,Netherlands,Amsterdam,Europe,17564014,17434557,17041107,16617116,15899135,14944548,14130387,13037686,41850,419.6897,1.0036,0.22
152,150,MKD,North Macedonia,Skopje,Europe,2093599,2111072,2107962,2093828,2037936,2044174,1907023,1656783,25713,81.4218,0.9954,0.03
154,120,NOR,Norway,Oslo,Europe,5434319,5379839,5190356,4889741,4491202,4241636,4085776,3875546,323802,16.7828,1.0058,0.07
164,37,POL,Poland,Warsaw,Europe,39857145,38428366,38553146,38597353,38504431,38064255,35521429,32482943,312679,127.4698,1.0404,0.50
165,92,PRT,Portugal,Lisbon,Europe,10270865,10298192,10365435,10588401,10300626,10007346,9785252,8683631,92090,111.5307,0.9981,0.13
170,64,ROU,Romania,Bucharest,Europe,19659267,19442038,19906079,20335211,21919876,22836234,22125224,19922618,238391,82.4665,1.0171,0.25
171,9,RUS,Russia,Moscow,Europe,144713314,145617329,144668389,143242599,146844839,148005704,138257420,130093010,17098242,8.4636,0.9973,1.81
180,218,SMR,San Marino,San Marino,Europe,33660,34007,33570,31608,26823,23132,21346,18169,61,551.8033,0.9975,0.00
184,105,SRB,Serbia,Belgrade,Europe,7221365,7358005,7519496,7653748,7935022,7987529,7777010,7193533,88361,81.7257,0.9897,0.09
189,116,SVK,Slovakia,Bratislava,Europe,5643453,5456681,5424444,5396424,5376690,5261305,4973883,4522867,49037,115.0856,1.0359,0.07
190,148,SVN,Slovenia,Ljubljana,Europe,2119844,2117641,2080862,2057286,1984339,1986024,1901570,1741286,20273,104.5649,1.0002,0.03
196,30,ESP,Spain,Madrid,Europe,47558630,47363807,46431342,46572772,40741651,38889889,37491666,33792617,505992,93.9909,1.0015,0.60
200,87,SWE,Sweden,Stockholm,Europe,10549347,10368969,9849349,9381729,8871043,8548406,8311763,8027702,450295,23.4276,1.0079,0.13
201,101,CHE,Switzerland,Bern,Europe,8740472,8638613,8281732,7822435,7182059,6711693,6319113,6181227,41284,211.7157,1.0056,0.11
218,38,UKR,Ukraine,Kiev,Europe,39701739,43909666,44982564,45683020,48879755,51589817,49973920,47279086,603500,65.7858,0.9120,0.50
220,21,GBR,United Kingdom,London,Europe,67508936,67059474,65224364,62760039,58850043,57210442,56326328,55650166,242900,277.9289,1.0034,0.85
226,234,VAT,Vatican City,Vatican City,Europe,510,520,564,596,651,700,733,752,1,510.0000,0.9980,0.00

**17 How many countries in Europe have a 2022 Population strictly smaller than in 1990?**

*Tip: one line of code should suffice*

In [52]:
europe[europe["2022 Population"] < europe["1990 Population"]].shape[0]

# .shape returns a tuple of containing the dimensions of the dataframe
# [0] is used to index the first element of the tuple ("zero-indexing") which contains the number of rows

15

**18 Based on the provided data, what does `Rank` mean?**

In [58]:
# Give your answer using a comment and add some code to explain why
df_ranked = df.sort_values(by="Rank")

df_ranked

# The values in the column "Rank" seem to sort the countries in descending order 
# by their individual share of the worlds population in 2022 
# (cf. columns "2022 Population" and "World Population Percentage")

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
93,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
156,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,230,MSR,Montserrat,Brades,North America,4390,4500,5059,4938,5138,10805,11452,11402,102,43.0392,0.9939,0.00
64,231,FLK,Falkland Islands,Stanley,South America,3780,3747,3408,3187,3080,2332,2240,2274,12173,0.3105,1.0043,0.00
150,232,NIU,Niue,Alofi,Oceania,1934,1942,1847,1812,2074,2533,3637,5185,260,7.4385,0.9985,0.00
209,233,TKL,Tokelau,Nukunonu,Oceania,1871,1827,1454,1367,1666,1669,1647,1714,12,155.9167,1.0119,0.00
226,234,VAT,Vatican City,Vatican City,Europe,510,520,564,596,651,700,733,752,1,510.0000,0.9980,0.00

**19 Which has the smallest World Population in 2022?**

*Tip: one line of code should suffice*

In [61]:
df_ranked.tail(1)

# Or
# df.nlargest(1, "Rank")
# respectively df.nsmallest(1, "Rank") for the highest ranked

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
226,234,VAT,Vatican City,Vatican City,Europe,510,520,564,596,651,700,733,752,1,510.0,0.998,0.0

**20 Save the europe DataFrame into a new csv file named `europe_population.csv` in your data folder**

*Tip: make sure to set the index to False*

In [64]:
europe.to_csv('./data/europe_population.csv', index=False)