# 01 Homework
© Copyright: 2024, Selma Hadzic, all rights reserved.
#### Number of points: 20 (weights 20% in the final grade)

1. Pull from the `ESMT_2024_DataScraping_Lectures` repository: you should get this `01_Homework` file
2. Launch VS Code and open your working-folder
3. Create a `Session_01` folder, in which you create another folder called `data`
4. Copy paste the notebook `01_Homework` from the lectures repo to the working-folder. Copy the csv file `world_population.csv` into the `working-folder/Session_01/data` directory.
5. Do the exercises on 01_Homework in your working-folder. Keep all cells outputs/results in the notebook to be visible directly.
6. Once you are finished, create a branch named **LASTNAME_firstname** (please use capital letters for the lastname - replace with your own name) in the `ESMT_2024_DataScraping_Students` repository
7. Copy-Paste the notebook into `ESMT_2024_DataScraping_Students` folder in your computer
8. Commit and push your homework in your branch before the deadline. **Push only the notebook, not the csv file!**

#### Deadline: October 18th 08:59 am CET
#### Any missed deadline without justification to the Administration will result in 0 points for this homework.
#### If the Github branch is not correctly named using the indicated format **LASTNAME_firstname**, then a penalty of -5 points will be applied







## World Population

The World Bank Open Data provides the population of the world per country and per year.

**1. Import the pandas package**

In [1]:
import pandas as pd

**2. Load the data as a DataFrame and assign it to a variable called `df`**

In [2]:
df = pd.read_csv('data/world_population.csv')

**3. Display the first 5 rows**

In [3]:
print(df.head(5))

   Rank CCA3 Country/Territory           Capital Continent  2022 Population  \
0    36  AFG       Afghanistan             Kabul      Asia         41128771
1   138  ALB           Albania            Tirana    Europe          2842321
2    34  DZA           Algeria           Algiers    Africa         44903225
3   213  ASM    American Samoa         Pago Pago   Oceania            44273
4   203  AND           Andorra  Andorra la Vella    Europe            79824

   2020 Population  2015 Population  2010 Population  2000 Population  \
0         38972230         33753499         28189672         19542982
1          2866849          2882481          2913399          3182021
2         43451666         39543154         35856344         30774621
3            46189            51368            54849            58230
4            77700            71746            71519            66097

   1990 Population  1980 Population  1970 Population  Area (km²)  \
0         10694796         12486631         10752971      652230
1          3295066          2941651          2324731       28748
2         25518074         18739378         13795915     2381741
3            47818            32886            27075         199
4            53569            35611            19860         468

   Density (per km²)  Growth Rate  World Population Percentage
0            63.0587       1.0257                         0.52
1            98.8702       0.9957                         0.04
2            18.8531       1.0164                         0.56
3           222.4774       0.9831                         0.00
4           170.5641       1.0100                         0.00

**4 Display the last 5 rows**

In [4]:
print(df.tail(5))

     Rank CCA3  Country/Territory   Capital Continent  2022 Population  \
229   226  WLF  Wallis and Futuna  Mata-Utu   Oceania            11572
230   172  ESH     Western Sahara  El Aaiún    Africa           575986
231    46  YEM              Yemen     Sanaa      Asia         33696614
232    63  ZMB             Zambia    Lusaka    Africa         20017675
233    74  ZWE           Zimbabwe    Harare    Africa         16320537

     2020 Population  2015 Population  2010 Population  2000 Population  \
229            11655            12182            13142            14723
230           556048           491824           413296           270375
231         32284046         28516545         24743946         18628700
232         18927715         16248230         13792086          9891136
233         15669666         14154937         12839771         11834676

     1990 Population  1980 Population  1970 Population  Area (km²)  \
229            13454            11315             9377         142
230           178529           116775            76371      266000
231         13375121          9204938          6843607      527968
232          7686401          5720438          4281671      752612
233         10113893          7049926          5202918      390757

     Density (per km²)  Growth Rate  World Population Percentage
229            81.4930       0.9953                         0.00
230             2.1654       1.0184                         0.01
231            63.8232       1.0217                         0.42
232            26.5976       1.0280                         0.25
233            41.7665       1.0204                         0.20

**5 Display the number of rows and columns**

In [5]:
num_rows, num_cols = df.shape
print("\nNumber of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 234
Number of columns: 17

**6 Show the columns names**

In [6]:
df.columns

Index(['Rank', 'CCA3', 'Country/Territory', 'Capital', 'Continent',
       '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population', 'Area (km²)', 'Density (per km²)',
       'Growth Rate', 'World Population Percentage'],
      dtype='object')

**7 Select only the following columns: 'Continent', 'Country/Territory', 'Capital' and 'World Population Percentage'**

**Assign this new DataFrame to the variable called `df_col`**

In [7]:
df_col = df[['Continent', 'Country/Territory', 'Capital', 'World Population Percentage']]

**8 Filter the DataFrame `df_col` created at the previous step to show only `Germany`**

In [32]:
g_data = df_col[df_col['Country/Territory'] == 'Germany']
print(g_data)

   Continent Country/Territory Capital  World Population Percentage
74    Europe           Germany  Berlin                         1.05

**9 Filter the DataFrame `df_col` created at step 7 to show only `Albania`, `Kiribati` and `Taiwan`**

_Tip: research `.isin()`_

In [11]:
specific_countries = df_col[df_col['Country/Territory'].isin(['Albania', 'Kiribati', 'Taiwan'])]
print(specific_countries)

    Continent Country/Territory Capital  World Population Percentage
1      Europe           Albania  Tirana                         0.04
107   Oceania          Kiribati  Tarawa                         0.00
203      Asia            Taiwan  Taipei                         0.30

**10 Using `df_col` from step 7, display the rows in the DataFrame where the `World Population Percentage is strictly bigger than 17`**

In [33]:
big_pop_percentage = df_col[df_col['World Population Percentage'] > 17]
print(big_pop_percentage)

   Continent Country/Territory    Capital  World Population Percentage
41      Asia             China    Beijing                        17.88
92      Asia             India  New Delhi                        17.77

**10 Using `df_col` from step 7, select all rows where the `World Population Percentage` is strictly lower than 0.05 and the countries are located in `Africa`**

*Tip: use a boolean mask*

In [18]:
low_pop_africa = df_col[(df_col['World Population Percentage'] < 0.05) & (df_col['Continent'] == 'Africa')]
print(low_pop_africa)

    Continent      Country/Territory      Capital  World Population Percentage
26     Africa               Botswana     Gaborone                         0.03
36     Africa             Cape Verde        Praia                         0.01
43     Africa                Comoros       Moroni                         0.01
52     Africa               Djibouti     Djibouti                         0.01
59     Africa      Equatorial Guinea       Malabo                         0.02
62     Africa               Eswatini      Mbabane                         0.02
71     Africa                  Gabon   Libreville                         0.03
72     Africa                 Gambia       Banjul                         0.03
85     Africa          Guinea-Bissau       Bissau                         0.03
113    Africa                Lesotho       Maseru                         0.03
129    Africa              Mauritius   Port Louis                         0.02
130    Africa                Mayotte    Mamoudzou                         0.00
141    Africa                Namibia     Windhoek                         0.03
169    Africa                Reunion  Saint-Denis                         0.01
181    Africa  Sao Tome and Principe     São Tomé                         0.00
185    Africa             Seychelles     Victoria                         0.00
230    Africa         Western Sahara     El Aaiún                         0.01

**11 Filter the `df_col` DataFrame to show only the countries whose name start with the letter `B`**

In [17]:
countries_start_B = df_col[df_col['Country/Territory'].str.startswith('B')]
print(countries_start_B)

        Continent       Country/Territory              Capital  \
14  North America                 Bahamas               Nassau
15           Asia                 Bahrain               Manama
16           Asia              Bangladesh                Dhaka
17  North America                Barbados           Bridgetown
18         Europe                 Belarus                Minsk
19         Europe                 Belgium             Brussels
20  North America                  Belize             Belmopan
21         Africa                   Benin           Porto-Novo
22  North America                 Bermuda             Hamilton
23           Asia                  Bhutan              Thimphu
24  South America                 Bolivia                Sucre
25         Europe  Bosnia and Herzegovina             Sarajevo
26         Africa                Botswana             Gaborone
27  South America                  Brazil             Brasilia
28  North America  British Virgin Islands            Road Town
29           Asia                  Brunei  Bandar Seri Begawan
30         Europe                Bulgaria                Sofia
31         Africa            Burkina Faso          Ouagadougou
32         Africa                 Burundi            Bujumbura

    World Population Percentage
14                         0.01
15                         0.02
16                         2.15
17                         0.00
18                         0.12
19                         0.15
20                         0.01
21                         0.17
22                         0.00
23                         0.01
24                         0.15
25                         0.04
26                         0.03
27                         2.70
28                         0.00
29                         0.01
30                         0.09
31                         0.28
32                         0.16

**12 Filter the `df_col` DataFrame to show all the countries whose `World Population Percentage` are between 1 and 3**

*Tip: use `.between()`*

In [16]:
countries_pop_1_and_3 = df_col[df_col['World Population Percentage'].between(1, 3)]
print(countries_pop_1_and_3)

         Continent Country/Territory      Capital  World Population Percentage
16            Asia        Bangladesh        Dhaka                         2.15
27   South America            Brazil     Brasilia                         2.70
55          Africa          DR Congo     Kinshasa                         1.24
57          Africa             Egypt        Cairo                         1.39
63          Africa          Ethiopia  Addis Ababa                         1.55
74          Europe           Germany       Berlin                         1.05
94            Asia              Iran       Tehran                         1.11
102           Asia             Japan        Tokyo                         1.55
131  North America            Mexico  Mexico City                         1.60
149         Africa           Nigeria        Abuja                         2.74
156           Asia          Pakistan    Islamabad                         2.96
163           Asia       Philippines       Manila                         1.45
171         Europe            Russia       Moscow                         1.81
213           Asia            Turkey       Ankara                         1.07
228           Asia           Vietnam        Hanoi                         1.23

**13 Show the unique list of `Continents`**

*Tip: use `.unique()`*

In [19]:
df['Continent'].unique()

array(['Asia', 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

**14 Count the number of unique countries**

*Tip: use `.nunique()`*

In [20]:
df['Country/Territory'].nunique()

234

**15 Using iloc and slicing, show the first 3 rows of the original DataFrame `df`**

In [21]:
df.iloc[:3]

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56

**16 Starting from the original DataFrame `df`, create a new DataFrame called `europe` that contains only the countries from Europe**

In [24]:
europe = df[df['Continent'] == 'Europe']

**17 How many countries in Europe have a 2022 Population strictly smaller than in 1990?**

*Tip: one line of code should suffice*

In [36]:
countries = europe[europe['2022 Population'] < europe['1990 Population']]
nr_smaller_countries = countries.shape[0]
print("\nNr of countries in Europe with 2022 Population smaller than population in 1990:", nr_smaller_countries)

Nr of countries in Europe with 2022 Population smaller than population in 1990: 15

**18 Based on the provided data, what does `Rank` mean?**

In [37]:
# Give your answer using a comment and add some code to explain why
#The 'Rank' shows the order of countries based on the population size for a 2022, starting with the highest population.

#print(df.head())

sorted_df = df.sort_values(by='2022 Population', ascending=False)

print(sorted_df[['Rank', '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population']]) #as we can see from the output the rank is in ascending order and the number of population for 2022 is descending

     Rank  2022 Population  2020 Population  2015 Population  2010 Population  \
41      1       1425887337       1424929781       1393715448       1348191368
92      2       1417173173       1396387127       1322866505       1240613620
221     3        338289857        335942003        324607776        311182845
93      4        275501339        271857970        259091970        244016173
156     5        235824862        227196741        210969298        194454498
..    ...              ...              ...              ...              ...
137   230             4390             4500             5059             4938
64    231             3780             3747             3408             3187
150   232             1934             1942             1847             1812
209   233             1871             1827             1454             1367
226   234              510              520              564              596

     2000 Population  1990 Population  1980 Population  1970 Population
41        1264099069       1153704252        982372466        822534450
92        1059633675        870452165        696828385        557501301
221        282398554        248083732        223140018        200328340
93         214072421        182159874        148177096        115228394
156        154369924        115414069         80624057         59290872
..               ...              ...              ...              ...
137             5138            10805            11452            11402
64              3080             2332             2240             2274
150             2074             2533             3637             5185
209             1666             1669             1647             1714
226              651              700              733              752

[234 rows x 9 columns]

**19 Which has the smallest World Population in 2022?**

*Tip: one line of code should suffice*

In [28]:
df.loc[df['2022 Population'].idxmin(), ['Country/Territory', '2022 Population']]

Country/Territory    Vatican City
2022 Population               510
Name: 226, dtype: object

**20 Save the europe DataFrame into a new csv file named `europe_population.csv` in your data folder**

*Tip: make sure to set the index to False*

In [27]:
europe.to_csv('data/europe_population.csv', index=False)