# Working with Data from the Web

## Grading instructions

1. Launch VS Code and open your working-folder
2. Create a `Session_02` folder, in which you create another folder called `data`
3. Copy paste this notebook `02_Data_from_the_Web_lecture` from the lectures repo to the working-folder. 
4. Copy the json file `animals.json` and the zip file `arbeitsmarktstatistik_erwerbslosenquoten_geschlecht.zip` into the `working-folder/Session_02/data` directory.

#### There are two `Self-work exercises` in this notebook
1. During the course, do the self-work exercises
2. Once finished, copy-Paste this notebook `02_Data_from_the_Web_lecture` into `ESMT_2024_DataScraping_Students` folder in your computer
3. Commit and push your self-work in your branch before the deadline. **Push only the notebook, not the files!**

#### Number of points: 10 (weights 10% in the final grade)
- `Self-work exercises #1`: 4 points
- `Self-work exercises #2`: 6 points



#### Deadline: October 18th 08:59 am CET
#### Any missed deadline without justification to the Administration will result in 0 points for this homework.
#### If the Github branch is not correctly named using the indicated format **LASTNAME_firstname**, then a penalty of -2 points will be applied

## Course content

* Introduction to APIs
* Using request package to download files
* Loading files and tables from URLs (wikipedia)
* Working with zip files in Python
* Introduction to JSON (read_json, json_normalise)

# Introduction to API

An API, short for Application Programming Interface, is a concept used to describe – essentially – a piece of intermediary software (the interface) that facilitates communication between 2 other pieces of software (the applications). 

This very broad term is frequently used for web-based systems, database systems, operating systems, or even computer hardware. 

In this chapter we will focus on web-based APIs.

### What is a Web API?

A Web API typically means some kind of special website or URL that we use as a channel to get data from some company or web based program. 

We can write a Python program to retrieve data from the API. Put very bluntly, an API is a website providing data that is easy for a machine (e.g. python code) to understand (as opposed to a prettier, HTML-rendered, user interface for humans).

**Intro to API (duration: 3'24):**
https://www.youtube.com/watch?v=s7wmiS2mSXY

### Examples of Web APIs
* Google Maps: get map coordinates for an address
* Spotify: read and modify a playlist
* GitHub: read statistics on your code repo
* WeatherAPI: get weather data for specific location
* Google Translate: translate texts directly from a Python script

<br>

# Python Requests Library

The Python requests library is a popular third-party library that simplifies the process of making HTTP requests and working with HTTP responses. 

It provides a high-level interface for sending HTTP requests to web servers and receiving their responses. 

This library is widely used for tasks like fetching data from APIs, sending data to servers, and interacting with web resources.

    Installation: You can install the requests library using pip, a package installer for Python:

In [1]:
!pip install requests==2.32.3

Requirement already satisfied: requests==2.32.3 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from requests==2.32.3) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from requests==2.32.3) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from requests==2.32.3) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from requests==2.32.3) (2024.8.30)

    Importing: After installation, you need to import the library in your Python code before you can use it:

In [2]:
import requests

    HTTP Methods: The library supports various HTTP methods, such as GET, POST, PUT, DELETE, etc. These correspond to create, read, update, and delete (or CRUD) operations, respectively. You can choose the appropriate method for your request. 

To make a GET request:

In [3]:
response = requests.get("https://randomuser.me/api/")

## API status code

In [4]:
print(response.status_code)

200

    API Status code:

Status codes are returned with every request that is made to a web server. Status codes indicate information about what happened with a request. Here are some codes that are relevant to GET requests:

    200: Everything went okay, and the result has been returned (if any).
    301: The server is redirecting you to a different endpoint. This can happen when a company switches domain names, or an endpoint name is changed.
    400: The server thinks you made a bad request. This can happen when you don’t send along the right data, among other things.
    401: The server thinks you’re not authenticated. Many APIs require login credentials, so this happens when you don’t send the right credentials to access an API.
    403: The resource you’re trying to access is forbidden: you don’t have the right permissions to see it.
    404: The resource you tried to access wasn’t found on the server.
    503: The server is not ready to handle the request.

For more information about the various HTTP status codes [click here](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)

## Response Object


    Response Object: When you send a request using the requests library, you receive a response object that contains information about the server’s response:

   * response.status_code: HTTP status code of the response (200 is a code meaning a successful operation)
* response.content: Raw content of the response
* response.text: Content of the response in text format
* response.json(): Parses the response content as JSON if applicable
* response.headers: Headers received from the server (additional information passed through both request and response. It could be for example List of acceptable encodings. It is usually hidden to end-user)
* response.url: The URL that was accessed

In [5]:
response.json()

{'results': [{'gender': 'male',
   'name': {'title': 'Mr', 'first': 'Joseph', 'last': 'Martinez'},
   'location': {'street': {'number': 5257, 'name': 'Nowlin Rd'},
    'city': 'Devonport',
    'state': 'Queensland',
    'country': 'Australia',
    'postcode': 2190,
    'coordinates': {'latitude': '-88.8811', 'longitude': '-142.1982'},
    'timezone': {'offset': '+7:00', 'description': 'Bangkok, Hanoi, Jakarta'}},
   'email': 'joseph.martinez@example.com',
   'login': {'uuid': '88c88565-4130-492a-80be-46b72f0fd075',
    'username': 'sadwolf358',
    'password': '7779311',
    'salt': 'sfpbKkNF',
    'md5': '324a77f6ee2797a12072293124a91292',
    'sha1': '8b0c5695b5b45463baaff16515afd751a07b756b',
    'sha256': '71c63f1143b066841984e57e588fc10579a9b3ea47d7447a514268bc6bcb0b60'},
   'dob': {'date': '1968-11-21T05:43:24.130Z', 'age': 55},
   'registered': {'date': '2017-04-12T00:04:40.489Z', 'age': 7},
   'phone': '01-9098-0435',
   'cell': '0436-040-595',
   'id': {'name': 'TFN', 'value': '515775321'},
   'picture': {'large': 'https://randomuser.me/api/portraits/men/47.jpg',
    'medium': 'https://randomuser.me/api/portraits/med/men/47.jpg',
    'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/47.jpg'},
   'nat': 'AU'}],
 'info': {'seed': '03f77c78746389e9',
  'results': 1,
  'page': 1,
  'version': '1.4'}}

## Query String Parameters

One common way to customize a GET request is to pass values through query string parameters in the URL. 

To do this using get(), you pass data to params.

### Weather API:
1. Sign up to RapidAPI: https://rapidapi.com/signup
2. Select the free plan: https://rapidapi.com/meteostat/api/meteostat/pricing 

It allows you to 500 requests per months, with 3 requests per second maximum.

3. Go to this page and click on `Get Daily Station Data` on the left pane: https://rapidapi.com/meteostat/api/meteostat

4. On the right part `Code snippets` should appear the `x-rapidapi-key`: copy paste it below

5. Complete the information below to get the weather of Berlin today

### Important note: do not push this notebook to Github! It contains your API Key, which you don't want to reveal. If you were to push this content to github, delete your API key before!

In [7]:
# Use double quotes to assign your API key to private_api_key variable as a string
private_api_key = "875f8a569emshd1aaadd8f671a8fp1d77e7jsn1f35e320a336"

In [8]:
# Define your parameters as a dictionary
params = {
    "lat": 52.5200,  # Find Berlin's latitude and add it here
    "lon": 13.404954,  # Find Berlin's longitude and add it here
    "start": "2023-10-08",  # Replace with today's date
    "end": "2023-10-08"  # Replace with today's date
    #Error!!
}

response = requests.get("https://meteostat.p.rapidapi.com/point/daily",
                       params=params,
                       headers={
                           "X-RapidAPI-Host": "meteostat.p.rapidapi.com",
                           "X-RapidAPI-Key": "private_api_key" # Add the private_api_key variable 
                       })

# Do not push your API key to Github!

In [9]:
print(response.json())

{'message': 'You are not subscribed to this API.'}

<br>
<br>
<br>
<br><br><br><br><br><br>

# Data from Wikipedia

## Installation

First, install and import the package

*Note: all information about the packages and their versions can be found on [Pypi](https://pypi.org/), for example the [wikipedia package](https://pypi.org/project/wikipedia/)*

In [10]:
!pip install wikipedia==1.4.0

Collecting wikipedia==1.4.0
  Using cached wikipedia-1.4.0-py3-none-any.whl
Requirement already satisfied: beautifulsoup4 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from wikipedia==1.4.0) (4.12.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from wikipedia==1.4.0) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia==1.4.0) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia==1.4.0) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia==1.4.0) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia==1.4.0) (2024.8.30)
Requirement already satisfied: soupsieve>1.2 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4->wikipedia==1.4.0) (2.6)
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0

In [11]:
# Import the package
import wikipedia

## First commands
* wikipedia.summary(<>): provides a summary of the page
* wikipedia.page(<>).content: provides the content
* wikipedia.page(<>).url: provides the URL of the page
* wikipedia.set_lang(<>): changes the request language

### Try the following commands:

In [12]:
wikipedia.summary("The Kingkiller Chronicle")

'The Kingkiller Chronicle is a planned fantasy trilogy by the American writer Patrick Rothfuss. The first two books, The Name of the Wind and The Wise Man\'s Fear, were released in 2007 and 2011. The books released in the series have sold over 10 million copies.\nThe series centers on a man named Kvothe, an infamous adventurer and musician telling his life story to a scribe. The book is told in a "story-within-a-story" format: a frame narrative relates the present day in which Kvothe runs an inn under an assumed name and is told in omniscient third person. The main plot, making up the majority of the books and concerning the actual details of Kvothe\'s life, is told in the first person. The series also contains metafictional stories within stories from varying perspectives that tie to the main plot in various ways.\n\n'

In [13]:
wikipedia.page("The Kingkiller Chronicle").content

'The Kingkiller Chronicle is a planned fantasy trilogy by the American writer Patrick Rothfuss. The first two books, The Name of the Wind and The Wise Man\'s Fear, were released in 2007 and 2011. The books released in the series have sold over 10 million copies.\nThe series centers on a man named Kvothe, an infamous adventurer and musician telling his life story to a scribe. The book is told in a "story-within-a-story" format: a frame narrative relates the present day in which Kvothe runs an inn under an assumed name and is told in omniscient third person. The main plot, making up the majority of the books and concerning the actual details of Kvothe\'s life, is told in the first person. The series also contains metafictional stories within stories from varying perspectives that tie to the main plot in various ways.\n\n\n== Synopsis ==\nThe Kingkiller Chronicle tells the life story of a man named Kvothe. In the present day, Kvothe is a rural innkeeper, living under a pseudonym. In the past, he was a wandering trouper and musician who grew to be a notorious arcanist (wizard), known as the infamous "Kingkiller".\nThe series is framed as the transcription of his three-day-long oral autobiography, where he "trouped, traveled, loved, lost, trusted and was betrayed". Present-day "interludes" concern his life as an innkeeper, with each present day depicted in a separate book.\nThe series is a secondary world fantasy; the setting is named Temerant. It has its own magic system, mixing alchemy, sympathetic magic, sygaldry (a form of runic magic combined with medieval engineering), and naming (a type of magic that allows the user to command the classical elements and objects), plus others.\n\n\n== Writing and publishing history ==\nThe Kingkiller Chronicle is intended to be a trilogy. The books are set in a fictional world referred to as the Four Corners in-universe; the world\'s official name, Temerant, was revealed in 2014.\nRothfuss began writing the series in 1994, under the working title The Song of Flame and Thunder; the name was changed because he disliked it, as well as to avoid confusion with the George R. R. Martin series A Song of Ice and Fire. The first draft of the trilogy was completed in 2000, a draft he described as "a hot mess".\nIn 2002, Rothfuss entered and won a Writers of the Future contest, which led him to a workshop with author Tim Powers. This eventually led him to meeting his agent, who helped Rothfuss revise the first third of the story—now entitled The Name of the Wind—and sold it to DAW, which published the book in March 2007.\nDespite promises that the second and third books in the trilogy would follow on an annual schedule, revisions to the second book, including work to bring in the frame narrative and introduce characters that weren\'t in the original draft, caused delays. The Wise Man\'s Fear was released in 2011, topping the New York Times bestseller list.\nThe Doors of Stone is unreleased as of 2024, a point of contention online. Rothfuss has said that the book would "conclude Kvothe\'s story", closing off the current arc, but that further stories in the world of Temerant would be forthcoming. He also said that the book presented challenges different from The Wise Man\'s Fear\'s. In 2020, Rothfuss\'s publisher and editor Elizabeth Wollheim expressed frustration with the delay, stating she had not read "a word" of the book nine years on.\nIn 2021, Rothfuss apologized for the long delay in releasing The Doors of Stone, citing issues in his personal life and his mental health as reasons.\n\n\n== The books ==\nThe Kingkiller Chronicle is a projected trilogy:\n\nThe Name of the Wind (2007)\nThe Wise Man\'s Fear (2011)\nThe Doors of Stone (forthcoming)\n\n\n=== Related works ===\n"How Old Holly Came to Be", an experimental short story, was published in Unfettered (2013), edited by Shawn Speakman.\nThe Lightning Tree, a novella, was published in Rogues (2014), edited by George R. R. Martin & Gardner Dozois. The Lightning Tree takes place in the frame setting of The Kingkiller Chronicle, and includes characters from the trilogy, centered around the character of Bast.\nThe Slow Regard of Silent Things (2014, ISBN 978-0756410438), a novella focusing on a secondary character that appears in The Kingkiller Chronicle\'s main plot.\nThe Narrow Road Between Desires, (2023, ISBN 978-0756419172), is a novella centered around the character of Bast (a revision and expansion of The Lightning Tree) and was published November 14, 2023.\nIn 2012, Rothfuss sold three other books to his publisher, DAW. He has discussed a standalone novel, centered on a legendary figure in the world, with the working title The Tale of Laniel Young-Again. The project was two-thirds complete when it was shelved to focus on The Doors of Stone.\n\n\n== In other media ==\n\n\n=== Film and television ===\nIn July 2013, 20th Century Fox optioned The Kingkiller Chronicle for a TV series. The production team included Arnon Milchan, Andrew Plotkin, Brad Weston, and Robert Lawrence. Two years later in October, the rights to the books expired and were reverted to Rothfuss. At the same time, Rothfuss announced that Lionsgate would be involved in adapting the series through a film, TV series, and video game. Hamilton creator Lin-Manuel Miranda was attached to serve as executive producer of the television series, along with John Rogers, Jennifer Court, Robert Lawrence, and Rothfuss, with music composed by Miranda. Showtime began developing the series as of October 2017 but ended their involvement two years later in September, causing the rights to return to Lionsgate TV, which is shopping it around.\nLindsey Beer was hired to write the screenplay for the film in 2016, while Sam Raimi was announced as the director in 2018, one of several who reportedly sought the role.\n\n\n=== Games ===\nThe metafictional strategic board game Tak: A Beautiful Game was released by Rothfuss and Cheapass Games in 2016 and designed by James Ernest. In 2019, Cheapass Games, including Tak, was sold to Greater Than Games. In March 2021, Greater Than Games re-released Tak: A Beautiful Game (2nd Edition) under its own brand, with new box art and board designs co-created with Rothfuss. There are no differences in the rules between the original and second edition.\n\n\n== Reception ==\nThe series has received critical acclaim. George R. R. Martin called The Wise Man\'s Fear his favorite fantasy novel of 2011, and said he wished he had written it. Authors such as Brandon Sanderson, Ursula K. Le Guin, Robin Hobb, Tad Williams, Anne McCaffrey, and Michael Chabon have expressed their admiration for the series. Lin-Manuel Miranda credited the books for inspiring a song in his show Hamilton, as well as a story beat in the Walt Disney film Moana.\nThe Wise Man\'s Fear topped The New York Times bestseller list, and the spin-off novella The Slow Regard of Silent Things spent a month on the same before dropping to the extended list.\nAlthough fandom on the series has remained relatively small, there are several sites dedicated to fanfiction and fan art. A reason given that there is so little fan fiction is because of the unique style and tone, as well as the amount of time that Rothfuss gives to his writing. Rothfuss himself has spoken positively of fan fiction, saying that he\'s looked forward to it, and that "when people start writing fan fiction about your stuff, it shows that your writing has attained a level of popularity".\n\n\n== References ==\n\n\n== External links ==\n\nThe Kingkiller Chronicle series listing at the Internet Speculative Fiction Database\nThe Kingkiller Chronicle at the Internet Book List\nPatrick Rothfuss\' web site\n"Knackerman" song, from lyrics Rothfuss had written for The Name of the Wind. Performed by Vi Hart, per the request of Rothfuss as part of an event for Rothfuss\' Worldbuilders charity.'

In [14]:
wikipedia.page("The Kingkiller Chronicle").url

'https://en.wikipedia.org/wiki/The_Kingkiller_Chronicle'

In [15]:
wikipedia.set_lang('de')
wikipedia.summary("The Kingkiller Chronicle")

'Die Königsmörder-Chronik (Originaltitel: The Kingkiller Chronicle) ist eine Fantasy-Romanreihe des US-amerikanischen Schriftstellers Patrick Rothfuss. Thematisiert wird der sagenumwobene Arkanist Kvothe, der seine eigene Lebensgeschichte in Form einer Autobiografie von einem Chronisten niederschreiben lässt. Die Geschichte ist folglich in eine Gegenwartshandlung und eine Vergangenheitshandlung unterteilt. Jeder Buchableger verkörpert einen Tag in der Gegenwart.\n\n'

## Extract tabular data from wikipedia into a Pandas dataframe

In [16]:
# First, import the pandas package
import pandas as pd

In [17]:
# You may need to pip install lxml package
!pip install lxml

Collecting lxml
  Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 3.4 MB/s eta 0:00:01
   ---------- ----------------------------- 1.0/3.8 MB 3.0 MB/s eta 0:00:01
   ------------------- -------------------- 1.8/3.8 MB 3.1 MB/s eta 0:00:01
   ------------------------ --------------- 2.4/3.8 MB 2.9 MB/s eta 0:00:01
   ------------------------------ --------- 2.9/3.8 MB 3.0 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 3.0 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.0

In [18]:
# Import the lxml package
import lxml

In [19]:
# Extract tabular data from wikipedia into a Pandas dataframe.
# We will use pandas.read_html

tables = pd.read_html("https://en.wikipedia.org/wiki/FIVB_Volleyball_Women%27s_World_Cup#Results_summary",
                     match='Champions')

In [20]:
# Show the tables variable
tables

[            Year     Host    Unnamed: 2      Champions     Runners-up  \
 0            NaN      NaN           NaN            NaN            NaN
 1            NaN      NaN           NaN            NaN            NaN
 2            NaN      NaN           NaN            NaN            NaN
 3            NaN      NaN           NaN            NaN            NaN
 4            NaN      NaN           NaN            NaN            NaN
 5            NaN      NaN           NaN            NaN            NaN
 6            NaN      NaN           NaN            NaN            NaN
 7            NaN      NaN           NaN            NaN            NaN
 8            NaN      NaN           NaN            NaN            NaN
 9            NaN      NaN           NaN            NaN            NaN
 10           NaN      NaN           NaN            NaN            NaN
 11           NaN      NaN           NaN            NaN            NaN
 12           NaN      NaN           NaN            NaN            NaN
 13           NaN      NaN           NaN            NaN            NaN
 14  1973 Details  Uruguay  Soviet Union          Japan    South Korea
 15  1977 Details    Japan         Japan           Cuba    South Korea
 16  1981 Details    Japan         China          Japan   Soviet Union
 17  1985 Details    Japan         China           Cuba   Soviet Union
 18  1989 Details    Japan          Cuba   Soviet Union          China
 19  1991 Details    Japan          Cuba          China   Soviet Union
 20  1995 Details    Japan          Cuba         Brazil          China
 21  1999 Details    Japan          Cuba         Russia         Brazil
 22  2003 Details    Japan         China         Brazil  United States
 23  2007 Details    Japan         Italy         Brazil  United States
 24  2011 Details    Japan         Italy  United States          China
 25  2015 Details    Japan         China         Serbia  United States
 26  2019 Details    Japan         China  United States         Russia

         3rd place  4th place  Unnamed: 7  Teams
 0             NaN        NaN         NaN    NaN
 1             NaN        NaN         NaN    NaN
 2             NaN        NaN         NaN    NaN
 3             NaN        NaN         NaN    NaN
 4             NaN        NaN         NaN    NaN
 5             NaN        NaN         NaN    NaN
 6             NaN        NaN         NaN    NaN
 7             NaN        NaN         NaN    NaN
 8             NaN        NaN         NaN    NaN
 9             NaN        NaN         NaN    NaN
 10            NaN        NaN         NaN    NaN
 11            NaN        NaN         NaN    NaN
 12            NaN        NaN         NaN    NaN
 13            NaN        NaN         NaN    NaN
 14           Peru       10.0         NaN    NaN
 15          China        8.0         NaN    NaN
 16  United States        8.0         NaN    NaN
 17          Japan        8.0         NaN    NaN
 18          Japan        8.0         NaN    NaN
 19  United States       12.0         NaN    NaN
 20        Croatia       12.0         NaN    NaN
 21    South Korea       12.0         NaN    NaN
 22          Italy       12.0         NaN    NaN
 23           Cuba       12.0         NaN    NaN
 24          Japan       12.0         NaN    NaN
 25         Russia       12.0         NaN    NaN
 26         Brazil       12.0         NaN    NaN  ,
    vteInternational Federation of Volleyball (FIVB) competitions  \
 0                                      National teams
 1                                       Championships
 2                                                Cups
 3                                             Leagues
 4                                Youth national teams
 5                                       Championships
 6                                   Club competitions
 7                                       Championships
 8                                    Beach volleyball
 9                                       Championships
 10                                        World Tours
 11                                       Discontinued
 12                                      Championships
 13                                               Cups
 14                                            Leagues

    vteInternational Federation of Volleyball (FIVB) competitions.1
 0   Championships World championships Men's Women'...
 1                   World championships Men's Women's
 2                            World Cups Men's Women's
 3                       Nations Leagues Men's Women's
 4   Championships World championships Men's U21 Wo...
 5   World championships Men's U21 Women's U21 Boys...
 6   Championships World Club Championships Men's W...
 7              World Club Championships Men's Women's
 8   Championships World Championships Men's Women'...
 9                   World Championships Men's Women's
 10                     World Beach Tour Men's Women's
 11  Championships World Championships Men's U23 Wo...
 12          World Championships Men's U23 Women's U23
 13           World Grand Champions Cups Men's Women's
 14  World League World Grand Prix World Challenger...               ,
                0                                  1
 0  Championships  World championships Men's Women's
 1           Cups           World Cups Men's Women's
 2        Leagues      Nations Leagues Men's Women's,
                0                                                  1
 0  Championships  World championships Men's U21 Women's U21 Boys...,
                0                                       1
 0  Championships  World Club Championships Men's Women's,
                0                                  1
 0  Championships  World Championships Men's Women's
 1    World Tours     World Beach Tour Men's Women's,
                0                                                  1
 0  Championships          World Championships Men's U23 Women's U23
 1           Cups           World Grand Champions Cups Men's Women's
 2        Leagues  World League World Grand Prix World Challenger...,
                  vteInternational women's volleyball  \
 0  FIVB World Ranking Summer Olympic Games FIVB W...
 1                                             Africa
 2                                     Asia & Oceania
 3                                             Europe
 4                                      North America
 5                                    Central America
 6                                      South America
 7                                 Multi-sport events
 8                                       Discontinued

                vteInternational women's volleyball.1
 0  FIVB World Ranking Summer Olympic Games FIVB W...
 1            CAVB African Championship African Games
 2  AVC Asian Championship Asian Cup Asian Challen...
 3  CEV European Championship European League Smal...
 4  NORCECA NORCECA Championship Pan American Cup ...
 5  AFECAVOL Central American Championship Central...
 6  CSV South American Championship Pan American C...
 7  Arab Games Bolivarian Games Lusophone Games Me...
 8  FIVB World Grand Prix FIVB World Grand Champio...  ,
                           vteInternational volleyball  \
 0   FIVB World Rankings Achievements by nation Rec...
 1                                           Worldwide
 2                                      Junior / Youth
 3                                  Multi-sport events
 4                                         Continental
 5                                       Africa (CAVB)
 6                              Asia and Oceania (AVC)
 7                                        Europe (CEV)
 8                                            Americas
 9                                          Top events
 10                            North America (NORCECA)
 11                         Central America (AFECAVOL)
 12                                South America (CSV)

                         vteInternational volleyball.1
 0   FIVB World Rankings Achievements by nation Rec...
 1   Olympic Games World Championships men women Na...
 2   Youth Olympic Games World Championships men U2...
 3   Arab Games Bolivarian Games Goodwill Games Isl...
 4   Africa (CAVB) African Championship men women m...
 5   African Championship men women men U23 women U...
 6   Asian Championship men women men U23 (defunct)...
 7   European Championship men women men U22 women ...
 8   Top events Pan American Games Pan-American Cup...
 9   Pan American Games Pan-American Cup men women ...
 10  NORCECA Championship men women men U21 women U...
 11  Central American Championship men women Centra...
 12  South American Championship men women men U23 ...  ,
                             0  \
 0               Africa (CAVB)
 1      Asia and Oceania (AVC)
 2                Europe (CEV)
 3                    Americas
 4                  Top events
 5     North America (NORCECA)
 6  Central America (AFECAVOL)
 7         South America (CSV)

                                                    1
 0  African Championship men women men U23 women U...
 1  Asian Championship men women men U23 (defunct)...
 2  European Championship men women men U22 women ...
 3  Top events Pan American Games Pan-American Cup...
 4  Pan American Games Pan-American Cup men women ...
 5  NORCECA Championship men women men U21 women U...
 6  Central American Championship men women Centra...
 7  South American Championship men women men U23 ...  ,
                             0  \
 0                  Top events
 1     North America (NORCECA)
 2  Central America (AFECAVOL)
 3         South America (CSV)

                                                    1
 0  Pan American Games Pan-American Cup men women ...
 1  NORCECA Championship men women men U21 women U...
 2  Central American Championship men women Centra...
 3  South American Championship men women men U23 ...  ]

In [21]:
# How big is tables?
len(tables)

11

In [22]:
# Let's get only the first result 
results_df = tables[0]

In [23]:
# Display the content of results_df
results_df

,Year,Host,Unnamed: 2,Champions,Runners-up,3rd place,4th place,Unnamed: 7,Teams
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1973 Details,Uruguay,Soviet Union,Japan,South Korea,Peru,10.0,NaN,NaN
15,1977 Details,Japan,Japan,Cuba,South Korea,China,8.0,NaN,NaN
16,1981 Details,Japan,China,Japan,Soviet Union,United States,8.0,NaN,NaN
17,1985 Details,Japan,China,Cuba,Soviet Union,Japan,8.0,NaN,NaN
18,1989 Details,Japan,Cuba,Soviet Union,China,Japan,8.0,NaN,NaN
19,1991 Details,Japan,Cuba,China,Soviet Union,United States,12.0,NaN,NaN
20,1995 Details,Japan,Cuba,Brazil,China,Croatia,12.0,NaN,NaN
21,1999 Details,Japan,Cuba,Russia,Brazil,South Korea,12.0,NaN,NaN
22,2003 Details,Japan,China,Brazil,United States,Italy,12.0,NaN,NaN
23,2007 Details,Japan,Italy,Brazil,United States,Cuba,12.0,NaN,NaN
24,2011 Details,Japan,Italy,United States,China,Japan,12.0,NaN,NaN
25,2015 Details,Japan,China,Serbia,United States,Russia,12.0,NaN,NaN
26,2019 Details,Japan,China,United States,Russia,Brazil,12.0,NaN,NaN

In [24]:
# Let' clean the data:
## Remove all rows that contain only null values

clean_df = results_df.dropna(how="all")
clean_df

,Year,Host,Unnamed: 2,Champions,Runners-up,3rd place,4th place,Unnamed: 7,Teams
14,1973 Details,Uruguay,Soviet Union,Japan,South Korea,Peru,10.0,NaN,NaN
15,1977 Details,Japan,Japan,Cuba,South Korea,China,8.0,NaN,NaN
16,1981 Details,Japan,China,Japan,Soviet Union,United States,8.0,NaN,NaN
17,1985 Details,Japan,China,Cuba,Soviet Union,Japan,8.0,NaN,NaN
18,1989 Details,Japan,Cuba,Soviet Union,China,Japan,8.0,NaN,NaN
19,1991 Details,Japan,Cuba,China,Soviet Union,United States,12.0,NaN,NaN
20,1995 Details,Japan,Cuba,Brazil,China,Croatia,12.0,NaN,NaN
21,1999 Details,Japan,Cuba,Russia,Brazil,South Korea,12.0,NaN,NaN
22,2003 Details,Japan,China,Brazil,United States,Italy,12.0,NaN,NaN
23,2007 Details,Japan,Italy,Brazil,United States,Cuba,12.0,NaN,NaN
24,2011 Details,Japan,Italy,United States,China,Japan,12.0,NaN,NaN
25,2015 Details,Japan,China,Serbia,United States,Russia,12.0,NaN,NaN
26,2019 Details,Japan,China,United States,Russia,Brazil,12.0,NaN,NaN

#### Jump to the `Self-Work Exercises #1` Section

# Read zip files

In [25]:
unemployment_rates = pd.read_csv("./data/arbeitsmarktstatistik_erwerbslosenquoten_geschlecht.zip", 
                        sep=";",
                        encoding='latin-1')

# Note: erwerbslosenquoten means unemployment rate
# arbeitsmarktstatistik means Statistics about the work market

In [30]:
# Display the data
unemployment_rates.head()

                                                                                                                                                                                                                                                                ILO-Arbeitsmarktstatistik
Datum      Erwerbslosenquoten Männer insgesamt, in % Erwerbslosenquoten Männer unter 25 Jahren, in % Erwerbslosenquoten Männer ab 25 Jahren, in % Erwerbslosenquoten Frauen insgesamt, in % Erwerbslosenquoten Frauen unter 25 Jahren, in %  Erwerbslosenquoten Frauen ab 25 Jahren, in %
01/03/2007 9,5                                       12,7                                            9,1                                          8,8                                       8,7                                                                                       8,8
01/04/2007 8,3                                       13,6                                            7,7                                          9,0                                       10,6                                                                                      8,7
01/05/2007 8,5                                       11,7                                            8,1                                          8,5                                       10,4                                                                                      8,3
01/06/2007 8,0                                       12,5                                            7,4                                          8,7                                       12,9                                                                                      8,2

<br><br>
# Introduction to JSON

In [31]:
# Import the json package
import json

In [32]:
# Creating student records
student1 = {
    "name": "Alice",
    "age": 15,
    "grade": 10,
    "subjects": ["Math", "Science", "History"],
    "city": "Augsburg"
}

student2 = {
    "name": "Bob",
    "age": 16,
    "grade": 11,
    "subjects": ["English", "Physics", "Geography"],
    "city": "Berlin"
}

student3 = {
    "name": "Carol",
    "age": 14,
    "grade": 9,
    "subjects": ["Art", "Music", "PE"],
    "city": "Cottbus"
}

In [33]:
# Creating a list of student records
student_database = [student1, student2, student3]

In [34]:
# Converting the student database to JSON format
json_data = json.dumps(student_database, indent=4)

With indent=4: Each level of the JSON structure will be indented by 4 spaces, making it easier to read and visually understand the nested structure.

In [35]:
# Printing the JSON data
print(json_data)

[
    {
        "name": "Alice",
        "age": 15,
        "grade": 10,
        "subjects": [
            "Math",
            "Science",
            "History"
        ],
        "city": "Augsburg"
    },
    {
        "name": "Bob",
        "age": 16,
        "grade": 11,
        "subjects": [
            "English",
            "Physics",
            "Geography"
        ],
        "city": "Berlin"
    },
    {
        "name": "Carol",
        "age": 14,
        "grade": 9,
        "subjects": [
            "Art",
            "Music",
            "PE"
        ],
        "city": "Cottbus"
    }
]

### Read a json file

First, copy and paste the `animals.json` file into the `data` folder of your working directory

### Load the file

In [36]:
## We first load the file
with open("./data/animals.json") as f:
    d = json.load(f)

print(d)

[{'name': 'Ace', 'animal': 'Alpaca', 'tricks': ['spit'], 'demographics': {'sex': 'male', 'age': 2}, 'owner': 'Alice', 'city': 'Augsburg'}, {'name': 'Biscuit', 'animal': 'Beagle', 'tricks': ['sit', 'hunt'], 'demographics': {'sex': 'female', 'age': 1}, 'owner': 'Bob', 'city': 'Berlin'}, {'name': 'Coco', 'animal': 'Chinchilla', 'tricks': ['explore', 'climb'], 'demographics': {'sex': 'male', 'age': 5}, 'owner': 'Carol', 'city': 'Cottbus'}]

### Normalise the loaded data

In [37]:
# To convert each element in "demographics" section into new columns,
# We prefer to use : pd.json_nomalize
animals_v1 = pd.json_normalize(d)

In [38]:
# Display animals_v1
animals_v1

,name,animal,tricks,owner,city,demographics.sex,demographics.age
0,Ace,Alpaca,[spit],Alice,Augsburg,male,2
1,Biscuit,Beagle,"[sit, hunt]",Bob,Berlin,female,1
2,Coco,Chinchilla,"[explore, climb]",Carol,Cottbus,male,5

### Read a json file as a dataframe directly

In [39]:
animals_v2 = pd.read_json("./data/animals.json")

In [40]:
# Display animals_v2
animals_v2

,name,animal,tricks,demographics,owner,city
0,Ace,Alpaca,[spit],"{'sex': 'male', 'age': 2}",Alice,Augsburg
1,Biscuit,Beagle,"[sit, hunt]","{'sex': 'female', 'age': 1}",Bob,Berlin
2,Coco,Chinchilla,"[explore, climb]","{'sex': 'male', 'age': 5}",Carol,Cottbus

### Self-work exercises #1: 4 points

#### What problems do you see with `clean_df`? Can you clean the DataFrame to obtain a clean one?

Write a series of code commands in order to clean the DataFrame:
- create a deep copy of the DataFrame `clean_df` and assign it to the variable `df`
- get the list of useful columns, without copy-pasting them (use code!)
- drop the columns that contain missing values
- rename the columns so that each column corresponds to the correct header
- transform the `Year` column to remove `Details`, which we don't need

*Tip: this might be useful https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html*

In [43]:
    
df = clean_df.copy(True)
columnlist = [c for c in df.columns if not(c.startswith("Unnamed"))]  
df.dropna(axis="columns", how='all', inplace=True)
df.columns = columnlist
df['Year'] = df['Year'].str.split(" ").str[0]
print(df.head())

    Year     Host     Champions    Runners-up     3rd place      4th place  \
14  1973  Uruguay  Soviet Union         Japan   South Korea           Peru
15  1977    Japan         Japan          Cuba   South Korea          China
16  1981    Japan         China         Japan  Soviet Union  United States
17  1985    Japan         China          Cuba  Soviet Union          Japan
18  1989    Japan          Cuba  Soviet Union         China          Japan

    Teams
14   10.0
15    8.0
16    8.0
17    8.0
18    8.0

### Self-work exercises #2: 6 points

#### Use the python commands to answer the following questions

**1. What type is the resulting data (the loaded json: d) ?**

In [44]:
print(type(d))

<class 'list'>

**2. How many items does the resulting data have (the loaded json: d) ?**

In [45]:
print(len(d))

3

    **3. What is the type of each item in the resulting data (the loaded json: d) ?**

In [46]:
print(type(d[1]))

<class 'dict'>

**4. How many tricks does Coco know ? Use the code to output it**

In [47]:
#Coco the chinchilla 
coco_tricks = next(len(item["tricks"]) for item in d if item["name"] == "Coco")
print("Coco knows " + str(coco_tricks) + " amazing tricks!")

Coco knows 2 amazing tricks!

**5. How can you change the column name to be demographics_sex and demographics_age instead of demographics.sex and demographics.age?**

Save it into animals_v3 variable

*Tip: research online the pandas.json_normalize method*

In [48]:
animals_v3 = pd.json_normalize(d, sep="_")
print(animals_v3)

      name      animal            tricks  owner      city demographics_sex  \
0      Ace      Alpaca            [spit]  Alice  Augsburg             male
1  Biscuit      Beagle       [sit, hunt]    Bob    Berlin           female
2     Coco  Chinchilla  [explore, climb]  Carol   Cottbus             male

   demographics_age
0                 2
1                 1
2                 5

**6. Following the examples of students_database, create the teachers_database**

Hints:
- the teacher is very wise, therefore they are at least 100 years old!
- Selma's city starts with S and is located in Germany
- The subject is the course you are taking

In [63]:
### Complete the following program:
from io import StringIO 
teacher = {
    "name": "Krisztián",
    "age": 25,
    "grade": 1.0,
    "subjects": "Data Scraping",  
    "city": "Berlin"
}

teacher_database = [teacher]
teacher_data = json.dumps(teacher_database, indent=4)

# Wrap the JSON string in a StringIO object to prevent the FutureWarning
teachers_df = pd.read_json(StringIO(teacher_data))

teachers_df

        name  age  grade       subjects    city
0  Krisztián   25      1  Data Scraping  Berlin