# Working with Data from the Web

## Grading instructions

1. Launch VS Code and open your working-folder
2. Create a `Session_02` folder, in which you create another folder called `data`
3. Copy paste this notebook `02_Data_from_the_Web_lecture` from the lectures repo to the working-folder. 
4. Copy the json file `animals.json` and the zip file `arbeitsmarktstatistik_erwerbslosenquoten_geschlecht.zip` into the `working-folder/Session_02/data` directory.

#### There are two `Self-work exercises` in this notebook
1. During the course, do the self-work exercises
2. Once finished, copy-Paste this notebook `02_Data_from_the_Web_lecture` into `ESMT_2024_DataScraping_Students` folder in your computer
3. Commit and push your self-work in your branch before the deadline. **Push only the notebook, not the files!**

#### Number of points: 10 (weights 10% in the final grade)
- `Self-work exercises #1`: 4 points
- `Self-work exercises #2`: 6 points



#### Deadline: October 18th 08:59 am CET
#### Any missed deadline without justification to the Administration will result in 0 points for this homework.
#### If the Github branch is not correctly named using the indicated format **LASTNAME_firstname**, then a penalty of -2 points will be applied

## Course content

* Introduction to APIs
* Using request package to download files
* Loading files and tables from URLs (wikipedia)
* Working with zip files in Python
* Introduction to JSON (read_json, json_normalise)

# Introduction to API

An API, short for Application Programming Interface, is a concept used to describe – essentially – a piece of intermediary software (the interface) that facilitates communication between 2 other pieces of software (the applications). 

This very broad term is frequently used for web-based systems, database systems, operating systems, or even computer hardware. 

In this chapter we will focus on web-based APIs.

### What is a Web API?

A Web API typically means some kind of special website or URL that we use as a channel to get data from some company or web based program. 

We can write a Python program to retrieve data from the API. Put very bluntly, an API is a website providing data that is easy for a machine (e.g. python code) to understand (as opposed to a prettier, HTML-rendered, user interface for humans).

**Intro to API (duration: 3'24):**
https://www.youtube.com/watch?v=s7wmiS2mSXY

### Examples of Web APIs
* Google Maps: get map coordinates for an address
* Spotify: read and modify a playlist
* GitHub: read statistics on your code repo
* WeatherAPI: get weather data for specific location
* Google Translate: translate texts directly from a Python script

<br>

# Python Requests Library

The Python requests library is a popular third-party library that simplifies the process of making HTTP requests and working with HTTP responses. 

It provides a high-level interface for sending HTTP requests to web servers and receiving their responses. 

This library is widely used for tasks like fetching data from APIs, sending data to servers, and interacting with web resources.

    Installation: You can install the requests library using pip, a package installer for Python:

In [2]:
!pip install requests==2.32.3

Requirement already satisfied: requests==2.32.3 in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (from requests==2.32.3) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (from requests==2.32.3) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (from requests==2.32.3) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (from requests==2.32.3) (2024.8.30)

    Importing: After installation, you need to import the library in your Python code before you can use it:

In [4]:
import requests

    HTTP Methods: The library supports various HTTP methods, such as GET, POST, PUT, DELETE, etc. These correspond to create, read, update, and delete (or CRUD) operations, respectively. You can choose the appropriate method for your request. 

To make a GET request:

In [5]:
response = requests.get("https://randomuser.me/api/")

## API status code

In [6]:
print(response.status_code)

#200 = success
#4$$ = failure

200

    API Status code:

Status codes are returned with every request that is made to a web server. Status codes indicate information about what happened with a request. Here are some codes that are relevant to GET requests:

    200: Everything went okay, and the result has been returned (if any).
    301: The server is redirecting you to a different endpoint. This can happen when a company switches domain names, or an endpoint name is changed.
    400: The server thinks you made a bad request. This can happen when you don’t send along the right data, among other things.
    401: The server thinks you’re not authenticated. Many APIs require login credentials, so this happens when you don’t send the right credentials to access an API.
    403: The resource you’re trying to access is forbidden: you don’t have the right permissions to see it.
    404: The resource you tried to access wasn’t found on the server.
    503: The server is not ready to handle the request.

For more information about the various HTTP status codes [click here](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)

## Response Object


    Response Object: When you send a request using the requests library, you receive a response object that contains information about the server’s response:

   * response.status_code: HTTP status code of the response (200 is a code meaning a successful operation)
* response.content: Raw content of the response
* response.text: Content of the response in text format
* response.json(): Parses the response content as JSON if applicable
* response.headers: Headers received from the server (additional information passed through both request and response. It could be for example List of acceptable encodings. It is usually hidden to end-user)
* response.url: The URL that was accessed

In [7]:
response.json()

#json is the most common API-format

{'results': [{'gender': 'male',
   'name': {'title': 'Mr', 'first': 'Draško', 'last': 'Milovanović'},
   'location': {'street': {'number': 1204,
     'name': 'Katarine Popovine Midžine '},
    'city': 'Kraljevo',
    'state': 'Rasina',
    'country': 'Serbia',
    'postcode': 94670,
    'coordinates': {'latitude': '58.8458', 'longitude': '-102.0928'},
    'timezone': {'offset': '+6:00', 'description': 'Almaty, Dhaka, Colombo'}},
   'email': 'drasko.milovanovic@example.com',
   'login': {'uuid': '46c155bf-d8b2-4c52-bab6-f5d8e3ea5695',
    'username': 'sadgorilla991',
    'password': 'panthers',
    'salt': 'YFRlWwkE',
    'md5': 'fae9d2ecb41d662d600e26a30cb9e6de',
    'sha1': '456171ad0e882f7908e37f0c4c025c59e048c464',
    'sha256': '0b1d90db5dfbec5645f043a63a5e6c5f23a58947312931a4dca91e2e2dc39207'},
   'dob': {'date': '1962-11-26T10:17:15.304Z', 'age': 61},
   'registered': {'date': '2019-10-29T11:06:55.446Z', 'age': 4},
   'phone': '031-9634-530',
   'cell': '064-0155-874',
   'id': {'name': 'SID', 'value': '890827361'},
   'picture': {'large': 'https://randomuser.me/api/portraits/men/50.jpg',
    'medium': 'https://randomuser.me/api/portraits/med/men/50.jpg',
    'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/50.jpg'},
   'nat': 'RS'}],
 'info': {'seed': 'bf00e592e99cd1ce',
  'results': 1,
  'page': 1,
  'version': '1.4'}}

## Query String Parameters

One common way to customize a GET request is to pass values through query string parameters in the URL. 

To do this using get(), you pass data to params.

### Weather API:
1. Sign up to RapidAPI: https://rapidapi.com/signup
2. Select the free plan: https://rapidapi.com/meteostat/api/meteostat/pricing 

It allows you to 500 requests per months, with 3 requests per second maximum.

3. Go to this page and click on `Get Daily Station Data` on the left pane: https://rapidapi.com/meteostat/api/meteostat

4. On the right part `Code snippets` should appear the `x-rapidapi-key`: copy paste it below

5. Complete the information below to get the weather of Berlin today

### Important note: do not push this notebook to Github! It contains your API Key, which you don't want to reveal. If you were to push this content to github, delete your API key before!

In [8]:
# Use double quotes to assign your API key to private_api_key variable as a string
private_api_key = ""

In [9]:
# Define your parameters as a dictionary
params = {
    "lat": 52.520008,  # Find Berlin's latitude and add it here
    "lon": 13.404954,  # Find Berlin's longitude and add it here
    "start": "2024-10-09",  # Replace with today's date
    "end": "2024-10-09"  # Replace with today's date
}

response = requests.get("https://meteostat.p.rapidapi.com/point/daily",
                       params=params,
                       headers={
                           "X-RapidAPI-Host": "meteostat.p.rapidapi.com",
                           "X-RapidAPI-Key": private_api_key # Add the private_api_key variable 
                       })

# Do not push your API key to Github!

In [10]:
print(response.json())

{'message': 'Invalid API key. Go to https://docs.rapidapi.com/docs/keys for more info.'}

<br>
<br>
<br>
<br><br><br><br><br><br>

# Data from Wikipedia

## Installation

First, install and import the package

*Note: all information about the packages and their versions can be found on [Pypi](https://pypi.org/), for example the [wikipedia package](https://pypi.org/project/wikipedia/)*

In [11]:
!pip install wikipedia==1.4.0

Requirement already satisfied: wikipedia==1.4.0 in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (1.4.0)
Requirement already satisfied: beautifulsoup4 in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (from wikipedia==1.4.0) (4.12.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (from wikipedia==1.4.0) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (from requests<3.0.0,>=2.0.0->wikipedia==1.4.0) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (from requests<3.0.0,>=2.0.0->wikipedia==1.4.0) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (from requests<3.0.0,>=2.0.0->wikipedia==1.4.0) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (from requests<3.0.0,>=2.0.0->wikipedia==1.4.0) (2024.8.30)
Requirement already satisfied: soupsieve>1.2 in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (from beautifulsoup4->wikipedia==1.4.0) (2.5)

In [12]:
# Import the package
import wikipedia

## First commands
* wikipedia.summary(<>): provides a summary of the page
* wikipedia.page(<>).content: provides the content
* wikipedia.page(<>).url: provides the URL of the page
* wikipedia.set_lang(<>): changes the request language

### Try the following commands:

In [13]:
wikipedia.summary("FIVB Volleyball Women World Cup")

"The FIVB Volleyball Women's World Cup is an international volleyball competition contested by the senior women's national teams of the members of Fédération Internationale de Volleyball (FIVB), the sport's global governing body. Initially the tournament was played in the year following the Olympic Games, but since 1991 the World Cup has been awarded in the year preceding the Olympic Games. The current champion is China, which won its fifth title at the 2019 tournament.\nThe historical format of the competition involves 12 teams, including the automatically qualifying host nation Japan, competing in the tournament phase for the title at venues within the host nation over a period of about two weeks. The World Cup (with exception of the 2019 edition) acts as the first qualification event for the following year's Olympic Games with the top two teams qualifying.\nThe 14 World Cup tournaments have been won by six different national teams. China have won five times. The other World Cup winners are Cuba, with four titles; Italy, with two titles; Japan and Russia (as Soviet Union) with one title each.\nThis tournament should not be confused with the FIVB Volleyball Women's World Championship."

In [14]:
wikipedia.page("FIVB Volleyball Women World Cup").content

'The FIVB Volleyball Women\'s World Cup is an international volleyball competition contested by the senior women\'s national teams of the members of Fédération Internationale de Volleyball (FIVB), the sport\'s global governing body. Initially the tournament was played in the year following the Olympic Games, but since 1991 the World Cup has been awarded in the year preceding the Olympic Games. The current champion is China, which won its fifth title at the 2019 tournament.\nThe historical format of the competition involves 12 teams, including the automatically qualifying host nation Japan, competing in the tournament phase for the title at venues within the host nation over a period of about two weeks. The World Cup (with exception of the 2019 edition) acts as the first qualification event for the following year\'s Olympic Games with the top two teams qualifying.\nThe 14 World Cup tournaments have been won by six different national teams. China have won five times. The other World Cup winners are Cuba, with four titles; Italy, with two titles; Japan and Russia (as Soviet Union) with one title each.\nThis tournament should not be confused with the FIVB Volleyball Women\'s World Championship.\n\n\n== History ==\n\n\n=== Origins ===\nThe World Cup was created in 1965 with the purpose of partially filling the gap between the two most important volleyball tournaments, the Olympic Games and the World Championship, which take place in alternating 4-year cycles. The establishment of a third international competition would leave only one in every four years with no major events. The World Cup has a smaller entry than the World Championship, with at most 12 teams.\nThe World Cup was to be held in the year following the Olympic Games. The first two tournaments were for men\'s volleyball only; in 1973, a women\'s tournament was also introduced. Originally, each tournament had a different host, but in 1977 the competition was transferred to Japan on a permanent basis.\nIn the 1990s, the installment of annual international events such as the World League and the Grand Prix made the original motivations for the creation of the World Cup obsolete. Instead of letting a consolidated event disappear for lack of interest, the FIVB decided to change its format in 1991: it would be held in the year preceding, and not following, the Olympic Games; and it would be considered a first international Olympic qualification tournament, granting the winner a direct berth in the games.\nThis move saved the competition. The possibility of securing an early berth for the Olympic Games, thus avoiding extraneous and in some cases tight continental qualification procedures, became a consistent motivation for the national federations to participate in the World Cup. In 1995, the number of Olympic spots granted at the competition was increased to three, as it remained until 2011. In 2015 the number of spots was only two again.\n\n\n=== 2023 edition ===\nWith the change of qualification for the Paris Summer Olympics, the 2023 World Cup will serve as one of the three Olympic qualification tournaments. Only eight teams will participate in this edition, with two tickets to the Paris Olympics for the top two teams.\n\n\n=== Winners ===\nThe Women\'s World Cup has had not one great winner, like its counterpart for men\'s volleyball, but two: China and Cuba.\nThe first edition of the tournament was won by the Soviet Union. Japan, the runner-up of 1973, took the gold in 1977. With the help of superstar player Lang Ping, China won the following two editions, in 1981 and 1985.\nThen Cuba stepped forward to begin its amazing World Cup career, winning its first title in 1989. With the tournament now as an Olympic qualifier, there followed three more consecutive victories, in 1991, 1995 and 1999.\nChina came back in 2003 with a remarkably offensive team to win its third title.\nItaly won the 2007 edition with an outstanding record of eleven wins in eleven games and only two sets left to the opponents (both lost against Serbia). Italy took a second win in a row in 2011, getting the better hand on United States and China. In 2015, China regained the title and then successfully defended it in 2019.\n\n\n== Competition formula ==\nThe World Cup is the most stable from all competition formulas employed by the FIVB. The following rules apply:\n\nThe competition takes place in Japan.\nTwelve teams participate in each event: ten qualified, two per invitation.\nJapan are always pre-qualified as host nation.\nThe winners of the FIVB World Championship in the previous year are automatically granted a spot.\nThe champion and runner-up of each continental tournament of that year are granted two spots.\nSince the 1999 edition, only teams not yet qualified for the following Olympic Games can compete in the World Cup; hence hosts of the following year\'s Olympic Games are not allowed to compete. There was an exception for the 2019 World Cup, as the tournament will be hosted by Japan and the country will host the 2020 Summer Olympics.\nThe competition is divided in exactly two phases (called "legs").\nTeams are divided in two pools.\nAt the first leg, each team plays one match against all other teams in its pool.\nAt the second leg, each team plays one match against all the teams in the other pool.\nMatches take place continuously through two weeks, with one-day breaks every two or three days. Each day, six matches are played.\nFinal standings are calculated by usual volleyball criteria: match points, numbers of matches won, sets ratio (the total number of sets won divided by the total number of sets lost), points ratio, direct confrontation.\nThe top two teams in overall standings, regardless of pools, qualify for the following Olympic Games.\nThe tournament implements very tight line-up restrictions: only twelve players are allowed, and no replacement is permitted, even in the case of injuries.\n\n\n== Results summary ==\n\n\n== Medals summary ==\n\n\n== Debut of national teams ==\n\n\n== Participating nations ==\nLegend\n1st – Champions\n2nd – Runners-up\n3rd – Third place\n4th – Fourth place\n •  – Did not enter / Did not qualify\n   – Hosts\n= – More than one team tied for that rank\nQ – Qualified for forthcoming tournament\n\n\n== Most valuable player by edition ==\n1973 –  Jo Hea-jung (KOR)\n1977 –  Takako Shirai (JPN)\n1981 –  Sun Jinfang (CHN)\n1985 –  Lang Ping (CHN)\n1989 –  Mireya Luis (CUB)\n1991 –  Caren Kemner (USA)\n1995 –  Mireya Luis (CUB)\n1999 –  Taismary Agüero (CUB)\n2003 –  Małgorzata Glinka (POL)\n2007 –  Simona Gioli (ITA)\n2011 –  Carolina Costagrande (ITA)\n2015 –  Zhu Ting (CHN)\n2019 –  Zhu Ting (CHN)\n\n\n== See also ==\n\nVolleyball at the Summer Olympics\nFIVB Volleyball Men\'s World Cup\nFIVB Volleyball Women\'s World Championship\nFIVB Volleyball World Grand Champions Cup\nFIVB Volleyball World Grand Prix\nFIVB Volleyball Women\'s Nations League\nList of Indoor Volleyball World Medalists\n\n\n== Notes ==\n\n\n== References ==\n\n\n== External links ==\nFIVB'

In [15]:
wikipedia.page("FIVB Volleyball Women World Cup").url

'https://en.wikipedia.org/wiki/FIVB_Volleyball_Women%27s_World_Cup'

In [16]:
wikipedia.set_lang('de')
wikipedia.summary("FIVB Volleyball Women World Cup")

'Volleyball () ist eine olympische Mannschaftssportart aus der Gruppe der Rückschlagspiele. Zwei Mannschaften mit jeweils sechs Spielern stehen sich dabei auf einem Spielfeld gegenüber, das durch ein Netz geteilt ist. Ziel des Spiels ist es, einen Ball so über das Netz zu schlagen, dass der Ball den Boden der gegnerischen Spielfeldhälfte berührt oder die gegnerische Mannschaft einen Fehler begeht. Eine Mannschaft darf den Ball dreimal in Folge berühren, um ihn zurückzuspielen. Ein etwaiger Block zählt dabei nicht mit. Der Ball wird volley gespielt (daher kommt der Name der Sportart) und darf mit jedem Körperteil berührt werden, jedoch werden in der Praxis fast ausschließlich die Hände oder Arme verwendet.\nVolleyball entstand Ende des 19. Jahrhunderts in den Vereinigten Staaten. Die Sportart wird mittlerweile weltweit betrieben. Der Weltverband FIVB umfasst 222 nationale Verbände und somit mehr Mitglieder als die FIFA oder die Vereinten Nationen. Seit Mitte des 20. Jahrhunderts werden Weltmeisterschaften und olympische Turniere ausgetragen. Weitere hochklassige Wettbewerbe sind die jährlich ausgetragene Volleyball Nations League und der Volleyball World Cup. Hinzu kommen die kontinentalen Turniere (beispielsweise die Europameisterschaft), die Europapokal-Wettbewerbe für Vereinsmannschaften sowie nationale Meisterschaften und Pokalwettbewerbe.\nIn den frühen Jahrzehnten (Mitte des 20. Jahrhunderts) dominierten in Wettbewerben vor allem die National- und Vereinsmannschaften der Sowjetunion, Nationalteams der Tschechoslowakei (Männer) und Japan (Frauen) und Vereinsmannschaften aus Rumänien. Ende des 20. Jahrhunderts kamen die Vereinigten Staaten, Brasilien und Italien als führende Nationen hinzu. Bei den Männern ist außerdem Polen erfolgreich und bei den Frauen haben China und Kuba mehrere Titel gewonnen.\nTrotz der weltweiten Verbreitung wird Volleyball in einzelnen Ländern unterschiedlich wahrgenommen. Während es im deutschsprachigen Raum eher eine Randsportart ist, werden die Spiele in Polen intensiv in den Medien übertragen. Es gibt mehrere Sportarten und Varianten, die sich aus dem Volleyball entwickelt haben. Die bekannteste Variante ist das ebenfalls olympische Beachvolleyball.'

## Extract tabular data from wikipedia into a Pandas dataframe

In [17]:
# First, import the pandas package
import pandas as pd

In [18]:
# You may need to pip install lxml package
!pip install lxml

Requirement already satisfied: lxml in /Users/fynn/miniconda3/envs/datascraping/lib/python3.9/site-packages (5.3.0)

In [19]:
# Import the lxml package
import lxml

In [20]:
# Extract tabular data from wikipedia into a Pandas dataframe.
# We will use pandas.read_html

tables = pd.read_html("https://en.wikipedia.org/wiki/FIVB_Volleyball_Women%27s_World_Cup#Results_summary",
                     match='Champions')

#tables = pd.read_html(wikipedia.page("FIVB Volleyball Women World Cup").url, match='Champions)

In [21]:
# Show the tables variable
tables

[            Year     Host    Unnamed: 2      Champions     Runners-up  \
 0            NaN      NaN           NaN            NaN            NaN
 1            NaN      NaN           NaN            NaN            NaN
 2            NaN      NaN           NaN            NaN            NaN
 3            NaN      NaN           NaN            NaN            NaN
 4            NaN      NaN           NaN            NaN            NaN
 5            NaN      NaN           NaN            NaN            NaN
 6            NaN      NaN           NaN            NaN            NaN
 7            NaN      NaN           NaN            NaN            NaN
 8            NaN      NaN           NaN            NaN            NaN
 9            NaN      NaN           NaN            NaN            NaN
 10           NaN      NaN           NaN            NaN            NaN
 11           NaN      NaN           NaN            NaN            NaN
 12           NaN      NaN           NaN            NaN            NaN
 13           NaN      NaN           NaN            NaN            NaN
 14  1973 Details  Uruguay  Soviet Union          Japan    South Korea
 15  1977 Details    Japan         Japan           Cuba    South Korea
 16  1981 Details    Japan         China          Japan   Soviet Union
 17  1985 Details    Japan         China           Cuba   Soviet Union
 18  1989 Details    Japan          Cuba   Soviet Union          China
 19  1991 Details    Japan          Cuba          China   Soviet Union
 20  1995 Details    Japan          Cuba         Brazil          China
 21  1999 Details    Japan          Cuba         Russia         Brazil
 22  2003 Details    Japan         China         Brazil  United States
 23  2007 Details    Japan         Italy         Brazil  United States
 24  2011 Details    Japan         Italy  United States          China
 25  2015 Details    Japan         China         Serbia  United States
 26  2019 Details    Japan         China  United States         Russia

         3rd place  4th place  Unnamed: 7  Teams
 0             NaN        NaN         NaN    NaN
 1             NaN        NaN         NaN    NaN
 2             NaN        NaN         NaN    NaN
 3             NaN        NaN         NaN    NaN
 4             NaN        NaN         NaN    NaN
 5             NaN        NaN         NaN    NaN
 6             NaN        NaN         NaN    NaN
 7             NaN        NaN         NaN    NaN
 8             NaN        NaN         NaN    NaN
 9             NaN        NaN         NaN    NaN
 10            NaN        NaN         NaN    NaN
 11            NaN        NaN         NaN    NaN
 12            NaN        NaN         NaN    NaN
 13            NaN        NaN         NaN    NaN
 14           Peru       10.0         NaN    NaN
 15          China        8.0         NaN    NaN
 16  United States        8.0         NaN    NaN
 17          Japan        8.0         NaN    NaN
 18          Japan        8.0         NaN    NaN
 19  United States       12.0         NaN    NaN
 20        Croatia       12.0         NaN    NaN
 21    South Korea       12.0         NaN    NaN
 22          Italy       12.0         NaN    NaN
 23           Cuba       12.0         NaN    NaN
 24          Japan       12.0         NaN    NaN
 25         Russia       12.0         NaN    NaN
 26         Brazil       12.0         NaN    NaN  ,
    vteInternational Federation of Volleyball (FIVB) competitions  \
 0                                      National teams
 1                                       Championships
 2                                                Cups
 3                                             Leagues
 4                                Youth national teams
 5                                       Championships
 6                                   Club competitions
 7                                       Championships
 8                                    Beach volleyball
 9                                       Championships
 10                                        World Tours
 11                                       Discontinued
 12                                      Championships
 13                                               Cups
 14                                            Leagues

    vteInternational Federation of Volleyball (FIVB) competitions.1
 0   Championships World championships Men's Women'...
 1                   World championships Men's Women's
 2                            World Cups Men's Women's
 3                       Nations Leagues Men's Women's
 4   Championships World championships Men's U21 Wo...
 5   World championships Men's U21 Women's U21 Boys...
 6   Championships World Club Championships Men's W...
 7              World Club Championships Men's Women's
 8   Championships World Championships Men's Women'...
 9                   World Championships Men's Women's
 10                     World Beach Tour Men's Women's
 11  Championships World Championships Men's U23 Wo...
 12          World Championships Men's U23 Women's U23
 13           World Grand Champions Cups Men's Women's
 14  World League World Grand Prix World Challenger...               ,
                0                                  1
 0  Championships  World championships Men's Women's
 1           Cups           World Cups Men's Women's
 2        Leagues      Nations Leagues Men's Women's,
                0                                                  1
 0  Championships  World championships Men's U21 Women's U21 Boys...,
                0                                       1
 0  Championships  World Club Championships Men's Women's,
                0                                  1
 0  Championships  World Championships Men's Women's
 1    World Tours     World Beach Tour Men's Women's,
                0                                                  1
 0  Championships          World Championships Men's U23 Women's U23
 1           Cups           World Grand Champions Cups Men's Women's
 2        Leagues  World League World Grand Prix World Challenger...,
                  vteInternational women's volleyball  \
 0  FIVB World Ranking Summer Olympic Games FIVB W...
 1                                             Africa
 2                                     Asia & Oceania
 3                                             Europe
 4                                      North America
 5                                    Central America
 6                                      South America
 7                                 Multi-sport events
 8                                       Discontinued

                vteInternational women's volleyball.1
 0  FIVB World Ranking Summer Olympic Games FIVB W...
 1            CAVB African Championship African Games
 2  AVC Asian Championship Asian Cup Asian Challen...
 3  CEV European Championship European League Smal...
 4  NORCECA NORCECA Championship Pan American Cup ...
 5  AFECAVOL Central American Championship Central...
 6  CSV South American Championship Pan American C...
 7  Arab Games Bolivarian Games Lusophone Games Me...
 8  FIVB World Grand Prix FIVB World Grand Champio...  ,
                           vteInternational volleyball  \
 0   FIVB World Rankings Achievements by nation Rec...
 1                                           Worldwide
 2                                      Junior / Youth
 3                                  Multi-sport events
 4                                         Continental
 5                                       Africa (CAVB)
 6                              Asia and Oceania (AVC)
 7                                        Europe (CEV)
 8                                            Americas
 9                                          Top events
 10                            North America (NORCECA)
 11                         Central America (AFECAVOL)
 12                                South America (CSV)

                         vteInternational volleyball.1
 0   FIVB World Rankings Achievements by nation Rec...
 1   Olympic Games World Championships men women Na...
 2   Youth Olympic Games World Championships men U2...
 3   Arab Games Bolivarian Games Goodwill Games Isl...
 4   Africa (CAVB) African Championship men women m...
 5   African Championship men women men U23 women U...
 6   Asian Championship men women men U23 (defunct)...
 7   European Championship men women men U22 women ...
 8   Top events Pan American Games Pan-American Cup...
 9   Pan American Games Pan-American Cup men women ...
 10  NORCECA Championship men women men U21 women U...
 11  Central American Championship men women Centra...
 12  South American Championship men women men U23 ...  ,
                             0  \
 0               Africa (CAVB)
 1      Asia and Oceania (AVC)
 2                Europe (CEV)
 3                    Americas
 4                  Top events
 5     North America (NORCECA)
 6  Central America (AFECAVOL)
 7         South America (CSV)

                                                    1
 0  African Championship men women men U23 women U...
 1  Asian Championship men women men U23 (defunct)...
 2  European Championship men women men U22 women ...
 3  Top events Pan American Games Pan-American Cup...
 4  Pan American Games Pan-American Cup men women ...
 5  NORCECA Championship men women men U21 women U...
 6  Central American Championship men women Centra...
 7  South American Championship men women men U23 ...  ,
                             0  \
 0                  Top events
 1     North America (NORCECA)
 2  Central America (AFECAVOL)
 3         South America (CSV)

                                                    1
 0  Pan American Games Pan-American Cup men women ...
 1  NORCECA Championship men women men U21 women U...
 2  Central American Championship men women Centra...
 3  South American Championship men women men U23 ...  ]

In [22]:
# How big is tables?
len(tables)

11

In [23]:
# Let's get only the first result 
results_df = tables[0]

In [24]:
# Display the content of results_df
results_df

,Year,Host,Unnamed: 2,Champions,Runners-up,3rd place,4th place,Unnamed: 7,Teams
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1973 Details,Uruguay,Soviet Union,Japan,South Korea,Peru,10.0,NaN,NaN
15,1977 Details,Japan,Japan,Cuba,South Korea,China,8.0,NaN,NaN
16,1981 Details,Japan,China,Japan,Soviet Union,United States,8.0,NaN,NaN
17,1985 Details,Japan,China,Cuba,Soviet Union,Japan,8.0,NaN,NaN
18,1989 Details,Japan,Cuba,Soviet Union,China,Japan,8.0,NaN,NaN
19,1991 Details,Japan,Cuba,China,Soviet Union,United States,12.0,NaN,NaN
20,1995 Details,Japan,Cuba,Brazil,China,Croatia,12.0,NaN,NaN
21,1999 Details,Japan,Cuba,Russia,Brazil,South Korea,12.0,NaN,NaN
22,2003 Details,Japan,China,Brazil,United States,Italy,12.0,NaN,NaN
23,2007 Details,Japan,Italy,Brazil,United States,Cuba,12.0,NaN,NaN
24,2011 Details,Japan,Italy,United States,China,Japan,12.0,NaN,NaN
25,2015 Details,Japan,China,Serbia,United States,Russia,12.0,NaN,NaN
26,2019 Details,Japan,China,United States,Russia,Brazil,12.0,NaN,NaN

In [25]:
## Let' clean the data:
# Remove the columns that contain only null values
clean_df = results_df.dropna(how='all')

clean_df

,Year,Host,Unnamed: 2,Champions,Runners-up,3rd place,4th place,Unnamed: 7,Teams
14,1973 Details,Uruguay,Soviet Union,Japan,South Korea,Peru,10.0,NaN,NaN
15,1977 Details,Japan,Japan,Cuba,South Korea,China,8.0,NaN,NaN
16,1981 Details,Japan,China,Japan,Soviet Union,United States,8.0,NaN,NaN
17,1985 Details,Japan,China,Cuba,Soviet Union,Japan,8.0,NaN,NaN
18,1989 Details,Japan,Cuba,Soviet Union,China,Japan,8.0,NaN,NaN
19,1991 Details,Japan,Cuba,China,Soviet Union,United States,12.0,NaN,NaN
20,1995 Details,Japan,Cuba,Brazil,China,Croatia,12.0,NaN,NaN
21,1999 Details,Japan,Cuba,Russia,Brazil,South Korea,12.0,NaN,NaN
22,2003 Details,Japan,China,Brazil,United States,Italy,12.0,NaN,NaN
23,2007 Details,Japan,Italy,Brazil,United States,Cuba,12.0,NaN,NaN
24,2011 Details,Japan,Italy,United States,China,Japan,12.0,NaN,NaN
25,2015 Details,Japan,China,Serbia,United States,Russia,12.0,NaN,NaN
26,2019 Details,Japan,China,United States,Russia,Brazil,12.0,NaN,NaN

#### Jump to the `Self-Work Exercises #1` Section

# Read zip files

In [26]:
unemployment_rates = pd.read_csv("./data/arbeitsmarktstatistik_erwerbslosenquoten_geschlecht.zip", 
                        sep=";",
                        encoding='latin-1')

# Note: erwerbslosenquoten means unemployment rate
# arbeitsmarktstatistik means Statistics about the work market

In [27]:
# Display the data
unemployment_rates

                                                                                                                                                                                                                                                                ILO-Arbeitsmarktstatistik
Datum      Erwerbslosenquoten Männer insgesamt, in % Erwerbslosenquoten Männer unter 25 Jahren, in % Erwerbslosenquoten Männer ab 25 Jahren, in % Erwerbslosenquoten Frauen insgesamt, in % Erwerbslosenquoten Frauen unter 25 Jahren, in %  Erwerbslosenquoten Frauen ab 25 Jahren, in %
01/03/2007 9,5                                       12,7                                            9,1                                          8,8                                       8,7                                                                                       8,8
01/04/2007 8,3                                       13,6                                            7,7                                          9,0                                       10,6                                                                                      8,7
01/05/2007 8,5                                       11,7                                            8,1                                          8,5                                       10,4                                                                                      8,3
01/06/2007 8,0                                       12,5                                            7,4                                          8,7                                       12,9                                                                                      8,2
...                                                                                                                                                                                                                                                                                   ...
01/04/2023 3,2                                       7,5                                             2,7                                          2,9                                       5,0                                                                                       2,6
01/05/2023 3,1                                       5,8                                             2,8                                          2,5                                       4,4                                                                                       2,3
01/06/2023 3,2                                       7,1                                             2,8                                          2,8                                       5,9                                                                                       2,4
01/07/2023 3,2                                       6,9                                             2,8                                          2,8                                       7,1                                                                                       2,3
01/08/2023 3,5                                       7,9                                             3,0                                          2,9                                       5,9                                                                                       2,6

[199 rows x 1 columns]

<br><br>
# Introduction to JSON

In [28]:
# Import the json package
import json

In [29]:
# Creating student records
student1 = {
    "name": "Alice",
    "age": 15,
    "grade": 10,
    "subjects": ["Math", "Science", "History"],
    "city": "Augsburg"
}

student2 = {
    "name": "Bob",
    "age": 16,
    "grade": 11,
    "subjects": ["English", "Physics", "Geography"],
    "city": "Berlin"
}

student3 = {
    "name": "Carol",
    "age": 14,
    "grade": 9,
    "subjects": ["Art", "Music", "PE"],
    "city": "Cottbus"
}

In [30]:
# Creating a list of student records
student_database = [student1, student2, student3]

In [31]:
# Printing list data
student_database

#print(type(student_database))
#print("Real List:", student_database)

[{'name': 'Alice',
  'age': 15,
  'grade': 10,
  'subjects': ['Math', 'Science', 'History'],
  'city': 'Augsburg'},
 {'name': 'Bob',
  'age': 16,
  'grade': 11,
  'subjects': ['English', 'Physics', 'Geography'],
  'city': 'Berlin'},
 {'name': 'Carol',
  'age': 14,
  'grade': 9,
  'subjects': ['Art', 'Music', 'PE'],
  'city': 'Cottbus'}]

In [32]:
# Converting the student database to JSON format
json_data = json.dumps(student_database, indent=4)

With indent=4: Each level of the JSON structure will be indented by 4 spaces, making it easier to read and visually understand the nested structure.

In [55]:
# Printing the JSON data
print(json_data)

# print(type(json_data))
# print("Json List:", json_data)

[
    {
        "name": "Alice",
        "age": 15,
        "grade": 10,
        "subjects": [
            "Math",
            "Science",
            "History"
        ],
        "city": "Augsburg"
    },
    {
        "name": "Bob",
        "age": 16,
        "grade": 11,
        "subjects": [
            "English",
            "Physics",
            "Geography"
        ],
        "city": "Berlin"
    },
    {
        "name": "Carol",
        "age": 14,
        "grade": 9,
        "subjects": [
            "Art",
            "Music",
            "PE"
        ],
        "city": "Cottbus"
    }
]

### Read a json file

First, copy and paste the `animals.json` file into the `data` folder of your working directory

### Load the file

In [34]:
## We first load the file
with open("./data/animals.json") as f:
    d = json.load(f)

print(d)

[{'name': 'Ace', 'animal': 'Alpaca', 'tricks': ['spit'], 'demographics': {'sex': 'male', 'age': 2}, 'owner': 'Alice', 'city': 'Augsburg'}, {'name': 'Biscuit', 'animal': 'Beagle', 'tricks': ['sit', 'hunt'], 'demographics': {'sex': 'female', 'age': 1}, 'owner': 'Bob', 'city': 'Berlin'}, {'name': 'Coco', 'animal': 'Chinchilla', 'tricks': ['explore', 'climb'], 'demographics': {'sex': 'male', 'age': 5}, 'owner': 'Carol', 'city': 'Cottbus'}]

### Normalise the loaded data

In [35]:
# To convert each element in "demographics" section into new columns,
# We prefer to use : pd.json_nomalize
animals_v1 = pd.json_normalize(d)

In [36]:
# Display animals_v1
animals_v1

,name,animal,tricks,owner,city,demographics.sex,demographics.age
0,Ace,Alpaca,[spit],Alice,Augsburg,male,2
1,Biscuit,Beagle,"[sit, hunt]",Bob,Berlin,female,1
2,Coco,Chinchilla,"[explore, climb]",Carol,Cottbus,male,5

### Read a json file as a dataframe directly

In [37]:
animals_v2 = pd.read_json("./data/animals.json")

In [38]:
# Display animals_v2
animals_v2

,name,animal,tricks,demographics,owner,city
0,Ace,Alpaca,[spit],"{'sex': 'male', 'age': 2}",Alice,Augsburg
1,Biscuit,Beagle,"[sit, hunt]","{'sex': 'female', 'age': 1}",Bob,Berlin
2,Coco,Chinchilla,"[explore, climb]","{'sex': 'male', 'age': 5}",Carol,Cottbus

### Self-work exercises #1: 4 points

#### What problems do you see with `clean_df`? Can you clean the DataFrame to obtain a clean one?

Write a series of code commands in order to clean the DataFrame:
- create a deep copy of the DataFrame `clean_df` and assign it to the variable `df`
- get the list of useful columns, without copy-pasting them (use code!)
- drop the columns that contain missing values
- rename the columns so that each column corresponds to the correct header
- transform the `Year` column to remove `Details`, which we don't need

*Tip: this might be useful https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html*

In [67]:
# Create a copy of the dataframe as df
df = clean_df.copy()

# Get the list of columns, and remove the weird "Unnamed" ones
columns_list = [c for c in df.columns if not(c.startswith("Unnamed"))]

# Remove the columns that contain only null values
df.dropna(axis = "columns", how = "all", inplace = True )

# Give the right column names to the dataframe
df.columns = columns_list

# Remove "Details" from the "Year" column
df["Year"] = df["Year"].str.split(" ").str[0]

# Change format of year to date
df["Year"] = pd.to_datetime(df["Year"], format = "%Y")

# Display the content of the dataframe
df

,Year,Host,Champions,Runners-up,3rd place,4th place,Teams
14,1973-01-01,Uruguay,Soviet Union,Japan,South Korea,Peru,10.0
15,1977-01-01,Japan,Japan,Cuba,South Korea,China,8.0
16,1981-01-01,Japan,China,Japan,Soviet Union,United States,8.0
17,1985-01-01,Japan,China,Cuba,Soviet Union,Japan,8.0
18,1989-01-01,Japan,Cuba,Soviet Union,China,Japan,8.0
19,1991-01-01,Japan,Cuba,China,Soviet Union,United States,12.0
20,1995-01-01,Japan,Cuba,Brazil,China,Croatia,12.0
21,1999-01-01,Japan,Cuba,Russia,Brazil,South Korea,12.0
22,2003-01-01,Japan,China,Brazil,United States,Italy,12.0
23,2007-01-01,Japan,Italy,Brazil,United States,Cuba,12.0
24,2011-01-01,Japan,Italy,United States,China,Japan,12.0
25,2015-01-01,Japan,China,Serbia,United States,Russia,12.0
26,2019-01-01,Japan,China,United States,Russia,Brazil,12.0

### Self-work exercises #2: 6 points

#### Use the python commands to answer the following questions

**1. What type is the resulting data (the loaded json: d) ?**

In [88]:
print("Type of the resulting data:")
type(d)

Type of the resulting data:

list

In [101]:
print("Type of the resulting data:", type(d).__name__)

Type of the resulting data: list

**2. How many items does the resulting data have (the loaded json: d) ?**

In [102]:
print("Number of items in the list:", len(d))

Number of items in the list: 3

**3. What is the type of each item in the resulting data (the loaded json: d) ?**

In [103]:
for i, item in enumerate(d):
    print(f"Item {i}: {type(item).__name__}")

# enumerate(d): Adds a counter to the iterable d and returns it as an enumerate object. 
# This means it provides both the index and the item during iteration.

# Loop: It loops through each item in the list d, with i as the index and item as the current element from d.

# Print statement: For each item in the list, it prints the index i and the type of the item, 
# but only the name of the type (type(item).__name__), making the output more readable.

Item 0: dict
Item 1: dict
Item 2: dict

**4. How many tricks does Coco know ? Use the code to output it**

In [110]:
# Find the element for Coco and count her tricks
for item in d:
    if item.get("name") == "Coco" and "tricks" in item:
        print("Number of tricks Coco knows:", len(item["tricks"]))

Number of tricks Coco knows: 2

**5. How can you change the column name to be demographics_sex and demographics_age instead of demographics.sex and demographics.age?**

Save it into animals_v3 variable

*Tip: research online the pandas.json_normalize method*

In [106]:
animals_v3 = pd.json_normalize(d, sep="_")

animals_v3

,name,animal,tricks,owner,city,demographics_sex,demographics_age
0,Ace,Alpaca,[spit],Alice,Augsburg,male,2
1,Biscuit,Beagle,"[sit, hunt]",Bob,Berlin,female,1
2,Coco,Chinchilla,"[explore, climb]",Carol,Cottbus,male,5

**6. Following the examples of students_database, create the teachers_database**

Hints:
- the teacher is very wise, therefore they are at least 100 years old!
- Selma's city starts with S and is located in Germany
- The subject is the course you are taking

In [107]:
### Complete the following program:

from io import StringIO
# StringIO is like an in-memory file object. 
# It lets you treat strings as file-like objects, making it easier to handle and process text data. 

teacher = {
    "name": "Fynn",
    "age": 25,
    "grade": 1.3,
    "subjects": ["Data Scraping"],
    "city": "Krefeld"
}

teacher_database = [teacher]
teacher_data = json.dumps(teacher_database, indent=4)
teachers_df = pd.read_json(StringIO(teacher_data))

# Without StringIO(...) -> Error Message
    # /var/folders/tg/kjfbxsgs3wbc65334wg_zr_80000gn/T/ipykernel_12411/385830941.py:13: 
    # FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. 
    # To read from a literal string, wrap it in a 'StringIO' object.

# By using StringIO, you can simulate reading a file, which is what pd.read_json expects. 
# So, instead of passing the JSON string directly, you wrap it in StringIO to trick pandas into thinking it’s reading from an actual file.

In [108]:
teachers_df

   name  age  grade         subjects     city
0  Fynn   25    1.3  [Data Scraping]  Krefeld