# Working with Data from the Web

## Grading instructions

1. Launch VS Code and open your working-folder
2. Create a `Session_02` folder, in which you create another folder called `data`
3. Copy paste this notebook `02_Data_from_the_Web_lecture` from the lectures repo to the working-folder. 
4. Copy the json file `animals.json` and the zip file `arbeitsmarktstatistik_erwerbslosenquoten_geschlecht.zip` into the `working-folder/Session_02/data` directory.

#### There are two `Self-work exercises` in this notebook
1. During the course, do the self-work exercises
2. Once finished, copy-Paste this notebook `02_Data_from_the_Web_lecture` into `ESMT_2024_DataScraping_Students` folder in your computer
3. Commit and push your self-work in your branch before the deadline. **Push only the notebook, not the files!**

#### Number of points: 10 (weights 10% in the final grade)
- `Self-work exercises #1`: 4 points
- `Self-work exercises #2`: 6 points



#### Deadline: October 18th 08:59 am CET
#### Any missed deadline without justification to the Administration will result in 0 points for this homework.
#### If the Github branch is not correctly named using the indicated format **LASTNAME_firstname**, then a penalty of -2 points will be applied

## Course content

* Introduction to APIs
* Using request package to download files
* Loading files and tables from URLs (wikipedia)
* Working with zip files in Python
* Introduction to JSON (read_json, json_normalise)

# Introduction to API

An API, short for Application Programming Interface, is a concept used to describe – essentially – a piece of intermediary software (the interface) that facilitates communication between 2 other pieces of software (the applications). 

This very broad term is frequently used for web-based systems, database systems, operating systems, or even computer hardware. 

In this chapter we will focus on web-based APIs.

### What is a Web API?

A Web API typically means some kind of special website or URL that we use as a channel to get data from some company or web based program. 

We can write a Python program to retrieve data from the API. Put very bluntly, an API is a website providing data that is easy for a machine (e.g. python code) to understand (as opposed to a prettier, HTML-rendered, user interface for humans).

**Intro to API (duration: 3'24):**
https://www.youtube.com/watch?v=s7wmiS2mSXY

### Examples of Web APIs
* Google Maps: get map coordinates for an address
* Spotify: read and modify a playlist
* GitHub: read statistics on your code repo
* WeatherAPI: get weather data for specific location
* Google Translate: translate texts directly from a Python script

<br>

# Python Requests Library

The Python requests library is a popular third-party library that simplifies the process of making HTTP requests and working with HTTP responses. 

It provides a high-level interface for sending HTTP requests to web servers and receiving their responses. 

This library is widely used for tasks like fetching data from APIs, sending data to servers, and interacting with web resources.

    Installation: You can install the requests library using pip, a package installer for Python:

In [1]:
!pip install requests==2.32.3

Requirement already satisfied: requests==2.32.3 in c:\programdata\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests==2.32.3) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests==2.32.3) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests==2.32.3) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests==2.32.3) (2024.8.30)

    Importing: After installation, you need to import the library in your Python code before you can use it:

In [3]:
import requests

    HTTP Methods: The library supports various HTTP methods, such as GET, POST, PUT, DELETE, etc. These correspond to create, read, update, and delete (or CRUD) operations, respectively. You can choose the appropriate method for your request. 

To make a GET request:

In [5]:
response = requests.get("https://randomuser.me/api/")

## API status code

In [13]:
print(response.status_code)

200

    API Status code:

Status codes are returned with every request that is made to a web server. Status codes indicate information about what happened with a request. Here are some codes that are relevant to GET requests:

    200: Everything went okay, and the result has been returned (if any).
    301: The server is redirecting you to a different endpoint. This can happen when a company switches domain names, or an endpoint name is changed.
    400: The server thinks you made a bad request. This can happen when you don’t send along the right data, among other things.
    401: The server thinks you’re not authenticated. Many APIs require login credentials, so this happens when you don’t send the right credentials to access an API.
    403: The resource you’re trying to access is forbidden: you don’t have the right permissions to see it.
    404: The resource you tried to access wasn’t found on the server.
    503: The server is not ready to handle the request.

For more information about the various HTTP status codes [click here](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)

## Response Object


    Response Object: When you send a request using the requests library, you receive a response object that contains information about the server’s response:

   * response.status_code: HTTP status code of the response (200 is a code meaning a successful operation)
* response.content: Raw content of the response
* response.text: Content of the response in text format
* response.json(): Parses the response content as JSON if applicable
* response.headers: Headers received from the server (additional information passed through both request and response. It could be for example List of acceptable encodings. It is usually hidden to end-user)
* response.url: The URL that was accessed

In [15]:
response.json()

{'results': [{'gender': 'male',
   'name': {'title': 'Mr', 'first': 'William', 'last': 'Walker'},
   'location': {'street': {'number': 102, 'name': 'Cedar St'},
    'city': 'Hampton',
    'state': 'Nova Scotia',
    'country': 'Canada',
    'postcode': 'E4F 0M5',
    'coordinates': {'latitude': '-68.7472', 'longitude': '-67.4390'},
    'timezone': {'offset': '+7:00', 'description': 'Bangkok, Hanoi, Jakarta'}},
   'email': 'william.walker@example.com',
   'login': {'uuid': 'fec0368c-9cf2-47ad-b09a-a2c9aa785962',
    'username': 'organicmouse713',
    'password': '7grout',
    'salt': 'JX9lCP27',
    'md5': 'a57f7b5fbe93bfd77704ad4cf0738e43',
    'sha1': '6ccfd2fe51ebb2eeea16d92c8c835d4166a825df',
    'sha256': '5808524ab250b17be8f29cbc28ccb746a64a1b03f63835c9958e06cfa0e1e069'},
   'dob': {'date': '1953-11-17T01:12:18.286Z', 'age': 70},
   'registered': {'date': '2018-05-14T20:20:21.523Z', 'age': 6},
   'phone': 'R64 N35-4112',
   'cell': 'Q75 M21-1222',
   'id': {'name': 'SIN', 'value': '462662610'},
   'picture': {'large': 'https://randomuser.me/api/portraits/men/56.jpg',
    'medium': 'https://randomuser.me/api/portraits/med/men/56.jpg',
    'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/56.jpg'},
   'nat': 'CA'}],
 'info': {'seed': '6175d1dbfe5e6a6b',
  'results': 1,
  'page': 1,
  'version': '1.4'}}

## Query String Parameters

One common way to customize a GET request is to pass values through query string parameters in the URL. 

To do this using get(), you pass data to params.

### Weather API:
1. Sign up to RapidAPI: https://rapidapi.com/signup
2. Select the free plan: https://rapidapi.com/meteostat/api/meteostat/pricing 

It allows you to 500 requests per months, with 3 requests per second maximum.

3. Go to this page and click on `Get Daily Station Data` on the left pane: https://rapidapi.com/meteostat/api/meteostat

4. On the right part `Code snippets` should appear the `x-rapidapi-key`: copy paste it below

5. Complete the information below to get the weather of Berlin today

### Important note: do not push this notebook to Github! It contains your API Key, which you don't want to reveal. If you were to push this content to github, delete your API key before!

In [39]:
# Use double quotes to assign your API key to private_api_key variable as a string
private_api_key = 8

In [35]:
# Define your parameters as a dictionary
params = {
    "lat":  52.520008,  # Find Berlin's latitude and add it here
    "lon": 13.404954,  # Find Berlin's longitude and add it here
    "start": "2023-10-09",  # Replace with today's date
    "end": "2023-10-09"  # Replace with today's date
}

response = requests.get("https://meteostat.p.rapidapi.com/point/daily",
                       params=params,
                       headers={
                           "X-RapidAPI-Host": "meteostat.p.rapidapi.com",
                           "X-RapidAPI-Key":  private_api_key# Add the private_api_key variable 
                       })

# Do not push your API key to Github!

In [37]:
response.json()

{'meta': {'generated': '2024-10-08 07:49:25',
  'stations': ['10384', '10381', 'D0400', '10385']},
 'data': [{'date': '2023-10-09',
   'tavg': 10.2,
   'tmin': 8.9,
   'tmax': 11.7,
   'prcp': 6.8,
   'snow': 0.0,
   'wdir': 127.0,
   'wspd': 8.3,
   'wpgt': 20.5,
   'pres': 1019.0,
   'tsun': 0}]}

<br>
<br>
<br>
<br><br><br><br><br><br>

# Data from Wikipedia

## Installation

First, install and import the package

*Note: all information about the packages and their versions can be found on [Pypi](https://pypi.org/), for example the [wikipedia package](https://pypi.org/project/wikipedia/)*

In [41]:
!pip install wikipedia==1.4.0

Collecting wikipedia==1.4.0
  Downloading wikipedia-1.4.0.tar.gz (27 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from wikipedia==1.4.0) (4.12.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from wikipedia==1.4.0) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia==1.4.0) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia==1.4.0) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia==1.4.0) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia==1.4.0) (2024.8.30)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->wikipedia==1.4.0) (2.5)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py): started
  Building wheel for wikipedia (setup.py): finished with status 'done'
  Created wheel for wikipedia: filename=wikipedia-1.4.0-py3-none-any.whl size=11706 sha256=0c0ecb310fb2f33aabd96391d176d90a2d117342004f71c2960bca8e378d36e1
  Stored in directory: c:\users\taylor\appdata\local\pip\cache\wheels\63\47\7c\a9688349aa74d228ce0a9023229c6c0ac52ca2a40fe87679b8
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0

In [43]:
# Import the package
import wikipedia

## First commands
* wikipedia.summary(<>): provides a summary of the page
* wikipedia.page(<>).content: provides the content
* wikipedia.page(<>).url: provides the URL of the page
* wikipedia.set_lang(<>): changes the request language

### Try the following commands:

In [67]:
wikipedia.summary("Neon Genesis Evangelion")

"Neon Genesis Evangelion (Japanese: 新世紀エヴァンゲリオン, Hepburn: Shinseiki Evangerion, lit.\u2009'New Century Evangelion' in Japanese and lit.\u2009'New Beginning Gospel' in Greek), also known as Evangelion or Eva, is a Japanese mecha anime television series produced by Gainax, animated by Tatsunoko, and directed by Hideaki Anno. It was broadcast on TV Tokyo from October 1995 to March 1996. \nEvangelion is set 15 years after a worldwide cataclysm in the futuristic fortified city of Tokyo-3. The protagonist is Shinji Ikari, a teenage boy recruited by his father Gendo to the mysterious organization Nerv. Shinji must pilot an Evangelion, a giant biomechanical mecha, to fight beings known as Angels.\nThe series explores the experiences and emotions of the Evangelion pilots and Nerv members as they battle Angels. They are called upon to understand the ultimate cause of events and the motives behind human action. The series has been described as a deconstruction of the mecha genre, and features archetypal imagery derived from Shinto cosmology and mystical Judeo-Christian traditions, including Midrashic tales and Kabbalah. The psychoanalytic accounts of human behavior put forward by Freud and Jung are prominently featured.\nNeon Genesis Evangelion is widely considered one of the greatest anime series of all time. Its final two episodes drew controversy, as many viewers found the ending confusing and abstract. In 1997, Anno and Gainax released the feature film The End of Evangelion, serving as an alternate ending. A series of four films, Rebuild of Evangelion, retelling the events of the series with different plot elements and a new ending, were released between 2007 and 2021. Film, manga, home video, and other products in the Evangelion franchise have achieved record sales in Japanese markets and strong sales in overseas markets, with related goods selling over ¥150 billion by 2007 and Evangelion pachinko machines generating ¥700 billion by 2015."

In [61]:
wikipedia.summary("Gurren Lagann")

'Gurren Lagann, known in Japan as Tengen Toppa Gurren Lagann (Japanese: 天元突破グレンラガン, Hepburn: Tengen Toppa Guren Ragan, lit. "Heaven-Piercing Gurren Lagann"), is a Japanese mecha anime television series animated by Gainax and co-produced by Aniplex and Konami. It ran for 27 episodes on TV Tokyo between April and September 2007. It was directed by Hiroyuki Imaishi and written by veteran playwright Kazuki Nakashima. Gurren Lagann takes place in a fictional future where the Spiral King, Lordgenome, rules Earth and forces mankind to live in isolated subterranean villages. The plot focuses on two teenagers, Simon and Kamina, who live in a subterranean village and wish to go to the surface. Using a mecha known as Lagann, they reach the surface and start fighting alongside other humans against Lordgenome\'s forces before fighting the forces of their true enemy.\nIn North America, although initially announced to be licensed by ADV Films in 2007, the license was transferred to Bandai Entertainment in 2008 and then to Aniplex of America in 2013. In the United Kingdom, it was licensed by Manga Entertainment in 2007, then transferred to Beez Entertainment in 2008, and then to Anime Limited in 2013. The Sci Fi Channel acquired the broadcasting rights of Gurren Lagann and began airing it in July 2008, as part of Sci Fi\'s Ani-Monday anime block. A manga adaptation was published by ASCII Media Works between 2007 and 2013, which Bandai Entertainment licensed and released in English in North America. A series of four light novels was published by Shogakukan between 2007 and 2008. A Nintendo DS video game was released in October 2007, bundled with a special episode of the anime series. Two animated film versions were produced; the first premiered in Japanese theaters in September 2008, and the second premiered in April 2009.\nGurren Lagann has received several awards, including the 7th Tokyo Anime Awards, the 12th Animation Kobe and the Excellence Prize at the 11th Japan Media Arts Festival.\nAs of 2021, alongside Imaishi\'s other works during his time in Gainax, the rights to the series are owned by Studio Trigger, which was formed by Imaishi in 2011.'

In [65]:
wikipedia.page("Gurren Lagann").content

'Gurren Lagann, known in Japan as Tengen Toppa Gurren Lagann (Japanese: 天元突破グレンラガン, Hepburn: Tengen Toppa Guren Ragan, lit. "Heaven-Piercing Gurren Lagann"), is a Japanese mecha anime television series animated by Gainax and co-produced by Aniplex and Konami. It ran for 27 episodes on TV Tokyo between April and September 2007. It was directed by Hiroyuki Imaishi and written by veteran playwright Kazuki Nakashima. Gurren Lagann takes place in a fictional future where the Spiral King, Lordgenome, rules Earth and forces mankind to live in isolated subterranean villages. The plot focuses on two teenagers, Simon and Kamina, who live in a subterranean village and wish to go to the surface. Using a mecha known as Lagann, they reach the surface and start fighting alongside other humans against Lordgenome\'s forces before fighting the forces of their true enemy.\nIn North America, although initially announced to be licensed by ADV Films in 2007, the license was transferred to Bandai Entertainment in 2008 and then to Aniplex of America in 2013. In the United Kingdom, it was licensed by Manga Entertainment in 2007, then transferred to Beez Entertainment in 2008, and then to Anime Limited in 2013. The Sci Fi Channel acquired the broadcasting rights of Gurren Lagann and began airing it in July 2008, as part of Sci Fi\'s Ani-Monday anime block. A manga adaptation was published by ASCII Media Works between 2007 and 2013, which Bandai Entertainment licensed and released in English in North America. A series of four light novels was published by Shogakukan between 2007 and 2008. A Nintendo DS video game was released in October 2007, bundled with a special episode of the anime series. Two animated film versions were produced; the first premiered in Japanese theaters in September 2008, and the second premiered in April 2009.\nGurren Lagann has received several awards, including the 7th Tokyo Anime Awards, the 12th Animation Kobe and the Excellence Prize at the 11th Japan Media Arts Festival.\nAs of 2021, alongside Imaishi\'s other works during his time in Gainax, the rights to the series are owned by Studio Trigger, which was formed by Imaishi in 2011.\n\n\n== Plot ==\n\n\n=== Story ===\n\nGurren Lagann takes place in a future where the Spiral King, Lordgenome, rules Earth and forces mankind to live in isolated subterranean villages which have no contact with the surface world or other villages and are under constant threat from earthquakes. Selected villagers called diggers are conscripted to expand their homes deeper underground. Simon, a meek young digger living in Giha village who is ostracized by his peers, finds solace in his best friend Kamina, an eccentric delinquent who is like an older brother figure to him. Kamina encourages Simon to join his gang, Team Gurren, to help him achieve his dream of visiting the surface world. One day, Simon unearths a drill-shaped key called a Core Drill, followed by a small mecha resembling a face called a Gunmen. Soon after, a giant Gunmen crashes through the ceiling and begins attacking the village, followed by a girl named Yoko who attempts to repel the Gunmen. Simon uses his Core Drill to activate the smaller Gunmen, which Kamina names Lagann, and its drilling-based abilities. He successfully uses it to destroy the larger Gunmen and break through the ceiling, allowing him and Kamina to reach the surface world.\nYoko tells Simon and Kamina that humans on the surface face daily attacks from Gunmen, with their pilots being Beastmen, humanoid creatures that serve as Lordgenome\'s army. Kamina hijacks a Gunmen and names it Gurren, combining it with Lagann to form the mecha Gurren Lagann. Their actions inspire other humans to steal their own Gunmen and join Team Gurren, leading Kamina to rename it Team Dai-Gurren. Eventually, Team Dai-Gurren captures an enemy Gunmen fortress to use as their base of operations, but one of Lordgenome\'s four generals kills Kamina in the preceding battle. Rossiu, a boy from another village, takes over as Gurren\'s pilot, but Kamina\'s death causes Simon to sink into depression until he meets Nia, who is revealed to be Lordgenome\'s daughter. Team Dai-Gurren is initially distrustful of her, but allow her to join them after it becomes apparent that Lordgenome abandoned her, like many before her. Nia helps Simon come to terms with Kamina\'s death, and the rest of Team Dai-Gurren prompt him to take on the role of the team\'s leader, leading them and other teams of humans, who had captured other Gunmen and Gunmen fortresses, to Lordgenome\'s palace, which is revealed to be a gigantic Gunmen called the Teppelin and launches armies of other Gunmen. The human forces engage them while Simon, Nia, and Rossiu pilot Gurren Lagann against Lordgenome, who fights them in a similar Gunmen called Lazengann. With both Lazengann and Gurren damaged, Lordgenome fights Simon in Lagann with his bare hands, and emerges victorious until Simon uses his Core Drill to defeat him for good.\nOver the next seven years, mankind prospers on the surface world, with Simon and the other members of Team Dai-Gurren serving as the world\'s government in their new capital of Kamina City. When the human population reaches one million people, an alien race called the Anti-Spirals emerges and uses Nia to announce their intentions. They have sent the Moon on a collision course with the Earth to wipe out the planet\'s life and prevent them from evolving to the extent they will risk destroying the universe in a cataclysmic event called the Spiral Nemesis. It is revealed that Lordgenome, who was resurrected as a bio-computer, was once part of an intergalactic army of warriors who failed to stop the Anti-Spirals and forced mankind underground to protect them. With help from Lordgenome and Viral, an old enemy of Simon who pilots Gurren, Simon, Gurren Lagann and Team Dai-Gurren prevent the Moon\'s collision, in the process revealing it to be Lordgenome\'s flagship that the Anti-Spirals reprogrammed. Using it, they retrieve the real Moon from the pocket dimension the Anti-Spirals had hidden it in and go to their homeworld. They rescue Nia, and in a one-on-one Gunmen battle across the universe, Simon and Lagann destroy the Anti-Spirals. However, this causes Nia to fade away into nothing, as her existence is tied to that of the Anti-Spirals. With his life in battle finally over, Simon hands his Core Drill over to Gimmy and leaves his friends to wander the planet as a nameless vagrant, stating that his destiny was merely to "dig the tunnel to the future", not to travel down it himself.\nThe epilogue is set twenty years after the team\'s victory over the Anti-Spirals. With most of Team Dai-Gurren having retired, a new generation of pilots has been tasked with preventing the Spiral Nemesis and ensuring the universe\'s safety. Other races from across the galaxy who contacted Earth after being freed from the Anti-Spirals have joined forces with President Rossiu of Kamina City and created the Galactic Spiral Peace Conference. Yoko, now as Miss Yomako, has become the principal of the small school she taught at during her seven year absence from the team. One of her students, Nakim, has become a representative of the galaxy in the Grapearl Squadron. Gimmy and Darry have used Simon\'s Core Drill to become the new pilots of Gurren Lagann. Viral has become the captain of the Super Galaxy Dai-Gurren and an emissary for Earth. Nia\'s memorial and her engagement ring are shown to have been placed next to the graves of Kamina and the members of Team Dai-Gurren who sacrificed themselves in the final battle. Simon, still living as Simon the Digger, watches over them as a squadron of Gurren Laganns flies through the night sky to join their Spiral brethren in the stars.\n\n\n=== Main characters ===\n\nSimon (シモン, Shimon)\nVoiced by: Tetsuya Kakihara (Japanese); Josh Grelle (A.D. Vision dub), Yuri Lowenthal (Bang Zoom! dub) (English)\nSimon () is the main protagonist of Gurren Lagann. He is introduced as a fourteen-year-old digger from Giha village who many of his peers look down upon for his timid and weak character. He greatly admires Kamina, one of his few friends in the village, and refers to him as his brother despite them not being related by blood. His discovery of the Core Drill and the Gunmen Lagann set the events of the series in motion. Simon spends much of the first quarter of the series in Kamina\'s footsteps, but over time gradually acquires his own fighting spirit and determination, acting independently more often until his personality mirrors that of Kamina. Throughout the series, Simon primarily pilots Lagann (Japanese for "head/face"), which can produce drills from his body when reacting to Simon\'s Spiral energy. He can use this ability to combine with Kamina\'s Gunmen, Gurren, to form Gurren Lagann, and to take control of other Gunmen.\nKamina (カミナ)\nVoiced by: Katsuyuki Konishi (Japanese); Brett Weaver (A.D. Vision dub), Kyle Hebert (Bang Zoom! dub) (English)\nKamina is a rebellious youth from Giha village who dreams of leaving his underground home and going to the surface world, which he saw as a child. His passionate and confident personality serves as a foil for the more timid and weak-willed Simon, and serves to instill courage in Simon. He is known for wearing sunglasses and a tattered cape that belonged to his late father. He wields a nodachi he stole from the chief of Giha village and his catchphrase of "just who the hell do you think I/we am/are?!" becomes the battle cry of his group. Although he dies early on in the show, his actions are greatly influential, as he founds Team Gurren, later renaming it Team Dai-Gurren, and acts as its leader to combat Lordgenome and the beastmen. Early on in the series, Kamina hijacks a Gunmen he names Gurren (Japanese for "scarlet"), which he pilots while combined with Simon\'s Lagann to form Gurren Lagann.\nYoko Littner (ヨーコ・リットナー, Yōko Rittonā)\nVoiced by: Marina Inoue (Japanese); Tiffany Grant (A.D. Vision dub), Michelle Ruff (Bang Zoom! dub) (English)\nYoko is a young woman from Littner, a village neighboring Giha, and is introduced as a member of a small resistance against the beastmen. She helps to introduce Simon and Kamina to the surface world, and becomes a member of Team Gurren soon after. She falls in love with Kamina early on the series, and thinks little of Simon until he begins showing signs of self-confidence. After Kamina\'s death, she tries to help Simon cope and forms a sisterly relationship with him. Instead of piloting a Gunmen, she wields a high-powered energy rifle and uses her marksmanship and wise counsel to aid her teammates.\nNia Teppelin (ニア・テッペリン, Nia Tepperin)\nVoiced by: Yukari Fukui (Japanese); Luci Christian (A.D. Vision dub), Hynden Walch (young, Bang Zoom! dub), Bridget Hoffman (Bang Zoom! dub) (English)\nNia is a major character introduced later in the series. Having lived a sheltered life as the daughter of Lordgenome, she is unaware of the war between the humans and Lordgenome until Lordgenome abandons her and Simon discovers her. She is polite, naive, and curious about the world, and acts as a soothing influence for Simon after he falls into depression following Kamina\'s death. The two fall in love and become engaged at the start of the second half of the series, after which she is discovered to be an agent of the Anti-Spirals. During this time, a cold and uncaring personality called "Messenger Nia" takes over her and she is forced to fight Simon against her will until he rescues her. Because her existence is tied to the Anti-Spirals, she fades away along with them following their defeat, but keeps herself alive long enough to marry Simon.\n\n\n== Production ==\n\nGurren Lagann was first announced in July 2006 with Aniplex and Konami assisting Gainax in its making. Konami director Koichi Natsume suggested possibilities of the series getting multiple sequels. The series was directed by Hiroyuki Imaishi, who was a fan of the mecha genre, having previously done animation work for Neon Genesis Evangelion, and ever since he started working he had wanted to work in a mecha series. After working on Re: Cutey Honey with Kazuki Nakashima, Imaishi appointed him as the writer, believing him to be the best choice. Imaishi was surprised with how much material Nakashima could condense into 27 episodes. Imaishi had finished writing the main storyline long before reaching the end which facilitated the staff in making the episodes. According to Gainax president Hiroyuki Yamaga the series was in planning phases for a long time. Animation producer Yasuhiro Takeda used the time to research how the characters would live underground, although this aspect is used only briefly. Once the series started production, the team did not have much time to research materials.\nIn contrast to other popular series, Imaishi decided to include drills as the robot\'s main weapons despite its impact on the suspension of disbelief. Imaishi also wanted the series to only have robots. The robots were made organic so that they would be easier to animate. Nevertheless, animating episode 15 was challenging to the staff due to the number of shots it required. Its animator Sushio called himself the "super animator" for his work. Deciding the design of the Gurren Lagann was complicated since it was the basis for the other mechas appearing in the story.\nIn the making of the series, the team wanted to focus more on the underground life and Simon\'s imprisonment but their ideas could not be used. In the eighth episode Kamina dies to provide Simon\'s character development and make him become the main character. Simon\'s development kept on going until the final arc when staff planned ideas to make him surpass Kamina. The ending was written to finalize Simon\'s growth and not leave signs of a sequel. The finale had the pre-planned tragic event of Nia\'s death which left several staff members saddened. While the staff acknowledged how people were not satisfied with the sad conclusion, they noted that there were still issues that made her survival difficult for the characters. Once the series ended, Yamaga had the idea of releasing a film that retells the events of the series to expand the audience.\n\n\n=== Influences ===\nIn an interview, the writer Kazuki Nakashima cites Ken Ishikawa, co-creator of Getter Robo, as one of Gurren Lagann\'s influences. Gurren Lagann occasionally pays homage to Ishikawa\'s Getter Robo, particularly towards the end of the series, where the scale becomes absurd, with the robots steadily becoming bigger and bigger, much like Getter Robo and more specifically, the manga version of Getter Robo Go. The final enemy also bears a striking resemblance to La Gooth of Records of Nothingness, another work by Ishikawa. Nakashima, however, wanted to conclude the story of Gurren Lagann in a more reasonable fashion than what Ishikawa usually does in his works. According to Jason Green from Anime News Network, the anime was influenced by previous Gainax anime, particularly in the character development of the protagonist Simon, who goes through three stages in his character development during the three arcs of the series. Each of these stages in his development were influenced by protagonists from several previous Gainax anime: Shinji Ikari from the Neon Genesis Evangelion franchise, Noriko Takaya from Gunbuster, and Ken Kubo from Otaku no Video. The animation on the show pays special tribute to the animation and character designs of Yoshinori Kanada.\n\n\n=== Conflicts ===\nTakami Akai, an animation producer of the series and a co-founder of Gainax, announced that he would resign his position effective episode five, which aired on April 29, 2007, over comments that he made regarding posts on the Japanese textboard 2channel. Akai and another Gainax employee, Keiko Mimori, made disparaging remarks about comments criticizing the animation style of the fourth episode of Gurren Lagann, which was completely directed by guest and friend Osamu Kobayashi. With regard to reading the fan criticisms, Akai stated that it was "like putting [his] face next to an anus and breathing deeply." Fans later became aware of his comments, and he announced his departure from the company he helped found.\nAs a result of the series airing in a child-friendly time slot, the staff members had problems with episode 6. Although that episode had a subplot involving peeking into the women\'s bath, the television stations believed it was suitable when reading the script. After seeing the finished episode, the station said that it could not be aired, and a revised version of the episode was produced.\n\n\n== Media ==\n\n\n=== Anime series ===\n\nProduced by the animation studio Gainax and directed by Hiroyuki Imaishi, Gurren Lagann aired in Japan on TXN stations between April 1 and September 30, 2007. The anime has 27 episodes plus two specials, the first being the uncensored version of the sixth episode, and the second is episode 5.5, a bonus that came with the Nintendo DS game.\nThe English version had been previously licensed by ADV Films, but was later acquired by Bandai Entertainment. A subtitle-only version was released in three volumes from July to September 2008, and an official English dub, with the episodes collected in three DVD sets, was released from November 18, 2008, to May 5, 2009. The show premiered on the Sci Fi Channel on July 28, 2008, as part of Sci Fi\'s Ani-Monday anime block, airing two episodes each week (and three the final week). The European distribution branch of Bandai, Beez Entertainment, distributed the series in the UK and Europe but has gone out of print since January 2012. In 2013, Anime Limited announced that they have the distribution license for Gurren Lagann on DVD and Blu-ray in the UK. In 2014, they released a limited Blu-ray Ultimate Edition on October 20, 2014, featuring the entire series, both film adaptations and the complete Parallel Works series, as well as a hardcover artbook. A standard edition Blu-ray containing the complete series was also released on the same day with the DVD release following later that year. The English version also aired on Animax across its English-language networks in Southeast Asia and South Asia starting on May 22, 2009. It was broadcast in Italy on Rai 4 between September 24, 2009, and April 1, 2010. Aniplex of America re-released the series in a limited edition DVD box set on May 9, 2013. A Blu-ray Disc box set, which includes both the television series and the two film adaptations, was released on June 26, 2013. Adult Swim began airing the series in English as part of the Toonami block on August 16, 2014.\n\n\n==== Music ====\nTaku Iwasaki composed the show\'s main background music. Four theme songs are used for the episodes; one opening theme and three ending themes. The opening theme is "Sorairo Days" (空色デイズ, Sorairo Deizu, lit. "Sky-Blue Days") by Shoko Nakagawa. Starting from episode 17, the second verse and chorus was used, as compared to the first verse and chorus used in the previous episodes. For episodes 1 through 15 the ending theme is "Underground" by High Voltage. "Happily Ever After" by Shoko Nakagawa was used in episode 16. "Minna no Peace" (みんなのピース, Minna no Pīsu, "Everyone\'s Peace") by Afromania was used for episodes 17 to 27.\nTengen Toppa Gurren Lagann Character Song was released on July 25, 2007, by Aniplex, including image songs by the main voice cast, with songs sung by Tetsuya Kakihara (Simon), Katsuyuki Konishi (Kamina), and Marina Inoue (Yoko), the latter of which is a playable song in Dance Dance Revolution SuperNOVA 2. In addition, several music compilation albums have been released, most consisting of background music.\n\n\n=== Manga ===\nThe Tengen Toppa Gurren Lagann manga, illustrated by Kotaro Mori, started serialization in the June 2007 issue of MediaWorks\' magazine Dengeki Comic Gao!. The manga

In [45]:
wikipedia.summary("FIVB Volleyball Women World Cup")

"The FIVB Volleyball Women's World Cup is an international volleyball competition contested by the senior women's national teams of the members of Fédération Internationale de Volleyball (FIVB), the sport's global governing body. Initially the tournament was played in the year following the Olympic Games, but since 1991 the World Cup has been awarded in the year preceding the Olympic Games. The current champion is China, which won its fifth title at the 2019 tournament.\nThe historical format of the competition involves 12 teams, including the automatically qualifying host nation Japan, competing in the tournament phase for the title at venues within the host nation over a period of about two weeks. The World Cup (with exception of the 2019 edition) acts as the first qualification event for the following year's Olympic Games with the top two teams qualifying.\nThe 14 World Cup tournaments have been won by six different national teams. China have won five times. The other World Cup winners are Cuba, with four titles; Italy, with two titles; Japan and Russia (as Soviet Union) with one title each.\nThis tournament should not be confused with the FIVB Volleyball Women's World Championship.\n\n"

In [52]:
wikipedia.page("FIVB Volleyball Women World Cup").content

'The FIVB Volleyball Women\'s World Cup is an international volleyball competition contested by the senior women\'s national teams of the members of Fédération Internationale de Volleyball (FIVB), the sport\'s global governing body. Initially the tournament was played in the year following the Olympic Games, but since 1991 the World Cup has been awarded in the year preceding the Olympic Games. The current champion is China, which won its fifth title at the 2019 tournament.\nThe historical format of the competition involves 12 teams, including the automatically qualifying host nation Japan, competing in the tournament phase for the title at venues within the host nation over a period of about two weeks. The World Cup (with exception of the 2019 edition) acts as the first qualification event for the following year\'s Olympic Games with the top two teams qualifying.\nThe 14 World Cup tournaments have been won by six different national teams. China have won five times. The other World Cup winners are Cuba, with four titles; Italy, with two titles; Japan and Russia (as Soviet Union) with one title each.\nThis tournament should not be confused with the FIVB Volleyball Women\'s World Championship.\n\n\n== History ==\n\n\n=== Origins ===\nThe World Cup was created in 1965 with the purpose of partially filling the gap between the two most important volleyball tournaments, the Olympic Games and the World Championship, which take place in alternating 4-year cycles. The establishment of a third international competition would leave only one in every four years with no major events. The World Cup has a smaller entry than the World Championship, with at most 12 teams.\nThe World Cup was to be held in the year following the Olympic Games. The first two tournaments were for men\'s volleyball only; in 1973, a women\'s tournament was also introduced. Originally, each tournament had a different host, but in 1977 the competition was transferred to Japan on a permanent basis.\nIn the 1990s, the installment of annual international events such as the World League and the Grand Prix made the original motivations for the creation of the World Cup obsolete. Instead of letting a consolidated event disappear for lack of interest, the FIVB decided to change its format in 1991: it would be held in the year preceding, and not following, the Olympic Games; and it would be considered a first international Olympic qualification tournament, granting the winner a direct berth in the games.\nThis move saved the competition. The possibility of securing an early berth for the Olympic Games, thus avoiding extraneous and in some cases tight continental qualification procedures, became a consistent motivation for the national federations to participate in the World Cup. In 1995, the number of Olympic spots granted at the competition was increased to three, as it remained until 2011. In 2015 the number of spots was only two again.\n\n\n=== 2023 edition ===\nWith the change of qualification for the Paris Summer Olympics, the 2023 World Cup will serve as one of the three Olympic qualification tournaments. Only eight teams will participate in this edition, with two tickets to the Paris Olympics for the top two teams.\n\n\n=== Winners ===\nThe Women\'s World Cup has had not one great winner, like its counterpart for men\'s volleyball, but two: China and Cuba.\nThe first edition of the tournament was won by the Soviet Union. Japan, the runner-up of 1973, took the gold in 1977. With the help of superstar player Lang Ping, China won the following two editions, in 1981 and 1985.\nThen Cuba stepped forward to begin its amazing World Cup career, winning its first title in 1989. With the tournament now as an Olympic qualifier, there followed three more consecutive victories, in 1991, 1995 and 1999.\nChina came back in 2003 with a remarkably offensive team to win its third title.\nItaly won the 2007 edition with an outstanding record of eleven wins in eleven games and only two sets left to the opponents (both lost against Serbia). Italy took a second win in a row in 2011, getting the better hand on United States and China. In 2015, China regained the title and then successfully defended it in 2019.\n\n\n== Competition formula ==\nThe World Cup is the most stable from all competition formulas employed by the FIVB. The following rules apply:\n\nThe competition takes place in Japan.\nTwelve teams participate in each event: ten qualified, two per invitation.\nJapan are always pre-qualified as host nation.\nThe winners of the FIVB World Championship in the previous year are automatically granted a spot.\nThe champion and runner-up of each continental tournament of that year are granted two spots.\nSince the 1999 edition, only teams not yet qualified for the following Olympic Games can compete in the World Cup; hence hosts of the following year\'s Olympic Games are not allowed to compete. There was an exception for the 2019 World Cup, as the tournament will be hosted by Japan and the country will host the 2020 Summer Olympics.\nThe competition is divided in exactly two phases (called "legs").\nTeams are divided in two pools.\nAt the first leg, each team plays one match against all other teams in its pool.\nAt the second leg, each team plays one match against all the teams in the other pool.\nMatches take place continuously through two weeks, with one-day breaks every two or three days. Each day, six matches are played.\nFinal standings are calculated by usual volleyball criteria: match points, numbers of matches won, sets ratio (the total number of sets won divided by the total number of sets lost), points ratio, direct confrontation.\nThe top two teams in overall standings, regardless of pools, qualify for the following Olympic Games.\nThe tournament implements very tight line-up restrictions: only twelve players are allowed, and no replacement is permitted, even in the case of injuries.\n\n\n== Results summary ==\n\n\n== Medals summary ==\n\n\n== Debut of national teams ==\n\n\n== Participating nations ==\nLegend\n1st – Champions\n2nd – Runners-up\n3rd – Third place\n4th – Fourth place\n •  – Did not enter / Did not qualify\n   – Hosts\n= – More than one team tied for that rank\nQ – Qualified for forthcoming tournament\n\n\n== Most valuable player by edition ==\n1973 –  Jo Hea-jung (KOR)\n1977 –  Takako Shirai (JPN)\n1981 –  Sun Jinfang (CHN)\n1985 –  Lang Ping (CHN)\n1989 –  Mireya Luis (CUB)\n1991 –  Caren Kemner (USA)\n1995 –  Mireya Luis (CUB)\n1999 –  Taismary Agüero (CUB)\n2003 –  Małgorzata Glinka (POL)\n2007 –  Simona Gioli (ITA)\n2011 –  Carolina Costagrande (ITA)\n2015 –  Zhu Ting (CHN)\n2019 –  Zhu Ting (CHN)\n\n\n== See also ==\n\nVolleyball at the Summer Olympics\nFIVB Volleyball Men\'s World Cup\nFIVB Volleyball Women\'s World Championship\nFIVB Volleyball World Grand Champions Cup\nFIVB Volleyball World Grand Prix\nFIVB Volleyball Women\'s Nations League\nList of Indoor Volleyball World Medalists\n\n\n== Notes ==\n\n\n== References ==\n\n\n== External links ==\nFIVB'

In [91]:
wikipedia.page("FIVB Volleyball Women World Cup").url

'https://en.wikipedia.org/wiki/FIVB_Volleyball_Women%27s_World_Cup'

In [ ]:
wikipedia.set_lang('de')
wikipedia.summary("FIVB Volleyball Women World Cup")

## Extract tabular data from wikipedia into a Pandas dataframe

In [49]:
# First, import the pandas package
import pandas as pd

In [51]:
# You may need to pip install lxml package
!pip install lxml

Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (5.2.1)

In [69]:
# Import the lxml package
import lxml

In [71]:
# Extract tabular data from wikipedia into a Pandas dataframe.
# We will use pandas.read_html

tables = pd.read_html("https://en.wikipedia.org/wiki/FIVB_Volleyball_Women%27s_World_Cup#Results_summary",
                     match='Champions')

In [73]:
# Show the tables variable
tables

[            Year     Host    Unnamed: 2      Champions     Runners-up  \
 0            NaN      NaN           NaN            NaN            NaN
 1            NaN      NaN           NaN            NaN            NaN
 2            NaN      NaN           NaN            NaN            NaN
 3            NaN      NaN           NaN            NaN            NaN
 4            NaN      NaN           NaN            NaN            NaN
 5            NaN      NaN           NaN            NaN            NaN
 6            NaN      NaN           NaN            NaN            NaN
 7            NaN      NaN           NaN            NaN            NaN
 8            NaN      NaN           NaN            NaN            NaN
 9            NaN      NaN           NaN            NaN            NaN
 10           NaN      NaN           NaN            NaN            NaN
 11           NaN      NaN           NaN            NaN            NaN
 12           NaN      NaN           NaN            NaN            NaN
 13           NaN      NaN           NaN            NaN            NaN
 14  1973 Details  Uruguay  Soviet Union          Japan    South Korea
 15  1977 Details    Japan         Japan           Cuba    South Korea
 16  1981 Details    Japan         China          Japan   Soviet Union
 17  1985 Details    Japan         China           Cuba   Soviet Union
 18  1989 Details    Japan          Cuba   Soviet Union          China
 19  1991 Details    Japan          Cuba          China   Soviet Union
 20  1995 Details    Japan          Cuba         Brazil          China
 21  1999 Details    Japan          Cuba         Russia         Brazil
 22  2003 Details    Japan         China         Brazil  United States
 23  2007 Details    Japan         Italy         Brazil  United States
 24  2011 Details    Japan         Italy  United States          China
 25  2015 Details    Japan         China         Serbia  United States
 26  2019 Details    Japan         China  United States         Russia

         3rd place  4th place  Unnamed: 7  Teams
 0             NaN        NaN         NaN    NaN
 1             NaN        NaN         NaN    NaN
 2             NaN        NaN         NaN    NaN
 3             NaN        NaN         NaN    NaN
 4             NaN        NaN         NaN    NaN
 5             NaN        NaN         NaN    NaN
 6             NaN        NaN         NaN    NaN
 7             NaN        NaN         NaN    NaN
 8             NaN        NaN         NaN    NaN
 9             NaN        NaN         NaN    NaN
 10            NaN        NaN         NaN    NaN
 11            NaN        NaN         NaN    NaN
 12            NaN        NaN         NaN    NaN
 13            NaN        NaN         NaN    NaN
 14           Peru       10.0         NaN    NaN
 15          China        8.0         NaN    NaN
 16  United States        8.0         NaN    NaN
 17          Japan        8.0         NaN    NaN
 18          Japan        8.0         NaN    NaN
 19  United States       12.0         NaN    NaN
 20        Croatia       12.0         NaN    NaN
 21    South Korea       12.0         NaN    NaN
 22          Italy       12.0         NaN    NaN
 23           Cuba       12.0         NaN    NaN
 24          Japan       12.0         NaN    NaN
 25         Russia       12.0         NaN    NaN
 26         Brazil       12.0         NaN    NaN  ,
    vteInternational Federation of Volleyball (FIVB) competitions  \
 0                                      National teams
 1                                       Championships
 2                                                Cups
 3                                             Leagues
 4                                Youth national teams
 5                                       Championships
 6                                   Club competitions
 7                                       Championships
 8                                    Beach volleyball
 9                                       Championships
 10                                        World Tours
 11                                       Discontinued
 12                                      Championships
 13                                               Cups
 14                                            Leagues

    vteInternational Federation of Volleyball (FIVB) competitions.1
 0   Championships World championships Men's Women'...
 1                   World championships Men's Women's
 2                            World Cups Men's Women's
 3                       Nations Leagues Men's Women's
 4   Championships World championships Men's U21 Wo...
 5   World championships Men's U21 Women's U21 Boys...
 6   Championships World Club Championships Men's W...
 7              World Club Championships Men's Women's
 8   Championships World Championships Men's Women'...
 9                   World Championships Men's Women's
 10                     World Beach Tour Men's Women's
 11  Championships World Championships Men's U23 Wo...
 12          World Championships Men's U23 Women's U23
 13           World Grand Champions Cups Men's Women's
 14  World League World Grand Prix World Challenger...               ,
                0                                  1
 0  Championships  World championships Men's Women's
 1           Cups           World Cups Men's Women's
 2        Leagues      Nations Leagues Men's Women's,
                0                                                  1
 0  Championships  World championships Men's U21 Women's U21 Boys...,
                0                                       1
 0  Championships  World Club Championships Men's Women's,
                0                                  1
 0  Championships  World Championships Men's Women's
 1    World Tours     World Beach Tour Men's Women's,
                0                                                  1
 0  Championships          World Championships Men's U23 Women's U23
 1           Cups           World Grand Champions Cups Men's Women's
 2        Leagues  World League World Grand Prix World Challenger...,
                  vteInternational women's volleyball  \
 0  FIVB World Ranking Summer Olympic Games FIVB W...
 1                                             Africa
 2                                     Asia & Oceania
 3                                             Europe
 4                                      North America
 5                                    Central America
 6                                      South America
 7                                 Multi-sport events
 8                                       Discontinued

                vteInternational women's volleyball.1
 0  FIVB World Ranking Summer Olympic Games FIVB W...
 1            CAVB African Championship African Games
 2  AVC Asian Championship Asian Cup Asian Challen...
 3  CEV European Championship European League Smal...
 4  NORCECA NORCECA Championship Pan American Cup ...
 5  AFECAVOL Central American Championship Central...
 6  CSV South American Championship Pan American C...
 7  Arab Games Bolivarian Games Lusophone Games Me...
 8  FIVB World Grand Prix FIVB World Grand Champio...  ,
                           vteInternational volleyball  \
 0   FIVB World Rankings Achievements by nation Rec...
 1                                           Worldwide
 2                                      Junior / Youth
 3                                  Multi-sport events
 4                                         Continental
 5                                       Africa (CAVB)
 6                              Asia and Oceania (AVC)
 7                                        Europe (CEV)
 8                                            Americas
 9                                          Top events
 10                            North America (NORCECA)
 11                         Central America (AFECAVOL)
 12                                South America (CSV)

                         vteInternational volleyball.1
 0   FIVB World Rankings Achievements by nation Rec...
 1   Olympic Games World Championships men women Na...
 2   Youth Olympic Games World Championships men U2...
 3   Arab Games Bolivarian Games Goodwill Games Isl...
 4   Africa (CAVB) African Championship men women m...
 5   African Championship men women men U23 women U...
 6   Asian Championship men women men U23 (defunct)...
 7   European Championship men women men U22 women ...
 8   Top events Pan American Games Pan-American Cup...
 9   Pan American Games Pan-American Cup men women ...
 10  NORCECA Championship men women men U21 women U...
 11  Central American Championship men women Centra...
 12  South American Championship men women men U23 ...  ,
                             0  \
 0               Africa (CAVB)
 1      Asia and Oceania (AVC)
 2                Europe (CEV)
 3                    Americas
 4                  Top events
 5     North America (NORCECA)
 6  Central America (AFECAVOL)
 7         South America (CSV)

                                                    1
 0  African Championship men women men U23 women U...
 1  Asian Championship men women men U23 (defunct)...
 2  European Championship men women men U22 women ...
 3  Top events Pan American Games Pan-American Cup...
 4  Pan American Games Pan-American Cup men women ...
 5  NORCECA Championship men women men U21 women U...
 6  Central American Championship men women Centra...
 7  South American Championship men women men U23 ...  ,
                             0  \
 0                  Top events
 1     North America (NORCECA)
 2  Central America (AFECAVOL)
 3         South America (CSV)

                                                    1
 0  Pan American Games Pan-American Cup men women ...
 1  NORCECA Championship men women men U21 women U...
 2  Central American Championship men women Centra...
 3  South American Championship men women men U23 ...  ]

In [93]:
# How big is tables?
len(tables)

11

In [95]:
# Let's get only the first result 
results_df = tables[0]

In [97]:
# Display the content of results_df
results_df

,Year,Host,Unnamed: 2,Champions,Runners-up,3rd place,4th place,Unnamed: 7,Teams
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1973 Details,Uruguay,Soviet Union,Japan,South Korea,Peru,10.0,NaN,NaN
15,1977 Details,Japan,Japan,Cuba,South Korea,China,8.0,NaN,NaN
16,1981 Details,Japan,China,Japan,Soviet Union,United States,8.0,NaN,NaN
17,1985 Details,Japan,China,Cuba,Soviet Union,Japan,8.0,NaN,NaN
18,1989 Details,Japan,Cuba,Soviet Union,China,Japan,8.0,NaN,NaN
19,1991 Details,Japan,Cuba,China,Soviet Union,United States,12.0,NaN,NaN
20,1995 Details,Japan,Cuba,Brazil,China,Croatia,12.0,NaN,NaN
21,1999 Details,Japan,Cuba,Russia,Brazil,South Korea,12.0,NaN,NaN
22,2003 Details,Japan,China,Brazil,United States,Italy,12.0,NaN,NaN
23,2007 Details,Japan,Italy,Brazil,United States,Cuba,12.0,NaN,NaN
24,2011 Details,Japan,Italy,United States,China,Japan,12.0,NaN,NaN
25,2015 Details,Japan,China,Serbia,United States,Russia,12.0,NaN,NaN
26,2019 Details,Japan,China,United States,Russia,Brazil,12.0,NaN,NaN

In [105]:
# Let' clean the data:
## Remove all rows that contain only null values

clean_df = results_df.dropna(how='all')
clean_df

,Year,Host,Unnamed: 2,Champions,Runners-up,3rd place,4th place,Unnamed: 7,Teams
14,1973 Details,Uruguay,Soviet Union,Japan,South Korea,Peru,10.0,NaN,NaN
15,1977 Details,Japan,Japan,Cuba,South Korea,China,8.0,NaN,NaN
16,1981 Details,Japan,China,Japan,Soviet Union,United States,8.0,NaN,NaN
17,1985 Details,Japan,China,Cuba,Soviet Union,Japan,8.0,NaN,NaN
18,1989 Details,Japan,Cuba,Soviet Union,China,Japan,8.0,NaN,NaN
19,1991 Details,Japan,Cuba,China,Soviet Union,United States,12.0,NaN,NaN
20,1995 Details,Japan,Cuba,Brazil,China,Croatia,12.0,NaN,NaN
21,1999 Details,Japan,Cuba,Russia,Brazil,South Korea,12.0,NaN,NaN
22,2003 Details,Japan,China,Brazil,United States,Italy,12.0,NaN,NaN
23,2007 Details,Japan,Italy,Brazil,United States,Cuba,12.0,NaN,NaN
24,2011 Details,Japan,Italy,United States,China,Japan,12.0,NaN,NaN
25,2015 Details,Japan,China,Serbia,United States,Russia,12.0,NaN,NaN
26,2019 Details,Japan,China,United States,Russia,Brazil,12.0,NaN,NaN

#### Jump to the `Self-Work Exercises #1` Section

# Read zip files

In [107]:
unemployment_rates = pd.read_csv("./data/arbeitsmarktstatistik_erwerbslosenquoten_geschlecht.zip", 
                        sep=";",
                        encoding='latin-1')

# Note: erwerbslosenquoten means unemployment rate
# arbeitsmarktstatistik means Statistics about the work market

In [109]:
# Display the data
unemployment_rates

                                                                                                                                                                                                                                                                ILO-Arbeitsmarktstatistik
Datum      Erwerbslosenquoten Männer insgesamt, in % Erwerbslosenquoten Männer unter 25 Jahren, in % Erwerbslosenquoten Männer ab 25 Jahren, in % Erwerbslosenquoten Frauen insgesamt, in % Erwerbslosenquoten Frauen unter 25 Jahren, in %  Erwerbslosenquoten Frauen ab 25 Jahren, in %
01/03/2007 9,5                                       12,7                                            9,1                                          8,8                                       8,7                                                                                       8,8
01/04/2007 8,3                                       13,6                                            7,7                                          9,0                                       10,6                                                                                      8,7
01/05/2007 8,5                                       11,7                                            8,1                                          8,5                                       10,4                                                                                      8,3
01/06/2007 8,0                                       12,5                                            7,4                                          8,7                                       12,9                                                                                      8,2
...                                                                                                                                                                                                                                                                                   ...
01/04/2023 3,2                                       7,5                                             2,7                                          2,9                                       5,0                                                                                       2,6
01/05/2023 3,1                                       5,8                                             2,8                                          2,5                                       4,4                                                                                       2,3
01/06/2023 3,2                                       7,1                                             2,8                                          2,8                                       5,9                                                                                       2,4
01/07/2023 3,2                                       6,9                                             2,8                                          2,8                                       7,1                                                                                       2,3
01/08/2023 3,5                                       7,9                                             3,0                                          2,9                                       5,9                                                                                       2,6

[199 rows x 1 columns]

<br><br>
# Introduction to JSON

In [111]:
# Import the json package
import json

In [113]:
# Creating student records
student1 = {
    "name": "Alice",
    "age": 15,
    "grade": 10,
    "subjects": ["Math", "Science", "History"],
    "city": "Augsburg"
}

student2 = {
    "name": "Bob",
    "age": 16,
    "grade": 11,
    "subjects": ["English", "Physics", "Geography"],
    "city": "Berlin"
}

student3 = {
    "name": "Carol",
    "age": 14,
    "grade": 9,
    "subjects": ["Art", "Music", "PE"],
    "city": "Cottbus"
}

In [115]:
# Creating a list of student records
student_database = [student1,student2,student3]

In [169]:
# Converting the student database to JSON format
json_data = json.dumps(student_database, indent=4)

With indent=4: Each level of the JSON structure will be indented by 4 spaces, making it easier to read and visually understand the nested structure.

In [173]:
# Printing the JSON data
print(json_data)

[
    {
        "name": "Alice",
        "age": 15,
        "grade": 10,
        "subjects": [
            "Math",
            "Science",
            "History"
        ],
        "city": "Augsburg"
    },
    {
        "name": "Bob",
        "age": 16,
        "grade": 11,
        "subjects": [
            "English",
            "Physics",
            "Geography"
        ],
        "city": "Berlin"
    },
    {
        "name": "Carol",
        "age": 14,
        "grade": 9,
        "subjects": [
            "Art",
            "Music",
            "PE"
        ],
        "city": "Cottbus"
    }
]

### Read a json file

First, copy and paste the `animals.json` file into the `data` folder of your working directory

### Load the file

In [121]:
## We first load the file
with open("./data/animals.json") as f:
    d = json.load(f)

print(d)

[{'name': 'Ace', 'animal': 'Alpaca', 'tricks': ['spit'], 'demographics': {'sex': 'male', 'age': 2}, 'owner': 'Alice', 'city': 'Augsburg'}, {'name': 'Biscuit', 'animal': 'Beagle', 'tricks': ['sit', 'hunt'], 'demographics': {'sex': 'female', 'age': 1}, 'owner': 'Bob', 'city': 'Berlin'}, {'name': 'Coco', 'animal': 'Chinchilla', 'tricks': ['explore', 'climb'], 'demographics': {'sex': 'male', 'age': 5}, 'owner': 'Carol', 'city': 'Cottbus'}]

### Normalise the loaded data

In [165]:
# To convert each element in "demographics" section into new columns,
# We prefer to use : pd.json_nomalize
animals_v1 = pd.json_normalize(d)

In [167]:
# Display animals_v1
animals_v1

,name,animal,tricks,owner,city,demographics.sex,demographics.age
0,Ace,Alpaca,[spit],Alice,Augsburg,male,2
1,Biscuit,Beagle,"[sit, hunt]",Bob,Berlin,female,1
2,Coco,Chinchilla,"[explore, climb]",Carol,Cottbus,male,5

### Read a json file as a dataframe directly

In [177]:
animals_v2 = pd.read_json('./data/animals.json')

In [179]:
# Display animals_v2
animals_v2

,name,animal,tricks,demographics,owner,city
0,Ace,Alpaca,[spit],"{'sex': 'male', 'age': 2}",Alice,Augsburg
1,Biscuit,Beagle,"[sit, hunt]","{'sex': 'female', 'age': 1}",Bob,Berlin
2,Coco,Chinchilla,"[explore, climb]","{'sex': 'male', 'age': 5}",Carol,Cottbus

### Self-work exercises #1: 4 points

#### What problems do you see with `clean_df`? Can you clean the DataFrame to obtain a clean one?

Write a series of code commands in order to clean the DataFrame:
- create a deep copy of the DataFrame `clean_df` and assign it to the variable `df`
- get the list of useful columns, without copy-pasting them (use code!)
- drop the columns that contain missing values
- rename the columns so that each column corresponds to the correct header
- transform the `Year` column to remove `Details`, which we don't need

*Tip: this might be useful https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html*

In [159]:
# Create a copy of the dataframe
df = clean_df.copy(True)
# Get the list of columns, and remove the weird "Unnamed" ones
df.columns
df.drop(['Unnamed: 7'], axis='columns',inplace=True)
# columns_list = for loop, if not c.sstartswith("Unanmed")

# Remove the columns that contain only null values
df.dropna(how='all', axis='columns',inplace=True)

# Give the right column names to the dataframe
df.rename(columns={'4th place':'Teams','3rd place':'4th Place','Runners-up':'3rd Place','Champions':'Runners-up','Unnamed: 2': 'Champions'},inplace=True)
#df.columns = columns_list

# Remove "Details" from the "Year" column
df.Year = df.Year.str.replace('Details', '')

# Display the content of the dataframe
df

,Year,Host,Champions,Runners-up,3rd Place,4th Place,Teams
14,1973,Uruguay,Soviet Union,Japan,South Korea,Peru,10.0
15,1977,Japan,Japan,Cuba,South Korea,China,8.0
16,1981,Japan,China,Japan,Soviet Union,United States,8.0
17,1985,Japan,China,Cuba,Soviet Union,Japan,8.0
18,1989,Japan,Cuba,Soviet Union,China,Japan,8.0
19,1991,Japan,Cuba,China,Soviet Union,United States,12.0
20,1995,Japan,Cuba,Brazil,China,Croatia,12.0
21,1999,Japan,Cuba,Russia,Brazil,South Korea,12.0
22,2003,Japan,China,Brazil,United States,Italy,12.0
23,2007,Japan,Italy,Brazil,United States,Cuba,12.0
24,2011,Japan,Italy,United States,China,Japan,12.0
25,2015,Japan,China,Serbia,United States,Russia,12.0
26,2019,Japan,China,United States,Russia,Brazil,12.0

### Self-work exercises #2: 6 points

#### Use the python commands to answer the following questions

**1. What type is the resulting data (the loaded json: d) ?**

In [185]:
type(d)

list

**2. How many items does the resulting data have (the loaded json: d) ?**

In [187]:
len(d)

3

**3. What is the type of each item in the resulting data (the loaded json: d) ?**

In [191]:
for item in d:
    print(type(item))

<class 'dict'>
<class 'dict'>
<class 'dict'>

**4. How many tricks does Coco know ? Use the code to output it**

In [233]:
#len(d[tricks])
d[2]['tricks']

['explore', 'climb']

**5. How can you change the column name to be demographics_sex and demographics_age instead of demographics.sex and demographics.age?**

Save it into animals_v3 variable

*Tip: research online the pandas.json_normalize method*

In [239]:
animals_v3 = pd.json_normalize(d,sep='_')
animals_v3

,name,animal,tricks,owner,city,demographics_sex,demographics_age
0,Ace,Alpaca,[spit],Alice,Augsburg,male,2
1,Biscuit,Beagle,"[sit, hunt]",Bob,Berlin,female,1
2,Coco,Chinchilla,"[explore, climb]",Carol,Cottbus,male,5

**6. Following the examples of students_database, create the teachers_database**

Hints:
- the teacher is very wise, therefore they are at least 100 years old!
- Selma's city starts with S and is located in Germany
- The subject is the course you are taking

In [247]:
### Complete the following program:

teacher = {
    "name": "Selma",
    "age": 100,
    "grade": "Teacher",
    "subjects": "Data Scraping",
    "city": "Schönstedt"
}



teacher_database = [teacher]
teacher_data = json.dumps(teacher_database)
teachers_df = pd.read_json(teacher_data)

C:\Users\Taylor\AppData\Local\Temp\ipykernel_16040\1607059486.py:15: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  teachers_df = pd.read_json(teacher_data)

In [249]:
teachers_df

    name  age    grade       subjects        city
0  Selma  100  Teacher  Data Scraping  Schönstedt