In [53]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\david\anaconda3\envs\datascraping\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\david\anaconda3\envs\datascraping\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\david\anaconda3\envs\datascraping\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\david\anaconda3\envs\datascraping\lib\site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\david\anaconda3\envs\datascraping\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\david\anaconda3\envs\datascraping\lib\site-packages (from matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in c:\users\david\anaconda3\envs\datascraping\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\david\anaconda3\envs\datascraping\lib\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\david\anaconda3\envs\datascraping\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\david\anaconda3\envs\datascraping\lib\site-packages (from matplotlib) (2.9.0)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\david\anaconda3\envs\datascraping\lib\site-packages (from matplotlib) (6.4.5)
Requirement already satisfied: zipp>=3.1.0 in c:\users\david\anaconda3\envs\datascraping\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.20.2)
Requirement already satisfied: six>=1.5 in c:\users\david\anaconda3\envs\datascraping\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [54]:
import requests
import pandas as pd
import matplotlib as mpl

Import information from weather API

In [55]:
# Use double quotes to assign your API key to private_api_key variable as a string
private_api_key = "8cd9770d46msh2bda7a77ebe30d6p10b83fjsnb5061a8acbd1"

In [56]:
# Define your parameters as a dictionary
params = {
    "lat": "4.32200",  # Find Berlin's latitude and add it here
    "lon": "-75.4052",  # Find Berlin's longitude and add it here
    "start": "2023-01-01",  # Replace with today's date
    "end": "2023-12-31"  # Replace with today's date
}

response = requests.get("https://meteostat.p.rapidapi.com/point/daily",
                       params=params,
                       headers={
                           "X-RapidAPI-Host": "meteostat.p.rapidapi.com",
                           "X-RapidAPI-Key": private_api_key # Add the private_api_key variable 
                       })

In [57]:
data=response.json()

In [58]:
df_armenia=pd.DataFrame(data["data"])

In [59]:
df_armenia

           date  tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
0    2023-01-01  23.1  19.1  26.0   0.3   NaN    2.0   6.1  None  1017.2  None
1    2023-01-02  23.7  18.4  26.9   4.1   NaN  326.0   5.7  None  1017.1  None
2    2023-01-03  22.8  19.0  27.2   0.3  10.0  335.0   6.6  None  1017.8  None
3    2023-01-04  22.4  18.8  26.0   4.1  10.0   25.0   7.2  None  1017.2  None
4    2023-01-05  23.8  18.8  27.0   0.5   NaN  351.0   4.2  None  1016.9  None
..          ...   ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
360  2023-12-27  23.3  19.7  27.0   0.9   NaN   29.0   6.3  None  1016.7  None
361  2023-12-28  23.7  20.3  28.4   1.0   NaN  185.0   9.2  None  1017.1  None
362  2023-12-29  24.2  18.4  30.2   0.0   NaN   59.0   7.4  None  1018.1  None
363  2023-12-30  24.1  19.8  28.2   0.0   NaN   34.0   9.4  None  1018.5  None
364  2023-12-31  23.0  19.6  27.8   3.3   NaN  152.0   6.5  None  1018.2  None

[365 rows x 11 columns]

In [60]:
df_armenia.drop(columns=["snow", "wpgt", "tsun"],inplace=True)

In [61]:
df_armenia

           date  tavg  tmin  tmax  prcp   wdir  wspd    pres
0    2023-01-01  23.1  19.1  26.0   0.3    2.0   6.1  1017.2
1    2023-01-02  23.7  18.4  26.9   4.1  326.0   5.7  1017.1
2    2023-01-03  22.8  19.0  27.2   0.3  335.0   6.6  1017.8
3    2023-01-04  22.4  18.8  26.0   4.1   25.0   7.2  1017.2
4    2023-01-05  23.8  18.8  27.0   0.5  351.0   4.2  1016.9
..          ...   ...   ...   ...   ...    ...   ...     ...
360  2023-12-27  23.3  19.7  27.0   0.9   29.0   6.3  1016.7
361  2023-12-28  23.7  20.3  28.4   1.0  185.0   9.2  1017.1
362  2023-12-29  24.2  18.4  30.2   0.0   59.0   7.4  1018.1
363  2023-12-30  24.1  19.8  28.2   0.0   34.0   9.4  1018.5
364  2023-12-31  23.0  19.6  27.8   3.3  152.0   6.5  1018.2

[365 rows x 8 columns]