# EDA: Exploratory Data Analysis
Â© Copyright: 2024, Selma Hadzic, all rights reserved.


1. Exploration
2. Cleaning
3. Descriptive statistics
4. Merging datasets

## 1. Exploration

"Exploratory data analysis (EDA) is an approach of analyzing data sets to summarize their main characteristics, often using statistical graphics and other data visualization methods."

The mains goals are:
- understand what the data represents, its size and type
- understand the quality of the data
- understand its content through some visual data tools

Generally, we perform the following steps during exploration:
1. Dataset overview: what is the size of the data? The columns names? The type of data? Can you view a few rows?
2. Missing values
3. Duplicated values and proportion of unique values
4. Distribution of the data points and visualisations

After the exploration, we have better knowledge of what the dataset represents and can move on to Data Cleaning.

### 1.1 Dataset overview

In [ ]:
# Install matplotlib package
!pip install matplotlib

In [ ]:
# Import the pandas and matplotlib packages
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Read the data
df = pd.read_csv("./data/listings.csv")

In [ ]:
# Visualise the first 10 rows

In [ ]:
# What is the size of the dataset?

In [ ]:
# General description of the dataset

In [ ]:
# What are the types in each column?
pd.set_option('display.max_rows', 75)

If the data has the wrong type, e.g. `string` instead of `integer`, then we need to convert the data to the right type.

>`.astype()`: cast a pandas object to a specified dtype


Columns with mixed types are stored with the `object` dtype. More information about dtype: [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#basics-dtypes)

### 1.2 Missing data

` ` an empty space is data: it consists of a `data` of `type string` that has one space 

When there is no data, or missing data, it is represented with `null` or `NaN` ("Not a Number").

Missing data appear when:
- **the data was not collected**. For example, some countries do not collect certain data points, which may be missing for this country in a world dataset
- **the data was not transferred**, some data were lost. For example, one day on the 1st of September, the data ingestion pipelines did not execute. Therefore, all the data for that particular date is missing.
- **two datasets are merged together**. For example if we merge two datasets that both represents neighbourhoods in a city, one with schools and the other one with supermarkets. There might be different nomemclature for the neighbourhoods between the two datasets. Therefore some entries might not appear in the other dataset, creating missing values when they get merged into one.
- **the collected data is optional**: it happens when we ask customers to fill in a satisfaction survey and mark some questions as optional
- etc.

In [ ]:
# Use the .isnull() method

In [ ]:
# Get a summary of missing data per column

In [ ]:
# We can also check the .isna() method

In [ ]:
# We can in particular verify a specific column, e.g. `neighbourhood`

### 1.3 Duplicated and unique values

In [ ]:
# Duplicated rows are rows that contain exactly the same records for each column

In [ ]:
# We can count the number of duplicated entries

In [ ]:
# We can check the unique values per column, for example `neighbourhood`

*Note: `df['neighbourhood']` and `df.neighbourhood` are equivalent, as long as the column name does not contain spaces*

In [ ]:
# We can list the unique values for each column, for example `neighbourhood`

In [ ]:
# We can count the number of occurrences of each neighbourhood
df.neighbourhood.

In [ ]:
# What happens if we include the missing values?
df.neighbourhood.

In [ ]:
# We can also compute the proportion of each occurrence:
100*(df.neighbourhood.value_counts(dropna=False, ))

### 1.4 Distribution of the data points and visualisations

In [ ]:
# Plot a histogram of the number of listings per host:
df.host_total_listings_count.plot();

In [ ]:
# We can zoom in by setting an upper bound of the x-axis using range and adding more granularity with bins
df.host_total_listings_count.plot(kind='hist', title="Histogram of the host's listings", );

## 2. Data Cleaning

We will perform the following:
- fill NaN with `Berlin, Germany` for: df.neighbourhood
- fill NaN with the median value for `review_scores_rating`
- replace a value inside a record i.e. removing `DE` from `Berlin, DE, Germany` in df.neighbourhood
- convert `calendar_last_scraped` into a date format
- drop duplicates
- reset the index
- drop columns full of missing values

In [ ]:
# Let's copy the dataframe first, so that we can avoid making mistakes on the original dataset
data = df.copy(deep=True)

### 2.1 Fill NaN with `Berlin, Germany`

In [ ]:
data.fillna({'neighbourhood': 'Berlin, Germany'}, inplace=True)

In [ ]:
# Let's verify
data.neighbourhood.isna().sum()

### 2.2 Fill NaN with the median value

In [ ]:
# Calculate the median value for review_scores_rating
median = 
print(median)

In [ ]:
# Replace the NaN with the median
data.fillna({}, inplace=True)

In [ ]:
# Verify that it worked
print(df.review_scores_rating.isna().sum())
print(data.review_scores_rating.isna().sum())

### 2.3 Replace a value inside a record

In [ ]:
# We replace `DE` with nothing
data.neighbourhood = data.neighbourhood.str.replace()

In [ ]:
# Verify

### 2.4 Convert a column into a date format

In [ ]:
data['calendar_last_scraped'] =

In [ ]:
# Verify
data['calendar_last_scraped'].info()

### 2.5 Drop duplicates

In [ ]:
# Drop the duplicates and replace the original data

In [ ]:
# Verify
print(data.shape[0], df.shape[0])

In [ ]:
# By default, drop_duplicates takes all columns
# We can also select columns on which to deduplicate 
# e.g. here let's select: 'neighbourhood', 'bedrooms', 'price'
subset_unique = data.drop_duplicates()

In [ ]:
# Verify
print(subset_unique.shape[0], data.shape[0])

### 2.6 Reset the index

What happened to the index?

In [ ]:
subset_unique.iloc[300:310, :]

By dropping some rows, the index is upside down.

To reset the index:

In [ ]:
# Let's verify
subset_unique.iloc[300:310, :]

### 2.7 Drop columns full of missing values

In [ ]:
# calendar_updated is full of missing values
data.calendar_updated.unique()

In [ ]:
# Let's drop that column

In [ ]:
# Verify
print(data.shape, df.shape)
print(set(df.columns)-set(data.columns))

## 3. Descriptive Statistics

In [ ]:
df.describe()

- `df['column'].mean()`	 calculates arithmetic mean of a column
- `df['column'].median()`	calculates median of a column
- `df['column'].var()`	 calculates variance of a column
- `df['column'].min()`	calculates the minimum of a column
- `df['column'].max()`	calculates the maximum of a column
- `df['column'].quantile()`	calculates quantiles of a column
- `df['column'].value_counts()`	create a (relative) frequency tables for a column
- `df['column'].corr()`	calculates correlation between two columns

In [ ]:
data["review_scores_rating"].min()

In [ ]:
data["review_scores_rating"].max()

In [ ]:
data["review_scores_rating"].mean()

In [ ]:
data["review_scores_rating"].median()

## 4. Merging datasets

### 4.1 Concatenate horizontally: add a column

In [ ]:
# Let's import the datetime package
import datetime as datetime

In [ ]:
# Create a new DataFrame that contains one column date_analysis` and contains today's date
today = datetime.datetime.today().date()
date_df = pd.DataFrame({"date_analysis": [today] * len(df)})

In [ ]:
# Let's visualise the newly created DataFrame

In [ ]:
# Let's use pandas.Dataframe.concat method to add the column
hor_concat_df =

In [ ]:
# Let's visualise the concatenated DataFrame
hor_concat_df.head(6)

### 4.2 Concatenate vertically: stack dataframes

In [ ]:
# Let's select the last 3 rows of the DataFrame
new_rows = df[-3:]

In [ ]:
# Let's visualise

In [ ]:
# Let's concatenate them to the original DataFrame
vert_concat_df =

In [ ]:
# Let's verify
vert_concat_df.tail(7)

### 4.3 Merge

#### 4.3.1 Preparations

In [ ]:
# Let's select a subset of the DataFrame

flat_columns = ['id', 'host_id',  'neighbourhood', 'latitude', 'longitude', 'property_type']
host_columns = ['host_id', 'host_name', 'host_location', 'host_is_superhost']

In [ ]:
# Create two DataFrames flat_df and host_df that have the respective columns
flat_df = df[flat_columns]
host_df = df[host_columns]

In [ ]:
# Let's select specific rows, so that both DataFrames have an overlap + some extra rows
flat_df = flat_df[10:30]
host_df = host_df[:20]

In [ ]:
# Let's visualise

In [ ]:
# Let's deduplicate
host_df.drop_duplicates(inplace=True)

In [ ]:
host_df

#### 4.3.2 `Inner merge`

In [ ]:
inner_df = flat_df.merge(host_df, how="inner", left_on= "host_id", right_on="host_id")

In [ ]:
inner_df

#### 4.3.3 `Left merge`

In [ ]:
left_df = flat_df.merge(host_df, how="left", left_on= "host_id", right_on="host_id")

In [ ]:
left_df

#### 4.3.4 `Right merge`

Actually a `right merge` is the same as a `left merge` where the DataFrames are switched. 

For clarity, we always prefer to use `left merge` over `right merge`

In [ ]:
right_df = flat_df.merge(host_df, how="right", left_on= "host_id", right_on="host_id")

In [ ]:
switched_left_df = host_df.merge(flat_df, how="left", left_on= "host_id", right_on="host_id")

In [ ]:
right_df

In [ ]:
switched_left_df