Get the APIs

In [3]:
import requests

In [5]:
import pandas as pd

Weather API

In [23]:
#Location of Berlin
L = requests.get("http://api.openweathermap.org/geo/1.0/direct?q=Berlin&limit=5&appid=b658d4211c02ef5cc3ab87ad1c933843")
w= L.json()
print(w)

[{'name': 'Berlin', 'local_names': {'ko': '베를린', 'mi': 'Pearīni', 'ar': 'برلين', 'cu': 'Берлинъ', 'mt': 'Berlin', 'mg': 'Berlin', 'ab': 'Берлин', 'ba': 'Берлин', 'ia': 'Berlin', 'ja': 'ベルリン', 'my': 'ဘာလင်မြို့', 'tl': 'Berlin', 'sr': 'Берлин', 'ty': 'Berlin', 'es': 'Berlín', 'kw': 'Berlin', 'ps': 'برلين', 'th': 'เบอร์ลิน', 'pt': 'Berlim', 'ku': 'Berlîn', 'bs': 'Berlin', 'bg': 'Берлин', 'gl': 'Berlín', 'na': 'Berlin', 'hr': 'Berlin', 'cy': 'Berlin', 'hu': 'Berlin', 'gv': 'Berleen', 'nl': 'Berlijn', 'br': 'Berlin', 'fy': 'Berlyn', 'id': 'Berlin', 'lt': 'Berlynas', 'zh': '柏林', 'kn': 'ಬೆರ್ಲಿನ್', 'hi': 'बर्लिन', 'so': 'Berlin', 'fa': 'برلین', 'fo': 'Berlin', 'uz': 'Berlin', 'eo': 'Berlino', 'uk': 'Берлін', 'nn': 'Berlin', 'ro': 'Berlin', 'sk': 'Berlín', 'os': 'Берлин', 'et': 'Berliin', 'sw': 'Berlin', 'sh': 'Berlin', 'ug': 'Bérlin', 'ur': 'برلن', 'ln': 'Berlin', 'da': 'Berlin', 'ga': 'Beirlín', 'te': 'బెర్లిన్', 'iu': 'ᐱᕐᓖᓐ', 'tg': 'Берлин', 'ru': 'Берлин', 'si': 'බර්ලිනය', 'mn': 'Берлин', 'pl': 'Berlin', 'en': 'Berlin', 'be': 'Берлін', 'co': 'Berlinu', 'af': 'Berlyn', 'am': 'በርሊን', 'jv': 'Berlin', 'oc': 'Berlin', 'io': 'Berlin', 'ht': 'Bèlen', 'an': 'Berlín', 'lb': 'Berlin', 'sv': 'Berlin', 'tt': 'Берлин', 'rm': 'Berlin', 'it': 'Berlino', 'ie': 'Berlin', 'is': 'Berlín', 'li': 'Berlien', 'ka': 'ბერლინი', 'gn': 'Berlin', 'no': 'Berlin', 'su': 'Berliini', 'cs': 'Berlín', 'lg': 'Berlin', 'kv': 'Берлин', 'fr': 'Berlin', 'bn': 'বার্লিন', 'hy': 'Բեռլին', 'la': 'Berolinum', 'bo': 'པེ་ལིང་', 'qu': 'Berlin', 'wo': 'Berlin', 'el': 'Βερολίνο', 'de': 'Berlin', 'sc': 'Berlinu', 'gd': 'Berlin', 'mr': 'बर्लिन', 'yo': 'Berlin', 'fi': 'Berliini', 'he': 'ברלין', 'bi': 'Berlin', 'sl': 'Berlin', 'sq': 'Berlini', 'mk': 'Берлин', 'kk': 'Берлин', 'ms': 'Berlin', 'ml': 'ബെര്\u200dലിന്', 'cv': 'Берлин', 'ta': 'பெர்லின்', 'ky': 'Берлин', 'ca': 'Berlín', 'tr': 'Berlin', 'az': 'Berlin', 'lv': 'Berlīne', 'vi': 'Berlin', 'yi': 'בערלין', 'zu': 'Berlin', 'se': 'Berlin', 'eu': 'Berlin'}, 'lat': 52.5170365, 'lon': 13.3888599, 'country': 'DE'}, {'name': 'Berlin', 'lat': 44.4688795, 'lon': -71.1836547, 'country': 'US', 'state': 'New Hampshire'}, {'name': 'Berlin', 'lat': 39.7589387, 'lon': -89.9031635, 'country': 'US', 'state': 'Illinois'}, {'name': 'Berlin', 'lat': 41.621488, 'lon': -72.7456519, 'country': 'US', 'state': 'Connecticut'}, {'name': 'Berlin', 'lat': 38.3226154, 'lon': -75.2176892, 'country': 'US', 'state': 'Maryland'}]

In [15]:
#Berlin Current Weather
response = requests.get("https://api.openweathermap.org/data/2.5/weather?lat=52.5170365&lon=13.3888599&exclude=hourly&units=metric&appid=b658d4211c02ef5cc3ab87ad1c933843")
Q = response.json()
print(Q)

{'coord': {'lon': 13.3889, 'lat': 52.517}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'base': 'stations', 'main': {'temp': 16.61, 'feels_like': 16.52, 'temp_min': 15.55, 'temp_max': 17.23, 'pressure': 1024, 'humidity': 84, 'sea_level': 1024, 'grnd_level': 1019}, 'visibility': 10000, 'wind': {'speed': 4.02, 'deg': 192, 'gust': 6.26}, 'clouds': {'all': 20}, 'dt': 1729502394, 'sys': {'type': 2, 'id': 2009543, 'country': 'DE', 'sunrise': 1729489377, 'sunset': 1729526327}, 'timezone': 7200, 'id': 7576815, 'name': 'Alt-Kölln', 'cod': 200}

In [25]:
import pandas as pd
berlin_weather_current = pd.DataFrame([Q])

berlin_weather_current_main = berlin_weather_current['main'].apply(pd.Series)

# You can also expand other nested fields similarly
berlin_weather_current_weather = berlin_weather_current['weather'].apply(lambda x: x[0]).apply(pd.Series)

# Concatenate the expanded DataFrames with the main DataFrame (dropping the original nested columns)
berlin_weather_current_final = pd.concat([berlin_weather_current, berlin_weather_current_main, berlin_weather_current_weather], axis=1).drop(['main', 'weather','base','wind','clouds','dt','sys','timezone','id','pressure','humidity','sea_level','grnd_level','icon','visibility','name','cod'], axis=1)

# Now df_final contains all the relevant data
berlin_weather_current_final.head()

,coord,temp,feels_like,temp_min,temp_max,description
0,"{'lon': 13.3889, 'lat': 52.517}",16.61,16.52,15.55,17.23,few clouds

In [35]:
#Forecast Weather
response1 = requests.get("https://api.openweathermap.org/data/2.5/forecast?lat=52.5170365&lon=13.3888599&exclude=hourly&units=metric&appid=b658d4211c02ef5cc3ab87ad1c933843")
Forecast = response1.json()# Parse the JSON response

# Extract the list of forecasts (usually under the 'list' key)
forecast_list = Forecast['list']

# Create a DataFrame from the forecast list
df = pd.DataFrame(forecast_list)

df_main = df['main'].apply(pd.Series)

# You can also expand other nested fields similarly
df_weather = df['weather'].apply(lambda x: x[0]).apply(pd.Series)

# Concatenate the expanded DataFrames with the main DataFrame (dropping the original nested columns)
df_final = pd.concat([df, df_main, df_weather], axis=1).drop(['main', 'weather','dt','clouds','wind','visibility','pop','sys','pressure','sea_level','grnd_level','humidity','temp_kf','id','icon'], axis=1)


# Now df_final contains all the relevant data
df_final.head()

,dt_txt,temp,feels_like,temp_min,temp_max,description
0,2024-10-21 12:00:00,16.77,16.67,16.60,16.77,scattered clouds
1,2024-10-21 15:00:00,17.01,16.91,17.01,17.09,broken clouds
2,2024-10-21 18:00:00,16.52,16.45,16.52,16.52,overcast clouds
3,2024-10-21 21:00:00,15.64,15.51,15.64,15.64,overcast clouds
4,2024-10-22 00:00:00,15.22,14.89,15.22,15.22,overcast clouds

In [37]:
df_final.head(5)

,dt_txt,temp,feels_like,temp_min,temp_max,description
0,2024-10-21 12:00:00,16.77,16.67,16.60,16.77,scattered clouds
1,2024-10-21 15:00:00,17.01,16.91,17.01,17.09,broken clouds
2,2024-10-21 18:00:00,16.52,16.45,16.52,16.52,overcast clouds
3,2024-10-21 21:00:00,15.64,15.51,15.64,15.64,overcast clouds
4,2024-10-22 00:00:00,15.22,14.89,15.22,15.22,overcast clouds