Get the APIs

In [3]:
import requests

In [5]:
import pandas as pd
import requests
from datetime import datetime, timedelta
import matplotlib.pyplot as plt

Weather API

In [7]:
#Location of Berlin
L = requests.get("http://api.openweathermap.org/geo/1.0/direct?q=Berlin&limit=5&appid=b658d4211c02ef5cc3ab87ad1c933843")
w= L.json()
print(w)

[{'name': 'Berlin', 'local_names': {'kv': 'Берлин', 'ja': 'ベルリン', 'jv': 'Berlin', 'af': 'Berlyn', 'cu': 'Берлинъ', 'ta': 'பெர்லின்', 'uz': 'Berlin', 'so': 'Berlin', 'az': 'Berlin', 'yo': 'Berlin', 'am': 'በርሊን', 'sw': 'Berlin', 'it': 'Berlino', 'mn': 'Берлин', 'pt': 'Berlim', 'is': 'Berlín', 'wo': 'Berlin', 'gd': 'Berlin', 'ba': 'Берлин', 'no': 'Berlin', 'io': 'Berlin', 'hr': 'Berlin', 'et': 'Berliin', 'la': 'Berolinum', 'pl': 'Berlin', 'ml': 'ബെര്\u200dലിന്', 'kn': 'ಬೆರ್ಲಿನ್', 'ga': 'Beirlín', 'si': 'බර්ලිනය', 'tt': 'Берлин', 'fa': 'برلین', 'iu': 'ᐱᕐᓖᓐ', 'de': 'Berlin', 'ps': 'برلين', 'ru': 'Берлин', 'bg': 'Берлин', 'ie': 'Berlin', 'mg': 'Berlin', 'ca': 'Berlín', 'yi': 'בערלין', 'fy': 'Berlyn', 'sh': 'Berlin', 'qu': 'Berlin', 'rm': 'Berlin', 'ty': 'Berlin', 'gn': 'Berlin', 'ku': 'Berlîn', 'es': 'Berlín', 'su': 'Berliini', 'nn': 'Berlin', 'th': 'เบอร์ลิน', 'lt': 'Berlynas', 'ko': '베를린', 'kw': 'Berlin', 'ro': 'Berlin', 'ia': 'Berlin', 'ln': 'Berlin', 'bs': 'Berlin', 'gl': 'Berlín', 'sk': 'Berlín', 'fi': 'Berliini', 'bo': 'པེ་ལིང་', 'ur': 'برلن', 'lv': 'Berlīne', 'cs': 'Berlín', 'oc': 'Berlin', 'cv': 'Берлин', 'my': 'ဘာလင်မြို့', 'sc': 'Berlinu', 'vi': 'Berlin', 'zh': '柏林', 'gv': 'Berleen', 'br': 'Berlin', 'hu': 'Berlin', 'ug': 'Bérlin', 'mk': 'Берлин', 'hi': 'बर्लिन', 'na': 'Berlin', 'nl': 'Berlijn', 'tr': 'Berlin', 'da': 'Berlin', 'lg': 'Berlin', 'li': 'Berlien', 'kk': 'Берлин', 'ky': 'Берлин', 'ms': 'Berlin', 'sv': 'Berlin', 'te': 'బెర్లిన్', 'mi': 'Pearīni', 'os': 'Берлин', 'cy': 'Berlin', 'sq': 'Berlini', 'mt': 'Berlin', 'bi': 'Berlin', 'eu': 'Berlin', 'ht': 'Bèlen', 'uk': 'Берлін', 'sl': 'Berlin', 'ar': 'برلين', 'he': 'ברלין', 'mr': 'बर्लिन', 'be': 'Берлін', 'ka': 'ბერლინი', 'bn': 'বার্লিন', 'fr': 'Berlin', 'el': 'Βερολίνο', 'zu': 'Berlin', 'eo': 'Berlino', 'ab': 'Берлин', 'lb': 'Berlin', 'fo': 'Berlin', 'en': 'Berlin', 'an': 'Berlín', 'se': 'Berlin', 'sr': 'Берлин', 'co': 'Berlinu', 'tl': 'Berlin', 'tg': 'Берлин', 'hy': 'Բեռլին', 'id': 'Berlin'}, 'lat': 52.5170365, 'lon': 13.3888599, 'country': 'DE'}, {'name': 'Berlin', 'lat': 44.4688795, 'lon': -71.1836547, 'country': 'US', 'state': 'New Hampshire'}, {'name': 'Berlin', 'lat': 39.7589387, 'lon': -89.9031635, 'country': 'US', 'state': 'Illinois'}, {'name': 'Berlin', 'lat': 41.621488, 'lon': -72.7456519, 'country': 'US', 'state': 'Connecticut'}, {'name': 'Berlin', 'lat': 38.3226154, 'lon': -75.2176892, 'country': 'US', 'state': 'Maryland'}]

In [9]:
#Berlin Current Weather
response = requests.get("https://api.openweathermap.org/data/2.5/weather?lat=52.5170365&lon=13.3888599&exclude=hourly&units=metric&appid=b658d4211c02ef5cc3ab87ad1c933843")
Q = response.json()
print(Q)

{'coord': {'lon': 13.3889, 'lat': 52.517}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 10.17, 'feels_like': 9.51, 'temp_min': 8.83, 'temp_max': 11.86, 'pressure': 1030, 'humidity': 87, 'sea_level': 1030, 'grnd_level': 1024}, 'visibility': 10000, 'wind': {'speed': 3.09, 'deg': 260}, 'clouds': {'all': 0}, 'dt': 1729621107, 'sys': {'type': 2, 'id': 2011538, 'country': 'DE', 'sunrise': 1729575886, 'sunset': 1729612600}, 'timezone': 7200, 'id': 7576815, 'name': 'Alt-Kölln', 'cod': 200}

In [11]:
import pandas as pd
berlin_weather_current = pd.DataFrame([Q])

berlin_weather_current_main = berlin_weather_current['main'].apply(pd.Series)

# You can also expand other nested fields similarly
berlin_weather_current_weather = berlin_weather_current['weather'].apply(lambda x: x[0]).apply(pd.Series)

# Concatenate the expanded DataFrames with the main DataFrame (dropping the original nested columns)
berlin_weather_current_final = pd.concat([berlin_weather_current, berlin_weather_current_main, berlin_weather_current_weather], axis=1).drop(['main', 'weather','base','wind','clouds','dt','sys','timezone','id','pressure','humidity','sea_level','grnd_level','icon','visibility','name','cod'], axis=1)

# Now df_final contains all the relevant data
berlin_weather_current_final.head()

,coord,temp,feels_like,temp_min,temp_max,description
0,"{'lon': 13.3889, 'lat': 52.517}",10.17,9.51,8.83,11.86,clear sky

In [13]:
#Forecast Weather
response1 = requests.get("https://api.openweathermap.org/data/2.5/forecast?lat=52.5170365&lon=13.3888599&exclude=hourly&units=metric&appid=b658d4211c02ef5cc3ab87ad1c933843")
Forecast = response1.json()# Parse the JSON response

# Extract the list of forecasts (usually under the 'list' key)
forecast_list = Forecast['list']

# Create a DataFrame from the forecast list
df = pd.DataFrame(forecast_list)

df_main = df['main'].apply(pd.Series)

# You can also expand other nested fields similarly
df_weather = df['weather'].apply(lambda x: x[0]).apply(pd.Series)

# Concatenate the expanded DataFrames with the main DataFrame (dropping the original nested columns)
df_final = pd.concat([df, df_main, df_weather], axis=1).drop(['main', 'weather','dt','clouds','wind','visibility','pop','sys','pressure','sea_level','grnd_level','humidity','temp_kf','id','icon'], axis=1)


# Now df_final contains all the relevant data
df_final.head()

,dt_txt,temp,feels_like,temp_min,temp_max,description
0,2024-10-22 21:00:00,10.48,9.75,10.48,11.11,few clouds
1,2024-10-23 00:00:00,10.14,9.43,10.13,10.14,scattered clouds
2,2024-10-23 03:00:00,9.35,8.10,9.35,9.35,clear sky
3,2024-10-23 06:00:00,8.80,7.71,8.80,8.80,few clouds
4,2024-10-23 09:00:00,12.02,11.29,12.02,12.02,few clouds

In [15]:
df_final.head(5)

,dt_txt,temp,feels_like,temp_min,temp_max,description
0,2024-10-22 21:00:00,10.48,9.75,10.48,11.11,few clouds
1,2024-10-23 00:00:00,10.14,9.43,10.13,10.14,scattered clouds
2,2024-10-23 03:00:00,9.35,8.10,9.35,9.35,clear sky
3,2024-10-23 06:00:00,8.80,7.71,8.80,8.80,few clouds
4,2024-10-23 09:00:00,12.02,11.29,12.02,12.02,few clouds

In [17]:
df_final['dt_txt'] = df_final['dt_txt'].astype(str)
df_final['dt_txt'] = pd.to_datetime(df_final['dt_txt'], errors='coerce')

In [19]:
df_final['date'] = df_final['dt_txt'].dt.date  # Extract the date part
print(df_final)

                dt_txt   temp  feels_like  temp_min  temp_max  \
0  2024-10-22 21:00:00  10.48        9.75     10.48     11.11
1  2024-10-23 00:00:00  10.14        9.43     10.13     10.14
2  2024-10-23 03:00:00   9.35        8.10      9.35      9.35
3  2024-10-23 06:00:00   8.80        7.71      8.80      8.80
4  2024-10-23 09:00:00  12.02       11.29     12.02     12.02
5  2024-10-23 12:00:00  14.84       14.02     14.84     14.84
6  2024-10-23 15:00:00  14.61       13.77     14.61     14.61
7  2024-10-23 18:00:00  12.25       11.46     12.25     12.25
8  2024-10-23 21:00:00  11.19       10.43     11.19     11.19
9  2024-10-24 00:00:00  10.04        9.27     10.04     10.04
10 2024-10-24 03:00:00   9.22        8.41      9.22      9.22
11 2024-10-24 06:00:00   8.41        7.10      8.41      8.41
12 2024-10-24 09:00:00  12.03       11.04     12.03     12.03
13 2024-10-24 12:00:00  15.83       14.72     15.83     15.83
14 2024-10-24 15:00:00  15.49       14.35     15.49     15.49
15 2024-10-24 18:00:00  13.04       11.91     13.04     13.04
16 2024-10-24 21:00:00  12.57       11.42     12.57     12.57
17 2024-10-25 00:00:00  12.82       11.85     12.82     12.82
18 2024-10-25 03:00:00  12.29       11.43     12.29     12.29
19 2024-10-25 06:00:00  10.65        9.83     10.65     10.65
20 2024-10-25 09:00:00  13.62       12.76     13.62     13.62
21 2024-10-25 12:00:00  17.97       17.23     17.97     17.97
22 2024-10-25 15:00:00  17.47       16.79     17.47     17.47
23 2024-10-25 18:00:00  14.65       13.97     14.65     14.65
24 2024-10-25 21:00:00  13.25       12.62     13.25     13.25
25 2024-10-26 00:00:00  12.38       11.71     12.38     12.38
26 2024-10-26 03:00:00  11.87       11.33     11.87     11.87
27 2024-10-26 06:00:00  11.39       10.88     11.39     11.39
28 2024-10-26 09:00:00  14.97       14.32     14.97     14.97
29 2024-10-26 12:00:00  18.21       17.60     18.21     18.21
30 2024-10-26 15:00:00  17.28       16.71     17.28     17.28
31 2024-10-26 18:00:00  14.82       14.21     14.82     14.82
32 2024-10-26 21:00:00  13.21       12.54     13.21     13.21
33 2024-10-27 00:00:00  12.08       11.46     12.08     12.08
34 2024-10-27 03:00:00  11.44       10.83     11.44     11.44
35 2024-10-27 06:00:00  10.70       10.05     10.70     10.70
36 2024-10-27 09:00:00  13.91       13.11     13.91     13.91
37 2024-10-27 12:00:00  16.63       15.86     16.63     16.63
38 2024-10-27 15:00:00  15.95       15.17     15.95     15.95
39 2024-10-27 18:00:00  13.48       12.76     13.48     13.48

         description        date
0         few clouds  2024-10-22
1   scattered clouds  2024-10-23
2          clear sky  2024-10-23
3         few clouds  2024-10-23
4         few clouds  2024-10-23
5         few clouds  2024-10-23
6         few clouds  2024-10-23
7          clear sky  2024-10-23
8          clear sky  2024-10-23
9          clear sky  2024-10-24
10         clear sky  2024-10-24
11         clear sky  2024-10-24
12         clear sky  2024-10-24
13         clear sky  2024-10-24
14         clear sky  2024-10-24
15         clear sky  2024-10-24
16     broken clouds  2024-10-24
17     broken clouds  2024-10-25
18   overcast clouds  2024-10-25
19     broken clouds  2024-10-25
20         clear sky  2024-10-25
21         clear sky  2024-10-25
22         clear sky  2024-10-25
23         clear sky  2024-10-25
24         clear sky  2024-10-25
25         clear sky  2024-10-26
26        few clouds  2024-10-26
27         clear sky  2024-10-26
28         clear sky  2024-10-26
29         clear sky  2024-10-26
30   overcast clouds  2024-10-26
31   overcast clouds  2024-10-26
32         clear sky  2024-10-26
33        few clouds  2024-10-27
34  scattered clouds  2024-10-27
35  scattered clouds  2024-10-27
36  scattered clouds  2024-10-27
37     broken clouds  2024-10-27
38   overcast clouds  2024-10-27
39   overcast clouds  2024-10-27

In [21]:

avg_temp_per_day = df_final.groupby('date')['temp'].mean().reset_index()

# Display the result

print(avg_temp_per_day)

         date       temp
0  2024-10-22  10.480000
1  2024-10-23  11.650000
2  2024-10-24  12.078750
3  2024-10-25  14.090000
4  2024-10-26  14.266250
5  2024-10-27  13.455714

Events Data

In [23]:
# Calculate date range for the next month
today = datetime.now().date()
next_month = today + timedelta(days=30)
today_str = today.strftime("%Y-%m-%d")
next_month_str = next_month.strftime("%Y-%m-%d")

# Get API Key
api_token = "a9kompRf5e_NPnPID6Hg9PeJBB9qwaZZTmMAJ0jO"


# Creating events formula for pagins
def get_events(api_token, start_date, end_date, max_results=1000):
    url = "https://api.predicthq.com/v1/events/"
    headers = {
        "Authorization": f"Bearer {api_token}",
        "Accept": "application/json"
    }
    params = {
        "categories": "community, festivals, sports",
        "saved_location.location_id": "N333B4M3T98yr-3FQ3nIHw",
        "phq_attendance.gte": "500", # Avoid minor events which would not be profitable for us
        "active.gte": start_date,
        "active.lte": end_date,
        "limit": 100  # Maximum allowed by the API
    }

    all_events = []
    while len(all_events) < max_results:
        response = requests.get(url, headers=headers, params=params)
        if response.status_code != 200:
            print(f"Error: {response.status_code}")
            print(response.text)
            break

        data = response.json()
        events = data['results']
        all_events.extend(events)

        if not data['next']:
            break  # No more pages

        params['offset'] = data['next'].split('offset=')[1].split('&')[0]

    return all_events[:max_results]

In [25]:
# Get events into dataframe
events = get_events(api_token, today_str, next_month_str)
berlin_events = pd.DataFrame(events)

In [27]:
# Create table with relevant variables
events_summary = berlin_events[["title", "category", "labels", "phq_attendance", "predicted_event_spend", "start_local", "predicted_end_local", "location"]]

# Create new columns for start date and time
events_summary.loc[:, "start_date"] = events_summary["start_local"].str.split('T').str[0]
events_summary.loc[:, "start_time"] = events_summary["start_local"].str.split('T').str[1]
events_summary["start_date"] = pd.to_datetime(events_summary["start_date"])
events_summary["start_time"] = pd.to_datetime(events_summary["start_time"])

# Create new columns for end date and time + convert data type
events_summary.loc[:, "end_date"] = events_summary["predicted_end_local"].str.split('T').str[0]
events_summary.loc[:, "end_time"] = events_summary["predicted_end_local"].str.split('T').str[1]
events_summary["end_date"] = pd.to_datetime(events_summary["end_date"])
events_summary["end_time"] = pd.to_datetime(events_summary["end_time"])

events_summary

C:\Users\Shaun\AppData\Local\Temp\ipykernel_4400\2676833785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_summary.loc[:, "start_date"] = events_summary["start_local"].str.split('T').str[0]
C:\Users\Shaun\AppData\Local\Temp\ipykernel_4400\2676833785.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_summary.loc[:, "start_time"] = events_summary["start_local"].str.split('T').str[1]
C:\Users\Shaun\AppData\Local\Temp\ipykernel_4400\2676833785.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_summary["start_date"] = pd.to_datetime(events_summary["start_date"])
C:\Users\Shaun\AppData\Local\Temp\ipykernel_4400\2676833785.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_summary["start_time"] = pd.to_datetime(events_summary["start_time"])
C:\Users\Shaun\AppData\Local\Temp\ipykernel_4400\2676833785.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_summary.loc[:, "end_date"] = events_summary["predicted_end_local"].str.split('T').str[0]
C:\Users\Shaun\AppData\Local\Temp\ipykernel_4400\2676833785.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_summary.loc[:, "end_time"] = events_summary["predicted_end_local"].str.split('T').str[1]
C:\Users\Shaun\AppData\Local\Temp\ipykernel_4400\2676833785.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_summary["end_date"] = pd.to_datetime(events_summary["end_date"])
C:\Users\Shaun\AppData\Local\Temp\ipykernel_4400\2676833785.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_summary["end_time"] = pd.to_datetime(events_summary["end_time"])

,title,category,labels,phq_attendance,predicted_event_spend,start_local,predicted_end_local,location,start_date,start_time,end_date,end_time
0,"M.Rider, Molly Green, Eli Waltz, and June",concerts,"[concert, music]",523,16655,2024-11-21T20:00:00,2024-11-22T00:10:00,"[13.39144, 52.52514]",2024-11-21,2024-10-22 20:00:00,2024-11-22,2024-10-22 00:10:00
1,Lisa Eckhart,performing-arts,"[comedy, entertainment, performing-arts]",754,22638,2024-11-21T20:00:00,2024-11-21T21:50:00,"[13.3883474, 52.5207127]",2024-11-21,2024-10-22 20:00:00,2024-11-21,2024-10-22 21:50:00
2,Mord im Orientexpress,performing-arts,"[entertainment, performing-arts]",749,22488,2024-11-21T19:30:00,2024-11-21T21:20:00,"[13.372268, 52.50757]",2024-11-21,2024-10-22 19:30:00,2024-11-21,2024-10-22 21:20:00
3,Lean Development in Practice,conferences,[conference],500,62164,2024-11-21T09:00:00,NaN,"[13.4373, 52.5234]",2024-11-21,2024-10-22 09:00:00,NaT,NaT
4,WhoMadeWho,concerts,"[concert, music]",702,22356,2024-11-20T20:00:00,2024-11-21T02:40:00,"[13.381228, 52.50162599999999]",2024-11-20,2024-10-22 20:00:00,2024-11-21,2024-10-22 02:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...
78,Java Script Days,conferences,[conference],500,119580,2024-10-21T09:00:00,NaN,"[13.3882436, 52.5183247]",2024-10-21,2024-10-22 09:00:00,NaT,NaT
79,German Kita Management Congress,conferences,[conference],500,62164,2024-10-21T09:00:00,NaN,"[13.416334, 52.520431]",2024-10-21,2024-10-22 09:00:00,NaT,NaT
80,International Research Symposium on Agricultur...,conferences,[conference],500,90872,2024-10-21T09:00:00,NaN,"[13.3871292, 52.5087155]",2024-10-21,2024-10-22 09:00:00,NaT,NaT
81,API Conference,conferences,[conference],500,90872,2024-10-21T00:00:00,NaN,"[13.3882436, 52.5183247]",2024-10-21,2024-10-22 00:00:00,NaT,NaT
82,Serverless Architecture Conference,conferences,[conference],500,90872,2024-10-21T00:00:00,NaN,"[13.3882436, 52.5183247]",2024-10-21,2024-10-22 00:00:00,NaT,NaT

In [29]:
events_summary['start_date'] = pd.to_datetime(events_summary['start_date'], errors='coerce')
events_summary['date'] = events_summary['start_date'].dt.date  # Extract the date part
events_summary

C:\Users\Shaun\AppData\Local\Temp\ipykernel_4400\2712528716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_summary['start_date'] = pd.to_datetime(events_summary['start_date'], errors='coerce')
C:\Users\Shaun\AppData\Local\Temp\ipykernel_4400\2712528716.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_summary['date'] = events_summary['start_date'].dt.date  # Extract the date part

,title,category,labels,phq_attendance,predicted_event_spend,start_local,predicted_end_local,location,start_date,start_time,end_date,end_time,date
0,"M.Rider, Molly Green, Eli Waltz, and June",concerts,"[concert, music]",523,16655,2024-11-21T20:00:00,2024-11-22T00:10:00,"[13.39144, 52.52514]",2024-11-21,2024-10-22 20:00:00,2024-11-22,2024-10-22 00:10:00,2024-11-21
1,Lisa Eckhart,performing-arts,"[comedy, entertainment, performing-arts]",754,22638,2024-11-21T20:00:00,2024-11-21T21:50:00,"[13.3883474, 52.5207127]",2024-11-21,2024-10-22 20:00:00,2024-11-21,2024-10-22 21:50:00,2024-11-21
2,Mord im Orientexpress,performing-arts,"[entertainment, performing-arts]",749,22488,2024-11-21T19:30:00,2024-11-21T21:20:00,"[13.372268, 52.50757]",2024-11-21,2024-10-22 19:30:00,2024-11-21,2024-10-22 21:20:00,2024-11-21
3,Lean Development in Practice,conferences,[conference],500,62164,2024-11-21T09:00:00,NaN,"[13.4373, 52.5234]",2024-11-21,2024-10-22 09:00:00,NaT,NaT,2024-11-21
4,WhoMadeWho,concerts,"[concert, music]",702,22356,2024-11-20T20:00:00,2024-11-21T02:40:00,"[13.381228, 52.50162599999999]",2024-11-20,2024-10-22 20:00:00,2024-11-21,2024-10-22 02:40:00,2024-11-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Java Script Days,conferences,[conference],500,119580,2024-10-21T09:00:00,NaN,"[13.3882436, 52.5183247]",2024-10-21,2024-10-22 09:00:00,NaT,NaT,2024-10-21
79,German Kita Management Congress,conferences,[conference],500,62164,2024-10-21T09:00:00,NaN,"[13.416334, 52.520431]",2024-10-21,2024-10-22 09:00:00,NaT,NaT,2024-10-21
80,International Research Symposium on Agricultur...,conferences,[conference],500,90872,2024-10-21T09:00:00,NaN,"[13.3871292, 52.5087155]",2024-10-21,2024-10-22 09:00:00,NaT,NaT,2024-10-21
81,API Conference,conferences,[conference],500,90872,2024-10-21T00:00:00,NaN,"[13.3882436, 52.5183247]",2024-10-21,2024-10-22 00:00:00,NaT,NaT,2024-10-21
82,Serverless Architecture Conference,conferences,[conference],500,90872,2024-10-21T00:00:00,NaN,"[13.3882436, 52.5183247]",2024-10-21,2024-10-22 00:00:00,NaT,NaT,2024-10-21

Weather and Event Dataframe

In [34]:
Weather_and_Event = events_summary.merge(avg_temp_per_day, how="inner", left_on= "date", right_on="date")
Weather_and_Event

,title,category,labels,phq_attendance,predicted_event_spend,start_local,predicted_end_local,location,start_date,start_time,end_date,end_time,date,temp
0,Matija,concerts,"[concert, music]",500,15923,2024-10-27T20:00:00,2024-10-28T00:10:00,"[13.4227942, 52.5131365]",2024-10-27,2024-10-22 20:00:00,2024-10-28,2024-10-22 00:10:00,2024-10-27,13.455714
1,Andrej Hermlin and his Swing Dance Orchestra -...,concerts,"[concert, music]",1525,48565,2024-10-27T16:00:00,2024-10-27T18:30:00,"[13.3883474, 52.5207127]",2024-10-27,2024-10-22 16:00:00,2024-10-27,2024-10-22 18:30:00,2024-10-27,13.455714
2,Das perfekte Geheimnis,performing-arts,"[entertainment, performing-arts]",749,22488,2024-10-27T16:00:00,2024-10-27T17:50:00,"[13.372268, 52.50757]",2024-10-27,2024-10-22 16:00:00,2024-10-27,2024-10-22 17:50:00,2024-10-27,13.455714
3,Plus Size Private Shopping,expos,"[expo, fashion]",1703,133099,2024-10-27T11:00:00,NaN,"[13.3987113, 52.511366]",2024-10-27,2024-10-22 11:00:00,NaT,NaT,2024-10-27,13.455714
4,Das perfekte Geheimnis,performing-arts,"[entertainment, performing-arts]",749,22488,2024-10-26T19:30:00,2024-10-26T21:20:00,"[13.372268, 52.50757]",2024-10-26,2024-10-22 19:30:00,2024-10-26,2024-10-22 21:20:00,2024-10-26,14.266250
5,Borsig Amp Fest,festivals,"[festival, music]",510,15312,2024-10-26T00:00:00,NaN,"[13.4137698383, 52.5393412479]",2024-10-26,2024-10-22 00:00:00,NaT,NaT,2024-10-26,14.266250
6,RaveCage w/ AMBAM,community,"[concert, music]",900,19579,2024-10-25T23:00:00,NaN,"[13.409103, 52.522664]",2024-10-25,2024-10-22 23:00:00,NaT,NaT,2024-10-25,14.090000
7,Nikki Nair,concerts,"[concert, music]",508,16177,2024-10-25T23:00:00,2024-10-26T05:40:00,"[13.4197619, 52.5106031]",2024-10-25,2024-10-22 23:00:00,2024-10-26,2024-10-22 05:40:00,2024-10-25,14.090000
8,Das perfekte Geheimnis,performing-arts,"[entertainment, performing-arts]",749,22488,2024-10-25T19:30:00,2024-10-25T21:20:00,"[13.372268, 52.50757]",2024-10-25,2024-10-22 19:30:00,2024-10-25,2024-10-22 21:20:00,2024-10-25,14.090000
9,An ORACLE for BERLIN # The JOURNEY,conferences,"[conference, outdoor]",536,36685,2024-10-24T19:30:00,NaN,"[13.4178277, 52.5338076]",2024-10-24,2024-10-22 19:30:00,NaT,NaT,2024-10-24,12.078750
10,Das perfekte Geheimnis,performing-arts,"[entertainment, performing-arts]",749,22488,2024-10-24T19:30:00,2024-10-24T21:20:00,"[13.372268, 52.50757]",2024-10-24,2024-10-22 19:30:00,2024-10-24,2024-10-22 21:20:00,2024-10-24,12.078750
11,Sex.Talk.Period.,conferences,"[conference, health]",519,35522,2024-10-24T19:00:00,NaN,"[13.3981661, 52.535548]",2024-10-24,2024-10-22 19:00:00,NaT,NaT,2024-10-24,12.078750
12,European Metaverse Summit,conferences,[conference],500,34221,2024-10-24T09:00:00,NaN,"[13.391141, 52.509406]",2024-10-24,2024-10-22 09:00:00,NaT,NaT,2024-10-24,12.078750
13,Das perfekte Geheimnis,performing-arts,"[entertainment, performing-arts]",749,22488,2024-10-23T19:30:00,2024-10-23T21:20:00,"[13.372268, 52.50757]",2024-10-23,2024-10-22 19:30:00,2024-10-23,2024-10-22 21:20:00,2024-10-23,11.650000
14,"GITEX EUROPE on Tour, Informations-Roadshow | ...",expos,"[expo, science, technology]",1083,74124,2024-10-23T08:30:00,NaN,"[13.3900014, 52.5150199]",2024-10-23,2024-10-22 08:30:00,NaT,NaT,2024-10-23,11.650000
15,Das perfekte Geheimnis,performing-arts,"[entertainment, performing-arts]",749,22488,2024-10-22T19:30:00,2024-10-22T21:20:00,"[13.372268, 52.50757]",2024-10-22,2024-10-22 19:30:00,2024-10-22,2024-10-22 21:20:00,2024-10-22,10.480000